USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [CURDAT].[AdvFacECFSDetail_INSERT_DATA]    Script Date: 6/2/2025 11:38:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=========================================
AUTHER :  
CREATE DATE : 
MODIFY DATE : 
DESCRIPTION : INSERT DATA ECFS DETAILS TABLE
--EXEC [Curdat].[AdvFacECFSDetail_INSERT_DATA]
============================================*/

CREATE PROCEDURE [CURDAT].[AdvFacECFSDetail_INSERT_DATA]
AS
BEGIN
   DECLARE @TIMEKEY INT=(SELECT TimeKey FROM YBL_ACS.PRO.EXTDATE_MISDB WHERE Flg='Y')


   DELETE  FROM  CURDAT.AdvFacECFSDetail WHERE EffectiveFromTimeKey=@TIMEKEY and EffectiveToTimeKey=@TIMEKEY

 

INSERT INTO YBL_ACS.CURDAT.AdvFacECFSDetail
(
AccountEntityId
,ECFSBRANCHCODE
,ECFSREFCUSTOMERID
,ECFSSourceSystemCustomerID
,ECFSCUSTOMERACID
,ECFSContractRefNo
,ECFSACOPENDT
,ECFSProductCode
,ECFSACTSEGMENTCODE
,ECFSCURRENTLIMIT
,ECFSCURRENTLIMITDT
,ECFSCURRENCYCODE
,ECFSDrawingPower
,ECFSBALANCE
,ECFSPRINCOUTSTD
,ECFSMAXDPD
,ECFSOVERDUEAMT
,ECFSOVERDUESINCEDT
,ECFSPRINCOVERDUE
,ECFSPRINCOVERDUESINCEDT
,ECFSINTOVERDUE
,ECFSINTOVERDUESINCEDT
,ECFSOTHEROVERDUE
,ECFSFIRSTDTOFDISB
,ECFSINTTRATE
,ECFSAssetClass
,EffectiveFromTimeKey
,EffectiveToTimeKey

)

SELECT 
F.AccountEntityID AS AccountEntityID
,A.AccountBranchCode AS ECFSAccountBranchCode
,A.FCR_CustomerID AS  ECFSREFCUSTOMERID
,A.SourceSystemCustomerID AS ECFSSourceSystemCustomerID
,A.ContractRefNo AS ECFSCUSTOMERACID
,A.AccountID AS ECFSContractRefNo
,A.AccountOpenDate AS ECFSAccountOpenDate 
,A.ProductCode AS ECFSProductCode
,A.AccountSegmentCode AS  ECFSACTSEGMENTCODE
,A.CurrentLimit AS  ECFSCURRENTLIMIT
,A.CurrentLimitDate AS  ECFSCURRENTLIMITDT
,A.CurrencyCode AS  ECFSCURRENCYCODE
,A.DrawingPower AS  ECFSDrawingPower
,A.TotalBalanceOutstandingINR  AS ECFSBALANCE
,A.PrincipalOutstanding AS  ECFSPRINCOUTSTD
,A.MaxDPD AS  ECFSMAXDPD
,A.[TotalOverdueAmount ] AS   ECFSOVERDUEAMT
,A.OverdueSinceDate AS  ECFSOVERDUESINCEDT
,A.PrincipalOverdue AS   ECFSPRINCOVERDUE
,A.PrincipalOverdueSinceDate AS  ECFSPRINCOVERDUESINCEDT
,A.InterestOverdue AS  ECFSINTOVERDUE
,A.InterestOverdueSinceDate  AS  ECFSINTOVERDUESINCEDT
,A.OtherOverdue AS  ECFSOTHEROVERDUE
,A.FirstDtOfDisb AS  ECFSFIRSTDTOFDISB
,A.InterestRate AS  ECFSINTTRATE
,A.AssetClass AS  ECFSAssetClass
,@TIMEKEY  EffectiveFromTimeKey
,@TIMEKEY EffectiveToTimeKey

from YBL_ACS_MIS.[DBO].[AccountData]  A
INNER JOIN YBL_ACS.PRO.AccountMaster F ON F.CustomerAcid=A.ContractRefNo
WHERE A.SourceSystemName='ECFS'


END


GO
