USE [YBL_ACS]
GO
/****** Object:  Table [CURDAT].[AdvCustNPAdetail]    Script Date: 6/2/2025 11:38:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CURDAT].[AdvCustNPAdetail](
	[EntityKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerEntityId] [int] NOT NULL,
	[Cust_AssetClassAlt_Key] [smallint] NULL,
	[NPADt] [date] NULL,
	[LastInttChargedDt] [date] NULL,
	[DbtDt] [date] NULL,
	[LosDt] [date] NULL,
	[DefaultReason1Alt_Key] [smallint] NULL,
	[DefaultReason2Alt_Key] [smallint] NULL,
	[StaffAccountability] [char](1) NULL,
	[LastIntBooked] [date] NULL,
	[RefCustomerID] [varchar](30) NULL,
	[AuthorisationStatus] [varchar](2) NULL,
	[EffectiveFromTimeKey] [int] NOT NULL,
	[EffectiveToTimeKey] [int] NOT NULL,
	[CreatedBy] [varchar](20) NULL,
	[DateCreated] [date] NULL,
	[ModifiedBy] [varchar](20) NULL,
	[DateModified] [date] NULL,
	[ApprovedBy] [varchar](20) NULL,
	[DateApproved] [date] NULL,
	[D2Ktimestamp] [timestamp] NOT NULL,
	[MocStatus] [char](1) NULL,
	[MocDate] [date] NULL,
	[MocTypeAlt_Key] [int] NULL,
	[WillfulDefault] [char](1) NULL,
	[WillfulDefaultReasonAlt_Key] [smallint] NULL,
	[WillfulRemark] [varchar](1000) NULL,
	[WillfulDefaultDate] [date] NULL,
	[NPA_Reason] [varchar](1000) NULL,
	[SourceSystemCustomerID] [varchar](50) NULL,
	[cOVID] [char](1) NULL
) ON [PRIMARY]
GO
