USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[Outoforder_Sour_CRDR]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outoforder_Sour_CRDR](
	[UCIC] [float] NULL,
	[COD_ACCT_NO] [float] NULL,
	[COD_CUST] [float] NULL,
	[BAL_BOOK] [float] NULL,
	[AMT_OD_LIMIT] [float] NULL,
	[COD_LINE_NO] [nvarchar](255) NULL,
	[MAR19_INTEREST] [float] NULL,
	[APR19_INTEREST] [float] NULL,
	[MAY19_INTEREST] [float] NULL,
	[JUN19_INTEREST] [float] NULL,
	[JUL19_INTEREST] [float] NULL,
	[AUG19_INTEREST] [float] NULL,
	[SEP19_INTEREST] [float] NULL,
	[OCT19_INTEREST] [float] NULL,
	[NOV19_INTEREST] [float] NULL,
	[DEC19_INTEREST] [float] NULL,
	[JAN20_INTEREST] [float] NULL,
	[FEB20_INTEREST] [float] NULL,
	[MAR20_INTEREST] [float] NULL,
	[APR20_INTEREST] [float] NULL,
	[TOTAL_INTEREST] [float] NULL,
	[MAR19_CREDITS] [float] NULL,
	[APR19_CREDITS] [float] NULL,
	[MAY19_CREDITS] [float] NULL,
	[JUN19_CREDITS] [float] NULL,
	[JUL19_CREDITS] [float] NULL,
	[AUG19_CREDITS] [float] NULL,
	[SEP19_CREDITS] [float] NULL,
	[OCT19_CREDITS] [float] NULL,
	[NOV19_CREDITS] [float] NULL,
	[DEC19_CREDITS] [float] NULL,
	[JAN20_CREDITS] [float] NULL,
	[FEB20_CREDITS] [float] NULL,
	[MAR20_CREDITS] [float] NULL,
	[APR20_CREDITS] [float] NULL,
	[MAY20CREDITS] [float] NULL,
	[UCIC_MAR19_CREDITS] [float] NULL,
	[UCIC_APR19_CREDITS] [float] NULL,
	[UCIC_MAY19_CREDITS] [float] NULL,
	[UCIC_JUN19_CREDITS] [float] NULL,
	[UCIC_JUL19_CREDITS] [float] NULL,
	[UCIC_AUG19_CREDITS] [float] NULL,
	[UCIC_SEP19_CREDITS] [float] NULL,
	[UCIC_OCT19_CREDITS] [float] NULL,
	[UCIC_NOV19_CREDITS] [float] NULL,
	[UCIC_DEC19_CREDITS] [float] NULL,
	[UCIC_JAN20_CREDITS] [float] NULL,
	[UCIC_FEB20_CREDITS] [float] NULL,
	[UCIC_MAR20_CREDITS] [float] NULL,
	[UCIC_APR20_CREDITS] [float] NULL,
	[UCIC_MAY20CREDITS] [float] NULL,
	[MAR19__UCIC_INTEREST] [float] NULL,
	[APR19__UCIC_INTEREST] [float] NULL,
	[MAY19__UCIC_INTEREST] [float] NULL,
	[JUN19__UCIC_INTEREST] [float] NULL,
	[JUL19__UCIC_INTEREST] [float] NULL,
	[AUG19__UCIC_INTEREST] [float] NULL,
	[SEP19__UCIC_INTEREST] [float] NULL,
	[OCT19__UCIC_INTEREST] [float] NULL,
	[NOV19__UCIC_INTEREST] [float] NULL,
	[DEC19__UCIC_INTEREST] [float] NULL,
	[JAN20__UCIC_INTEREST] [float] NULL,
	[FEB20__UCIC_INTEREST] [float] NULL,
	[MAR20__UCIC_INTEREST] [float] NULL,
	[APR20__UCIC_INTEREST] [float] NULL,
	[TOTAL_UCIC_INTEREST] [float] NULL,
	[OVD_INT_GT_90] [float] NULL,
	[OVD_INT_90_61] [float] NULL,
	[OVD_INT_60_31] [float] NULL,
	[OVD_INT_30_0] [float] NULL,
	[MAX_DPD_DAYS] [float] NULL,
	[BUSINESS_SEGMENT] [nvarchar](255) NULL,
	[TXT_ACCT_STATUS] [nvarchar](255) NULL,
	[LIAB_NO] [float] NULL
) ON [PRIMARY]
GO
