USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[TEMPTABLE_VISIONPLUS_ASSETCLASS]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPTABLE_VISIONPLUS_ASSETCLASS](
	[SOURCESYSTEMCUSTOMERID] [varchar](30) NULL,
	[ASSETCLASS] [int] NULL,
	[NPADATE] [date] NULL
) ON [PRIMARY]
GO
