USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[Outoforder_Source_DPDGzero]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outoforder_Source_DPDGzero](
	[UCIC] [nvarchar](255) NULL,
	[MAX_DPD_DAYS] [float] NULL
) ON [PRIMARY]
GO
