USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[npa]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[npa](
	[a] [varchar](500) NULL,
	[b] [varchar](500) NULL
) ON [PRIMARY]
GO
