USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[SECURITYDETAIL]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECURITYDETAIL](
	[UCIF_ID] [varchar](50) NULL,
	[TOTALSECURITY] [decimal](38, 0) NULL
) ON [PRIMARY]
GO
