USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [dbo].[SECURITY_EROSION_ZERO_SECRIYTY_CR_BACKUP]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SECURITY_EROSION_ZERO_SECRIYTY_CR_BACKUP]
AS
BEGIN
/*STRUCTURAL CHANGES*/

--CREATE TABLE YBL_ACS_MIS_UAT.DBO.[GLD_ELCM_CONSOL_DTL_COLLATERAL](

--CUST_ID	VARCHAR(100)
--,CUST_NAME	VARCHAR(100)
--,PRODUCTFLAG	VARCHAR(100)
--,COLLATERAL_VALUE	DECIMAL(18,2)
--,SOURCE_SYSTEM_REFERENCE	VARCHAR(100)
--,SOURCE_SYSTEM	VARCHAR(100)
--,BUSINESS_SEGMENT	VARCHAR(100)
--,SECURITY_STATUS	VARCHAR(100)
--,IMACS_FACILITY_ID	VARCHAR(100)
--,FACILITY_TYPE	VARCHAR(100)
--,YEAR_MONTH	VARCHAR(100)
--,ETL_DATE	DATE
--,DATA_DT	DATE
--,APPRAISAL_DATE	DATE --NEW COLUMN FOR DATA OF VALUATION
--,DISBURSALDATE	DATE --NEW COLUMN FOR DATA OF DISBURSMENT
--)


drop TABLE DimProduct
select * INTO DimProduct FROM DIMPRODUCT_SECURITY_EROSION_ZERO_SECRIYTY_CR

drop table CURDAT.ADVSECURITYVALUEDETAIL
SELECT * into CURDAT.ADVSECURITYVALUEDETAIL from ADVSECURITYVALUEDETAIL_SECURITY_EROSION_ZERO_SECRIYTY_CR 

--EXECUTE - STEP 2 - /*ALTER QUERY*/

ALTER TABLE CURDAT.ADVSECURITYVALUEDETAIL DROP COLUMN DISBURSALDATE 


END
GO
