USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[MetaDynamicScreenField]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaDynamicScreenField](
	[EntityKey] [smallint] IDENTITY(1,1) NOT NULL,
	[MenuID] [smallint] NULL,
	[ControlID] [int] NULL,
	[ParentcontrolID] [int] NULL,
	[DisplayRowOrder] [smallint] NULL,
	[DisplayColumnOrder] [smallint] NULL,
	[ControlName] [varchar](50) NULL,
	[Label] [varchar](100) NULL,
	[ControlType] [varchar](50) NULL,
	[BaseColumnType] [varchar](10) NULL,
	[DataType] [varchar](20) NULL,
	[AutoCmpltMinLength] [tinyint] NULL,
	[DataMinLength] [smallint] NULL,
	[DataMaxLength] [smallint] NULL,
	[Placeholder] [varchar](20) NULL,
	[Col_lg] [tinyint] NULL,
	[Col_md] [tinyint] NULL,
	[Col_sm] [tinyint] NULL,
	[SourceTable] [varchar](50) NULL,
	[SourceColumn] [varchar](50) NULL,
	[IsDBPull] [bit] NULL,
	[ReferenceTableFilter] [varchar](500) NULL,
	[ReferenceTable] [varchar](500) NULL,
	[ReferenceColumn] [varchar](500) NULL,
	[RefColumnValue] [varchar](500) NULL,
	[ReferenceTableCond] [varchar](2000) NULL,
	[IsMandatory] [bit] NULL,
	[IsVisible] [bit] NULL,
	[IsEditable] [bit] NULL,
	[IsUpper] [bit] NULL,
	[IsLower] [bit] NULL,
	[ValidCode] [varchar](1) NULL,
	[DisAllowedChar] [varchar](100) NULL,
	[AllowedChar] [varchar](100) NULL,
	[OnBlur] [varchar](200) NULL,
	[OnBlurParameter] [varchar](500) NULL,
	[OnClick] [varchar](50) NULL,
	[OnClickParameter] [varchar](500) NULL,
	[OnChange] [varchar](200) NULL,
	[OnChangeParameter] [varchar](500) NULL,
	[OnKeyPress] [varchar](100) NULL,
	[OnKeyPressParameter] [varchar](500) NULL,
	[OnFormLoad] [varchar](150) NULL,
	[OnFormLoadParameter] [varchar](500) NULL,
	[DefaultValue] [varchar](100) NULL,
	[SkipColumnInQuery] [char](1) NULL,
	[SearchColumn] [char](1) NULL,
	[IsF2Button] [bit] NULL,
	[IsCloseButton] [bit] NULL,
	[Class] [varchar](50) NULL,
	[Style] [varchar](50) NULL,
	[IsParentToChild] [bit] NULL,
	[IsChildToParent] [bit] NULL,
	[ApplicableForWorkFlow] [char](1) NULL,
	[EditprevStageData] [char](1) NULL,
	[IsAlwaysDisable] [bit] NULL,
	[ScreenFieldNo] [int] NULL,
	[IsQuickSearch] [char](1) NULL,
	[EditLimitDays] [tinyint] NULL,
	[IsMocVisible] [char](1) NULL,
	[NA_For_OTS_Scheme] [varchar](50) NULL,
	[OnSaveValidate] [varchar](100) NULL,
	[OnSaveParameter] [varchar](500) NULL
) ON [PRIMARY]
GO
