USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[ProdAccountcal]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdAccountcal](
	[EntityKey] [varchar](50) NULL,
	[AccountEntityID] [varchar](50) NULL,
	[UcifEntityID] [varchar](50) NULL,
	[CustomerEntityID] [varchar](50) NULL,
	[CustomerAcID] [varchar](50) NULL,
	[RefCustomerID] [varchar](50) NULL,
	[SourceSystemCustomerID] [varchar](50) NULL,
	[UCIF_ID] [varchar](50) NULL,
	[BranchCode] [varchar](50) NULL,
	[FacilityType] [varchar](50) NULL,
	[AcOpenDt] [varchar](50) NULL,
	[FirstDtOfDisb] [varchar](50) NULL,
	[ProductAlt_Key] [varchar](50) NULL,
	[SchemeAlt_key] [varchar](50) NULL,
	[SubSectorAlt_Key] [varchar](50) NULL,
	[SplCatg1Alt_Key] [varchar](50) NULL,
	[SplCatg2Alt_Key] [varchar](50) NULL,
	[SplCatg3Alt_Key] [varchar](50) NULL,
	[SplCatg4Alt_Key] [varchar](50) NULL,
	[SourceAlt_Key] [varchar](50) NULL,
	[ActSegmentCode] [varchar](50) NULL,
	[InttRate] [varchar](50) NULL,
	[Balance] [varchar](50) NULL,
	[BalanceInCrncy] [varchar](50) NULL,
	[CurrencyAlt_Key] [varchar](50) NULL,
	[DrawingPower] [varchar](50) NULL,
	[CurrentLimit] [varchar](50) NULL,
	[CurrentLimitDt] [varchar](50) NULL,
	[ContiExcessDt] [varchar](50) NULL,
	[StockStDt] [varchar](50) NULL,
	[DebitSinceDt] [varchar](50) NULL,
	[LastCrDate] [varchar](50) NULL,
	[InttServiced] [varchar](50) NULL,
	[IntNotServicedDt] [varchar](50) NULL,
	[OverdueAmt] [varchar](50) NULL,
	[OverDueSinceDt] [varchar](50) NULL,
	[ReviewDueDt] [varchar](50) NULL,
	[SecurityValue] [varchar](50) NULL,
	[DFVAmt] [varchar](50) NULL,
	[GovtGtyAmt] [varchar](50) NULL,
	[CoverGovGur] [varchar](50) NULL,
	[WriteOffAmount] [varchar](50) NULL,
	[UnAdjSubSidy] [varchar](50) NULL,
	[CreditsinceDt] [varchar](50) NULL,
	[DPD_IntService] [varchar](50) NULL,
	[DPD_NoCredit] [varchar](50) NULL,
	[DPD_Overdrawn] [varchar](50) NULL,
	[DPD_Overdue] [varchar](50) NULL,
	[DPD_Renewal] [varchar](50) NULL,
	[DPD_StockStmt] [varchar](50) NULL,
	[DPD_Max] [varchar](50) NULL,
	[DPD_FinMaxType] [varchar](50) NULL,
	[DegReason] [varchar](500) NULL,
	[Asset_Norm] [varchar](50) NULL,
	[REFPeriodMax] [varchar](50) NULL,
	[RefPeriodOverdue] [varchar](50) NULL,
	[RefPeriodOverDrawn] [varchar](50) NULL,
	[RefPeriodNoCredit] [varchar](50) NULL,
	[RefPeriodIntService] [varchar](50) NULL,
	[RefPeriodStkStatement] [varchar](50) NULL,
	[RefPeriodReview] [varchar](50) NULL,
	[NetBalance] [varchar](50) NULL,
	[ApprRV] [varchar](50) NULL,
	[SecuredAmt] [varchar](50) NULL,
	[UnSecuredAmt] [varchar](50) NULL,
	[ProvDFV] [varchar](50) NULL,
	[Provsecured] [varchar](50) NULL,
	[ProvUnsecured] [varchar](50) NULL,
	[ProvCoverGovGur] [varchar](50) NULL,
	[AddlProvision] [varchar](50) NULL,
	[TotalProvision] [varchar](50) NULL,
	[BankProvsecured] [varchar](50) NULL,
	[BankProvUnsecured] [varchar](50) NULL,
	[BankTotalProvision] [varchar](50) NULL,
	[RBIProvsecured] [varchar](50) NULL,
	[RBIProvUnsecured] [varchar](50) NULL,
	[RBITotalProvision] [varchar](50) NULL,
	[InitialNpaDt] [varchar](50) NULL,
	[FinalNpaDt] [varchar](50) NULL,
	[SMA_Dt] [varchar](50) NULL,
	[UpgDate] [varchar](50) NULL,
	[InitialAssetClassAlt_Key] [varchar](50) NULL,
	[FinalAssetClassAlt_Key] [varchar](50) NULL,
	[ProvisionAlt_Key] [varchar](50) NULL,
	[PNPA_Reason] [varchar](500) NULL,
	[SMA_Class] [varchar](50) NULL,
	[SMA_Reason] [varchar](500) NULL,
	[FlgMoc] [varchar](50) NULL,
	[MOC_Dt] [varchar](50) NULL,
	[CommonMocTypeAlt_Key] [varchar](50) NULL,
	[DPD_SMA] [varchar](50) NULL,
	[FlgDeg] [varchar](50) NULL,
	[FlgDirtyRow] [varchar](50) NULL,
	[FlgInMonth] [varchar](50) NULL,
	[FlgSMA] [varchar](50) NULL,
	[FlgPNPA] [varchar](50) NULL,
	[FlgUpg] [varchar](50) NULL,
	[FlgFITL] [varchar](50) NULL,
	[FlgAbinitio] [varchar](50) NULL,
	[NPA_Days] [varchar](50) NULL,
	[RefPeriodOverdueUPG] [varchar](50) NULL,
	[RefPeriodOverDrawnUPG] [varchar](50) NULL,
	[RefPeriodNoCreditUPG] [varchar](50) NULL,
	[RefPeriodIntServiceUPG] [varchar](50) NULL,
	[RefPeriodStkStatementUPG] [varchar](50) NULL,
	[RefPeriodReviewUPG] [varchar](50) NULL,
	[EffectiveFromTimeKey] [varchar](50) NULL,
	[EffectiveToTimeKey] [varchar](50) NULL,
	[AppGovGur] [varchar](50) NULL,
	[UsedRV] [varchar](50) NULL,
	[ComputedClaim] [varchar](50) NULL,
	[UPG_RELAX_MSME] [varchar](50) NULL,
	[DEG_RELAX_MSME] [varchar](50) NULL,
	[PNPA_DATE] [varchar](50) NULL,
	[NPA_Reason] [varchar](500) NULL,
	[PnpaAssetClassAlt_key] [varchar](50) NULL,
	[DisbAmount] [varchar](50) NULL,
	[PrincOutStd] [varchar](50) NULL,
	[PrincOverdue] [varchar](50) NULL,
	[PrincOverdueSinceDt] [varchar](50) NULL,
	[DPD_PrincOverdue] [varchar](50) NULL,
	[IntOverdue] [varchar](50) NULL,
	[IntOverdueSinceDt] [varchar](50) NULL,
	[DPD_IntOverdueSince] [varchar](50) NULL,
	[OtherOverdue] [varchar](50) NULL,
	[OtherOverdueSinceDt] [varchar](50) NULL,
	[DPD_OtherOverdueSince] [varchar](50) NULL,
	[RelationshipNumber] [varchar](50) NULL,
	[AccountFlag] [varchar](50) NULL,
	[CommercialFlag_AltKey] [varchar](50) NULL,
	[Liability] [varchar](50) NULL,
	[CD] [varchar](50) NULL,
	[AccountStatus] [varchar](50) NULL,
	[AccountBlkCode1] [varchar](50) NULL,
	[AccountBlkCode2] [varchar](50) NULL,
	[ExposureType] [varchar](50) NULL,
	[Mtm_Value] [varchar](50) NULL,
	[BankAssetClass] [varchar](50) NULL,
	[NpaType] [varchar](50) NULL,
	[SecApp] [varchar](50) NULL,
	[BorrowerTypeID] [varchar](50) NULL,
	[LineCode] [varchar](50) NULL,
	[ProvPerSecured] [varchar](50) NULL,
	[ProvPerUnSecured] [varchar](50) NULL,
	[MOCReason] [varchar](500) NULL,
	[AddlProvisionPer] [varchar](50) NULL,
	[FlgINFRA] [varchar](50) NULL,
	[RepossessionDate] [varchar](50) NULL,
	[DateOfData] [varchar](50) NULL,
	[DerecognisedInterest1] [varchar](50) NULL,
	[DerecognisedInterest2] [varchar](50) NULL,
	[ProductCode] [varchar](50) NULL,
	[FlgLCBG] [varchar](50) NULL,
	[ACCOUNTSTATUSDebitFreeze] [varchar](50) NULL,
	[FlgRestructure] [varchar](50) NULL,
	[Buyout_Code] [varchar](50) NULL,
	[CreditAmt] [varchar](50) NULL,
	[DebitAmt] [varchar](50) NULL,
	[UnserviedInt] [varchar](50) NULL
) ON [PRIMARY]
GO
