USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[ABC#]    Script Date: 6/2/2025 11:38:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABC#](
	[UCIF_ID] [varchar](50) NULL,
	[BALANCE] [decimal](38, 2) NULL
) ON [PRIMARY]
GO
