USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[DimUserInfo_mod]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUserInfo_mod](
	[EntityKey] [int] IDENTITY(1,1) NOT NULL,
	[UserLoginID] [varchar](20) NULL,
	[UserName] [varchar](50) NULL,
	[LoginPassword] [varchar](max) NULL,
	[PasswordChanged] [char](1) NULL,
	[PasswordChangeDate] [date] NULL,
	[ChangePwdCnt] [smallint] NULL,
	[UserLocation] [varchar](10) NULL,
	[UserLocationCode] [varchar](10) NULL,
	[UserRoleAlt_Key] [smallint] NULL,
	[SuspendedUser] [char](1) NULL,
	[CurrentLoginDate] [date] NULL,
	[ResetDate] [date] NULL,
	[Activate] [char](1) NULL,
	[UserLogged] [bit] NULL,
	[UserDeletionReasonAlt_Key] [int] NULL,
	[SystemLogOut] [bit] NULL,
	[EmployeeID] [varchar](20) NULL,
	[UserType] [varchar](20) NULL,
	[IsEmployee] [char](1) NULL,
	[IsChecker] [char](1) NULL,
	[RBIFLAG] [char](1) NULL,
	[DeptGroupCode] [varchar](10) NULL,
	[Email_ID] [varchar](200) NULL,
	[SecuritQsnAlt_Key] [int] NULL,
	[SecurityAns] [varchar](200) NULL,
	[MenuId] [varchar](max) NULL,
	[AuthorisationStatus] [varchar](2) NULL,
	[EffectiveFromTimeKey] [int] NULL,
	[EffectiveToTimeKey] [int] NULL,
	[CreatedBy] [varchar](20) NULL,
	[DateCreated] [smalldatetime] NULL,
	[ModifyBy] [varchar](20) NULL,
	[DateModified] [smalldatetime] NULL,
	[ApprovedBy] [varchar](20) NULL,
	[DateApproved] [smalldatetime] NULL,
	[D2Ktimestamp] [timestamp] NOT NULL,
	[MIS_APP_USR_ID] [varchar](20) NULL,
	[MIS_APP_USR_PASS] [varchar](max) NULL,
	[UserLocationExcel] [varchar](100) NULL,
	[DesignationAlt_Key] [smallint] NULL,
	[MobileNo] [varchar](max) NULL,
	[IsCMA] [char](1) NULL,
	[Remark] [varchar](500) NULL,
	[SSOUse] [char](1) NULL,
	[SessionId] [int] NULL,
	[DimUserInfo] [int] NULL,
	[ProffEntityId] [int] NULL,
	[GradeScaleAlt_Key] [smallint] NULL,
	[EmployeeTypeAlt_Key] [smallint] NULL,
	[SOURCEALT_KEY] [varchar](30) NULL,
	[WorkFlowUserRoleAlt_Key] [smallint] NULL,
	[D2K_PSlt] [varchar](100) NULL,
	[LastRequestTime] [smalldatetime] NULL,
	[IsChecker2] [char](1) NULL,
	[SpecialUser_Flg] [varchar](1) NULL,
	[SpecialScreen_Flg] [varchar](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
