USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[RP_PAN]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RP_PAN](
	[UCIC] [float] NULL,
	[Cust ID] [float] NULL,
	[PAN of Borrower] [nvarchar](255) NULL
) ON [PRIMARY]
GO
