USE [YBL_ACS]
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 6/2/2025 11:38:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split](@String nvarchar(MAX), @Delimiter char(1))
RETURNS @Results TABLE (Items nvarchar(MAX))
AS


BEGIN
DECLARE @INDEX INT
DECLARE @SLICE nvarchar(MAX)

SELECT @INDEX = 1

IF @String IS NULL RETURN
WHILE @INDEX !=0

BEGIN

SELECT @INDEX = CHARINDEX(@Delimiter,@STRING)
IF @INDEX !=0
SELECT @SLICE = LEFT(@STRING,@INDEX - 1)
ELSE

SELECT @SLICE = @STRING
INSERT INTO @Results(Items) VALUES(@SLICE)
SELECT @STRING = RIGHT(@STRING,LEN(@STRING) - @INDEX)
IF LEN(@STRING) = 0 BREAK
END
RETURN
END
GO
