USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[MOC12]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOC12](
	[SourceSystemName] [varchar](500) NULL,
	[DateofData] [varchar](500) NULL,
	[UCIC_ID] [varchar](500) NULL,
	[FCR_CustomerID] [varchar](500) NULL,
	[SourceSystemCustomerID] [varchar](500) NULL,
	[AccountID] [varchar](500) NULL,
	[AssetClass] [varchar](500) NULL,
	[AssetSubClass] [varchar](500) NULL,
	[NPADate] [varchar](50) NULL,
	[NPAReason] [varchar](2000) NULL,
	[NPACategory] [varchar](1000) NULL,
	[EffectiveFromTimeKey] [varchar](50) NULL,
	[EffectiveToTimeKey] [varchar](50) NULL
) ON [PRIMARY]
GO
