USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[MOC8]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOC8](
	[SourceSystemName] [varchar](500) NULL,
	[DateofData] [varchar](500) NULL,
	[UCIC_ID] [varchar](500) NULL,
	[FCR_CustomerID] [varchar](500) NULL,
	[SourceSystemCustomerID] [varchar](500) NULL,
	[AccountID] [varchar](500) NULL,
	[AssetClass] [varchar](500) NULL,
	[AssetSubClass] [varchar](500) NULL,
	[NPADate] [varchar](500) NULL,
	[NPAReason] [varchar](500) NULL,
	[NPACategory] [varchar](500) NULL,
	[EffectiveFromTimeKey] [varchar](500) NULL,
	[EffectiveToTimeKey] [varchar](500) NULL
) ON [PRIMARY]
GO
