USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[DimProvision_Seg_1]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProvision_Seg_1](
	[EntityKey] [int] IDENTITY(1,1) NOT NULL,
	[Provision_Key] [smallint] NULL,
	[ProvisionAlt_Key] [smallint] NULL,
	[Segment] [varchar](20) NULL,
	[ProvisionRule] [varchar](20) NULL,
	[SecurityApplicable] [char](1) NULL,
	[ProductAlt_Key] [varchar](20) NULL,
	[ProvisionName] [varchar](255) NULL,
	[ProvisionShortNameEnum] [varchar](255) NULL,
	[ProvisionSecured] [decimal](10, 4) NULL,
	[ProvisionUnSecured] [decimal](10, 4) NULL,
	[LowerDPD] [int] NULL,
	[UpperDPD] [int] NULL,
	[AuthorisationStatus] [char](1) NULL,
	[EffectiveFromTimeKey] [int] NOT NULL,
	[EffectiveToTimeKey] [int] NOT NULL,
	[CreatedBy] [varchar](20) NULL,
	[DateCreated] [smalldatetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
	[DateModified] [smalldatetime] NULL,
	[ApprovedBy] [varchar](20) NULL,
	[DateApproved] [smalldatetime] NULL,
	[DB1_PROV] [decimal](18, 2) NULL,
	[DB2_PROV] [decimal](18, 2) NULL,
	[ProvProductCat] [varchar](255) NULL,
	[RBIProvisionSecured] [decimal](10, 4) NULL,
	[RBIProvisionUnSecured] [decimal](10, 4) NULL
) ON [PRIMARY]
GO
