USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[BalanceRecoveryAmtList]    Script Date: 6/2/2025 11:38:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BalanceRecoveryAmtList](
	[UCIF_ID] [varchar](50) NULL,
	[RECDATE] [date] NOT NULL,
	[BalRecovery] [decimal](16, 2) NULL
) ON [PRIMARY]
GO
