USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [dbo].[SECURITY_EROSION_ZERO_SECRIYTY_CR]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SECURITY_EROSION_ZERO_SECRIYTY_CR]
AS
BEGIN
/*STRUCTURAL CHANGES*/

--CREATE TABLE YBL_ACS_MIS_UAT.DBO.[GLD_ELCM_CONSOL_DTL_COLLATERAL](

--CUST_ID	VARCHAR(100)
--,CUST_NAME	VARCHAR(100)
--,PRODUCTFLAG	VARCHAR(100)
--,COLLATERAL_VALUE	DECIMAL(18,2)
--,SOURCE_SYSTEM_REFERENCE	VARCHAR(100)
--,SOURCE_SYSTEM	VARCHAR(100)
--,BUSINESS_SEGMENT	VARCHAR(100)
--,SECURITY_STATUS	VARCHAR(100)
--,IMACS_FACILITY_ID	VARCHAR(100)
--,FACILITY_TYPE	VARCHAR(100)
--,YEAR_MONTH	VARCHAR(100)
--,ETL_DATE	DATE
--,DATA_DT	DATE
--,APPRAISAL_DATE	DATE --NEW COLUMN FOR DATA OF VALUATION
--,DISBURSALDATE	DATE --NEW COLUMN FOR DATA OF DISBURSMENT
--)


--SELECT * INTO YBL_ACS_MIS.DBO.[GLD_ELCM_CONSOL_DTL_COLLATERAL_SECURITY_EROSION_ZERO_SECRIYTY_CR] 
--FROM YBL_ACS_MIS.DBO.[GLD_ELCM_CONSOL_DTL_COLLATERAL] WHERE 1=2

--SELECT * INTO DIMPRODUCT_SECURITY_EROSION_ZERO_SECRIYTY_CR FROM DIMPRODUCT

--SELECT * INTO ADVSECURITYVALUEDETAIL_SECURITY_EROSION_ZERO_SECRIYTY_CR FROM CURDAT.ADVSECURITYVALUEDETAIL WHERE 1=2

--EXECUTE - STEP 2 - /*ALTER QUERY*/

--ALTER TABLE YBL_ACS_MIS.DBO.[GLD_ELCM_CONSOL_DTL_COLLATERAL] ADD APPRAISAL_DATE DATE 

--ALTER TABLE YBL_ACS_MIS.DBO.[GLD_ELCM_CONSOL_DTL_COLLATERAL] ADD DISBURSALDATE	DATE

--ALTER TABLE CURDAT.ADVSECURITYVALUEDETAIL ADD DISBURSALDATE DATE

/*EXECUTE - STEP 3 - /*UPDATE*/*/

UPDATE DIMPRODUCT SET PRODUCTEROSION='Y' WHERE PRODUCTCODE='HIN' AND SRCSYSPRODUCTNAME='FINNONE'

UPDATE DIMPRODUCT SET PRODUCTEROSION='N' WHERE PRODUCTCODE='HIN' AND SRCSYSPRODUCTNAME='FINNONE' and EffectiveToTimeKey<>49999


END


select * from DimProduct where ProductErosion='Y' 

GO
