USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [dbo].[Rpt-Date_new]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Rpt-Date_new]
@Year INT,
@Month Varchar(20)

AS
BEGIN

if @Year ='2021' 

begin
select top 5 *  from pro.AccountCal
end

else
begin

select top 5 * from pro.customercal
end

 
END




GO
