USE [YBL_ACS]
GO
/****** Object:  View [dbo].[AdvSecurityValueDetail]    Script Date: 6/2/2025 11:38:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




 CREATE VIEW [dbo].[AdvSecurityValueDetail] 
  AS 
  SELECT * FROM CurDat.AdvSecurityValueDetail 
 
GO
