USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[ucic_new]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ucic_new](
	[UCIC] [varchar](20) NULL,
	[Cust ID] [varchar](20) NULL,
	[PAN of Borrower] [nvarchar](255) NULL
) ON [PRIMARY]
GO
