USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[DimBranch_Mod]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBranch_Mod](
	[Branch_Key] [smallint] NOT NULL,
	[BankCode] [int] NULL,
	[BranchCode] [varchar](10) NOT NULL,
	[BranchCode2] [varchar](50) NULL,
	[BranchName] [varchar](50) NULL,
	[Add_1] [varchar](30) NULL,
	[Add_2] [varchar](30) NULL,
	[Place] [varchar](20) NULL,
	[PinCode] [varchar](6) NULL,
	[CityAlt_Key] [smallint] NULL,
	[RBI_LicenceNo] [varchar](50) NULL,
	[RBI_LicenceDt] [date] NULL,
	[AuthorisationNo] [varchar](50) NULL,
	[AuthorisationDt] [date] NULL,
	[TAN] [varchar](25) NULL,
	[RBI_TierClass] [varchar](10) NULL,
	[RBI_Part_1] [varchar](7) NULL,
	[RBI_Part_2] [varchar](7) NULL,
	[BranchOpenDt] [date] NULL,
	[BranchShortName] [varchar](20) NULL,
	[BranchShortNameEnum] [varchar](20) NULL,
	[BranchGroup] [varchar](50) NULL,
	[BranchSubGroup] [varchar](50) NULL,
	[BranchSegment] [varchar](50) NULL,
	[BranchValidCode] [char](1) NULL,
	[BranchRegionAlt_Key] [smallint] NULL,
	[BranchRegion] [varchar](50) NULL,
	[BranchZoneAlt_Key] [smallint] NULL,
	[BranchZone] [varchar](50) NULL,
	[BranchAreaCategoryAlt_Key] [smallint] NULL,
	[BranchAreaCategory] [varchar](50) NULL,
	[BranchBusinessCategory] [varchar](50) NULL,
	[BranchScale] [varchar](50) NULL,
	[BranchDistrictAlt_Key] [smallint] NULL,
	[BranchDistrictName] [varchar](50) NULL,
	[BranchStateAlt_Key] [smallint] NULL,
	[BranchStateName] [varchar](50) NULL,
	[BranchTerritoryAlt_Key] [smallint] NULL,
	[BranchTerritoryName] [varchar](50) NULL,
	[CibilBrCode] [varchar](10) NULL,
	[BranchType] [varchar](50) NULL,
	[InspCentreAlt_Key] [smallint] NULL,
	[BranchBlockAlt_Key] [smallint] NULL,
	[BranchBlockName] [varchar](50) NULL,
	[CashRetentionLimit] [decimal](16, 2) NULL,
	[ADCode] [varchar](14) NULL,
	[BaseBranchCode] [varchar](10) NULL,
	[OpenTime] [varchar](10) NULL,
	[CloseTime] [varchar](10) NULL,
	[NonWorkingDay] [varchar](10) NULL,
	[NonBankingDay] [varchar](10) NULL,
	[SatOpenTime] [varchar](10) NULL,
	[SatCloseTime] [varchar](10) NULL,
	[BranchUpgradedYN] [char](1) NULL,
	[UpgradationDt] [date] NULL,
	[BranchShiftedYN] [char](1) NULL,
	[ShiftingDt] [date] NULL,
	[ReasonsForShifting] [varchar](100) NULL,
	[NewAddressUnderSameCenterYN] [char](1) NULL,
	[BranchMergedYN] [char](1) NULL,
	[MergingDt] [date] NULL,
	[MergedwithBranchCode] [varchar](10) NULL,
	[PremisesVacatedOn] [date] NULL,
	[RefBranch_Key] [smallint] NULL,
	[ExtentionCounterYN] [char](1) NULL,
	[BranchRegionHindi] [nvarchar](100) NULL,
	[BranchNameHindi] [nvarchar](100) NULL,
	[OfficialLanguageCatg] [char](1) NULL,
	[BranchCloseDt] [date] NULL,
	[BrAcNo] [char](5) NULL,
	[AllowPreDisb] [char](1) NULL,
	[AllowLogin] [char](1) NULL,
	[Acct_Upload] [char](1) NULL,
	[AllowMakerChecker] [char](1) NULL,
	[CurrentAllowPreDisb] [char](1) NULL,
	[SrcSysBranchCode] [varchar](10) NULL,
	[SrcSysBranchName] [varchar](50) NULL,
	[DestSysBranchCode] [varchar](10) NULL,
	[AuthorisationStatus] [varchar](2) NULL,
	[EffectiveFromTimeKey] [int] NULL,
	[EffectiveToTimeKey] [int] NULL,
	[CreatedBy] [varchar](20) NULL,
	[DateCreated] [smalldatetime] NULL,
	[ModifyBy] [varchar](20) NULL,
	[DateModified] [smalldatetime] NULL,
	[ApprovedBy] [varchar](20) NULL,
	[DateApproved] [smalldatetime] NULL,
	[D2Ktimestamp] [timestamp] NOT NULL,
	[Add_3] [varchar](30) NULL,
	[SubscriptionFlag] [char](1) NULL,
	[RiskCl_Altkey] [int] NULL,
	[NO_of_Arm_Gaurd] [int] NULL,
	[EMail] [varchar](100) NULL,
	[ChangedFields] [varchar](100) NULL
) ON [PRIMARY]
GO
