USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[ACCOUNTS_490]    Script Date: 6/2/2025 11:38:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS_490](
	[CustomerAcID] [varchar](50) NULL,
	[RefCustomerID] [varchar](50) NULL,
	[EffectiveFromTimeKey] [bigint] NULL,
	[EffectiveToTimeKey] [bigint] NULL
) ON [PRIMARY]
GO
