USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[JuneFCRDebitBalance]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JuneFCRDebitBalance](
	[AccountNumber] [varchar](30) NULL
) ON [PRIMARY]
GO
