USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [dbo].[DUPLICATEREMOVES]    Script Date: 6/2/2025 11:38:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DUPLICATEREMOVES]
AS
BEGIN
 
DECLARE @TIMEKEY INT = (SELECT TIMEKEY FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')
DECLARE @ProcessingDate Date = (SELECT StartDate FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')
DECLARE @SETID INT =(SELECT ISNULL(MAX(ISNULL(SETID,0)),0)+1 FROM [PRO].[PROCESSMONITOR] WHERE TIMEKEY=@TIMEKEY)

DELETE FROM    PRO.PROCESSMONITOR  WHERE TIMEKEY=@TIMEKEY

DELETE FROM YBL_ACS_MIS.DBO.BI_DataSummaryInitialStage WHERE DATA_DATE IN (SELECT  max(DATA_DATE)   FROM YBL_ACS_MIS.DBO.CUSTOMERDATA)
INSERT INTO YBL_ACS_MIS.DBO.BI_DataSummaryInitialStage
SELECT DISTINCT DATA_DATE,ETL_DATE,SOURCESYSTEMNAME,'CUSTOMER' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.DBO.CUSTOMERDATA                                                                                       
GROUP BY DATA_DATE,ETL_DATE,SOURCESYSTEMNAME                                                                                                                                                                                                         
UNION
SELECT DISTINCT DATA_DATE,ETL_DATE,SOURCESYSTEMNAME,'ACCOUNT' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.DBO.ACCOUNTDATA                                                                                                     
GROUP BY DATA_DATE,ETL_DATE,SOURCESYSTEMNAME
UNION
SELECT DISTINCT DATA_DATE,ETL_DATE,SOURCESYSTEMNAME,'CUSTOMERCA' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.DBO.CustomerData_CA                                                                                       
GROUP BY DATA_DATE,ETL_DATE,SOURCESYSTEMNAME
UNION
SELECT DISTINCT DATA_DATE,ETL_DATE,SOURCESYSTEMNAME,'ACCOUNTCA' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.DBO.AccountData_CA                                                                                       
GROUP BY DATA_DATE,ETL_DATE,SOURCESYSTEMNAME
UNION
/*------- FOR SFIN 15102023---------------------------------*/

SELECT DISTINCT DATA_DATE,ETL_DATE,SOURCESYSTEMNAME,'ACCTSF' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.DBO.AccountData_FinSmart                                                                                       
GROUP BY DATA_DATE,ETL_DATE,SOURCESYSTEMNAME

/*------- FOR SFIN 15102023---------------------------------*/
UNION
SELECT DISTINCT Date_of_Data DATA_DATE,NULL ETL_DATE,'MUREX' SOURCESYSTEMNAME,'MUREX' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.DBO.ODS_MUREX_DPD_NPA                                                                                      
GROUP BY Date_of_Data
UNION
SELECT DISTINCT  @ProcessingDate DATA_DATE,NULL ETL_DATE,'ECBF' SOURCESYSTEMNAME,'ECBF_BORROWERMST' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.[DBO].ODS_ECBF_BORROWERMST                                                                                       
UNION
SELECT DISTINCT @ProcessingDate DATA_DATE,NULL ETL_DATE,'ECBF' SOURCESYSTEMNAME,'ECBF_LBMST' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.dbo.ODS_ECBF_LBMST                                                                                       
UNION
SELECT DISTINCT @ProcessingDate DATA_DATE,NULL ETL_DATE,'ECBF' SOURCESYSTEMNAME,'ECBF_LBWHRVALUATIONREF' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.dbo.ODS_ECBF_LBWHRVALUATIONREF                                                                                       
UNION
SELECT DISTINCT @ProcessingDate DATA_DATE,NULL ETL_DATE,'ECBF' SOURCESYSTEMNAME,'ECBF_LBWHRVALUATIONMST' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.dbo.ODS_ECBF_LBWHRVALUATIONMST                                                                                       
UNION
SELECT DISTINCT @ProcessingDate DATA_DATE,NULL ETL_DATE,'ECBF' SOURCESYSTEMNAME,'ECBF_LBLOANPROCESSREF' DATA_TYPE,COUNT(1) ROW_COUNT,GETDATE() INSERT_TIME FROM YBL_ACS_MIS.dbo.ODS_ECBF_LBLOANPROCESSREF                                                                                       


INSERT INTO PRO.PROCESSMONITOR(USERID,DESCRIPTION,MODE,STARTTIME,ENDTIME,TIMEKEY,SETID)
SELECT ORIGINAL_LOGIN(),'Work for DuplicateMoves','RUNNING',GETDATE(),NULL,@TIMEKEY,@SETID
 
IF OBJECT_ID('TEMPDB..#UNIQUEGANASEVA') IS NOT NULL
   DROP TABLE #UNIQUEGANASEVA


SELECT DISTINCT * INTO #UNIQUEGANASEVA  FROM YBL_ACS_MIS..CUSTOMERDATA WHERE SOURCESYSTEMNAME='GANASEVA'

DELETE FROM YBL_ACS_MIS..CUSTOMERDATA WHERE SOURCESYSTEMNAME='GANASEVA'

INSERT INTO YBL_ACS_MIS..CUSTOMERDATA
(
BRANCHCODE
,UCIC_ID
,FCR_CUSTOMERID
,PAN
,AADHARCARD
,SOURCESYSTEMCUSTOMERID
,CUSTOMERNAME
,CUSTREVRENDATE
,CUSTOMERBUSINESSSEGMENT
,ASSETCLASS
,CUSTOMERNPA_DATE
,PARENTCUSTOMEID
,SOURCESYSTEMNAME
,IMAXID_CCUBE
,DATA_DATE
,ETL_DATE

)
SELECT 
BRANCHCODE
,UCIC_ID
,FCR_CUSTOMERID
,PAN
,AADHARCARD
,SOURCESYSTEMCUSTOMERID
,CUSTOMERNAME
,CUSTREVRENDATE
,CUSTOMERBUSINESSSEGMENT
,ASSETCLASS
,CUSTOMERNPA_DATE
,PARENTCUSTOMEID
,SOURCESYSTEMNAME
,IMAXID_CCUBE
,DATA_DATE
,ETL_DATE
FROM  #UNIQUEGANASEVA

IF OBJECT_ID('TEMPDB..#UNIQUEFINNONE') IS NOT NULL
   DROP TABLE #UNIQUEFINNONE

SELECT DISTINCT * INTO #UNIQUEFINNONE  FROM YBL_ACS_MIS..CUSTOMERDATA WHERE SOURCESYSTEMNAME='FINNONE'

DELETE FROM YBL_ACS_MIS..CUSTOMERDATA WHERE SOURCESYSTEMNAME='FINNONE'

INSERT INTO YBL_ACS_MIS..CUSTOMERDATA
(
BRANCHCODE
,UCIC_ID
,FCR_CUSTOMERID
,PAN
,AADHARCARD
,SOURCESYSTEMCUSTOMERID
,CUSTOMERNAME
,CUSTREVRENDATE
,CUSTOMERBUSINESSSEGMENT
,ASSETCLASS
,CUSTOMERNPA_DATE
,PARENTCUSTOMEID
,SOURCESYSTEMNAME
,IMAXID_CCUBE
,DATA_DATE
,ETL_DATE
)
SELECT 
BRANCHCODE
,UCIC_ID
,FCR_CUSTOMERID
,PAN
,AADHARCARD
,SOURCESYSTEMCUSTOMERID
,CUSTOMERNAME
,CUSTREVRENDATE
,CUSTOMERBUSINESSSEGMENT
,ASSETCLASS
,CUSTOMERNPA_DATE
,PARENTCUSTOMEID
,SOURCESYSTEMNAME
,IMAXID_CCUBE
,DATA_DATE
,ETL_DATE
FROM  #UNIQUEFINNONE


IF OBJECT_ID('TEMPDB..#FINNONE') IS NOT NULL
   DROP TABLE #FINNONE

SELECT   SOURCESYSTEMCUSTOMERID
INTO #FINNONE
FROM  YBL_ACS_MIS..ACCOUNTDATA  WHERE SOURCESYSTEMNAME='FINNONE'
EXCEPT 
SELECT SOURCESYSTEMCUSTOMERID FROM YBL_ACS_MIS..CUSTOMERDATA WHERE SOURCESYSTEMNAME='FINNONE'


DELETE FROM YBL_ACS_MIS..ACCOUNTDATA
  FROM YBL_ACS_MIS..ACCOUNTDATA  A
 INNER JOIN #FINNONE B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID WHERE A.SOURCESYSTEMNAME='FINNONE'
 

 IF OBJECT_ID('TEMPDB..#GANASEVA') IS NOT NULL
   DROP TABLE #GANASEVA

SELECT   SOURCESYSTEMCUSTOMERID
INTO #GANASEVA
FROM  YBL_ACS_MIS..ACCOUNTDATA  WHERE SOURCESYSTEMNAME='GANASEVA'
EXCEPT 
SELECT SOURCESYSTEMCUSTOMERID FROM YBL_ACS_MIS..CUSTOMERDATA WHERE SOURCESYSTEMNAME='GANASEVA'

DELETE FROM YBL_ACS_MIS..ACCOUNTDATA
  FROM YBL_ACS_MIS..ACCOUNTDATA  A
 INNER JOIN #GANASEVA B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID WHERE A.SOURCESYSTEMNAME='GANASEVA'
 
UPDATE B SET FCR_CUSTOMERID=A.FCR_CUSTOMERID FROM YBL_ACS_MIS.DBO.CUSTOMERDATA  A
INNER JOIN YBL_ACS_MIS.DBO.ACCOUNTDATA  B 
ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
WHERE A.SOURCESYSTEMNAME='GANASEVA'	AND B.SOURCESYSTEMNAME='GANASEVA'	
AND A.FCR_CUSTOMERID IS NOT NULL


UPDATE YBL_ACS_MIS.DBO.ACCOUNTDATA SET NPADATE=NULL WHERE  SOURCESYSTEMNAME='GANASEVA'	 AND NPADATE='1900-01-01'

;WITH GANASEVAACCOUNTDUP_CTE AS  
(  
   SELECT *, ROW_NUMBER() over (PARTITION BY ACCOUNTID ORDER BY ACCOUNTID) as abc  
   FROM YBL_ACS_MIS..ACCOUNTDATA WHERE SOURCESYSTEMNAME='GANASEVA'  
)  
DELETE FROM GANASEVAACCOUNTDUP_CTE WHERE abc >1

---- IF OBJECT_ID('TEMPDB..#GANASEVAACCOUNTDUP') IS NOT NULL
----   DROP TABLE #GANASEVAACCOUNTDUP
----SELECT COUNT(*) AS NUMBER ,ACCOUNTID
----INTO #GANASEVAACCOUNTDUP
---- FROM YBL_ACS_MIS..ACCOUNTDATA
---- WHERE SOURCESYSTEMNAME='GANASEVA'
----GROUP BY ACCOUNTID
----HAVING COUNT(*)>1
----ORDER BY ACCOUNTID




--DELETE FROM YBL_ACS_MIS..ACCOUNTDATA
-- FROM YBL_ACS_MIS..ACCOUNTDATA  A
-- INNER JOIN #GANASEVAACCOUNTDUP B ON A.ACCOUNTID=B.ACCOUNTID
-- AND A.SOURCESYSTEMNAME='GANASEVA'

----New Condition Added As per Data Verification 14/10/2021 Triloki Khanna due to blank new account NPA----

UPDATE YBL_ACS_MIS.DBO.CustomerData SET UCIC_ID=NULL WHERE UCIC_ID=''
UPDATE YBL_ACS_MIS.DBO.CustomerData SET FCR_CustomerID=NULL WHERE FCR_CustomerID=''
UPDATE YBL_ACS_MIS.DBO.CustomerData SET SourceSystemCustomerID=NULL WHERE SourceSystemCustomerID=''

---30-Dec-2021 changed by Triloki
UPDATE YBL_ACS_MIS.DBO.AccountData SET FCR_CustomerID=NULL WHERE FCR_CustomerID=''
UPDATE YBL_ACS_MIS.DBO.AccountData SET SourceSystemCustomerID=NULL WHERE SourceSystemCustomerID=''

UPDATE PRO.PROCESSMONITOR SET ENDTIME=GETDATE() ,MODE='COMPLETE' WHERE IDENTITYKEY = (SELECT IDENT_CURRENT('PRO.PROCESSMONITOR')) AND  TIMEKEY=@TIMEKEY AND DESCRIPTION='Work for DuplicateMoves'

END
GO
