USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[DimGeography]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimGeography](
	[District_Key] [smallint] NOT NULL,
	[DistrictAlt_Key] [smallint] NOT NULL,
	[DistrictName] [varchar](50) NOT NULL,
	[StateAlt_Key] [smallint] NOT NULL,
	[StateName] [varchar](50) NULL,
	[TerritoryAlt_Key] [smallint] NULL,
	[TerritoryName] [varchar](50) NULL,
	[GeographyShortName] [varchar](20) NULL,
	[GeographyShortNameEnum] [varchar](20) NULL,
	[GeographyGroup] [varchar](50) NULL,
	[GeographySubGroup] [varchar](50) NULL,
	[GeographySegment] [varchar](50) NULL,
	[GeographyValidCode] [char](1) NULL,
	[IdentifiedDist] [varchar](1) NULL,
	[MajorityReligionAlt_Key] [smallint] NULL,
	[SrcSysDistrictCode] [varchar](50) NULL,
	[SrcSysDistrictName] [varchar](50) NULL,
	[DestSysDistrictCode] [varchar](10) NULL,
	[DestSysStateCode] [varchar](10) NULL,
	[AuthorisationStatus] [varchar](2) NULL,
	[UnderBanked] [char](1) NULL,
	[CreatedBy] [varchar](20) NULL,
	[DateCreated] [smalldatetime] NULL,
	[ModifyBy] [varchar](20) NULL,
	[DateModified] [smalldatetime] NULL,
	[ApprovedBy] [varchar](20) NULL,
	[DateApproved] [smalldatetime] NULL,
	[D2Ktimestamp] [timestamp] NOT NULL,
	[EffectiveFromTimeKey] [int] NULL,
	[EffectiveToTimeKey] [int] NULL
) ON [PRIMARY]
GO
