USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[ECFSFCR]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECFSFCR](
	[AccountBranchCode] [nvarchar](50) NULL,
	[FCR_CustomerID] [nvarchar](50) NULL,
	[SourceSystemCustomerID] [nvarchar](50) NULL,
	[AccountID] [nvarchar](50) NULL,
	[ContractRefNo] [nvarchar](50) NULL,
	[AccountOpenDate] [nvarchar](50) NULL,
	[FacilityCodeLineCode] [nvarchar](50) NULL,
	[FacilityLine] [nvarchar](50) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[SectorCode] [nvarchar](50) NULL,
	[AccountSegmentCode] [nvarchar](50) NULL,
	[CurrentLimit] [nvarchar](50) NULL,
	[DisbAmount] [nvarchar](50) NULL,
	[CurrentLimitDate] [nvarchar](50) NULL,
	[CurrencyCode] [nvarchar](50) NULL,
	[DrawingPower] [nvarchar](50) NULL,
	[TotalBalanceOutstandingINR] [nvarchar](50) NULL,
	[BalanceInCurrency] [nvarchar](50) NULL,
	[PrincipalOutstanding] [nvarchar](50) NULL,
	[MaxDPD] [nvarchar](50) NULL,
	[TotalOverdueAmount] [nvarchar](50) NULL,
	[OverdueSinceDate] [nvarchar](50) NULL,
	[PrincipalOverdue] [nvarchar](50) NULL,
	[PrincipalOverdueSinceDate] [nvarchar](50) NULL,
	[PrincipalOverdueDPD] [nvarchar](50) NULL,
	[InterestOverdue] [nvarchar](50) NULL,
	[InterestOverdueSinceDate] [nvarchar](50) NULL,
	[InterestOverdueSinceDPD] [nvarchar](50) NULL,
	[OtherOverdue] [nvarchar](50) NULL,
	[OtherOverdueSinceDate] [nvarchar](50) NULL,
	[OtherOverdueSinceDPD] [nvarchar](50) NULL,
	[SbaCaaTodDate] [nvarchar](50) NULL,
	[LastCreditDate] [nvarchar](50) NULL,
	[ContinuousExcessSinceDate] [nvarchar](50) NULL,
	[DPD_CCOD] [nvarchar](50) NULL,
	[FirstDtOfDisb] [nvarchar](50) NULL,
	[InterestRate] [nvarchar](50) NULL,
	[StockStatementDate] [nvarchar](50) NULL,
	[GovernmentGuaranteeAmount] [nvarchar](50) NULL,
	[WriteOffAmount] [nvarchar](50) NULL,
	[UnAdjustSubSidy] [nvarchar](50) NULL,
	[AssetClass] [nvarchar](50) NULL,
	[NPADate] [nvarchar](50) NULL,
	[SourceSystemName] [nvarchar](50) NULL,
	[RelationshipNumber] [nvarchar](50) NULL,
	[AccountFlag] [nvarchar](50) NULL,
	[CommercialFlag] [nvarchar](50) NULL,
	[Liability] [nvarchar](50) NULL,
	[CD] [nvarchar](50) NULL,
	[Accountstatus] [nvarchar](50) NULL,
	[AccountBlkCode1] [nvarchar](50) NULL,
	[AccountBlkCode2] [nvarchar](50) NULL,
	[DateOfData] [nvarchar](50) NULL,
	[Data_Date] [nvarchar](50) NULL,
	[Etl_Date] [nvarchar](50) NULL,
	[RM_CODE] [nvarchar](50) NULL,
	[RM_NAME] [nvarchar](50) NULL,
	[TL_CODE] [nvarchar](50) NULL,
	[TL_NAME] [nvarchar](50) NULL,
	[FCRAccountStatus] [nvarchar](50) NULL,
	[Secured_FD_CC] [nvarchar](50) NULL,
	[Restr_Flag] [nvarchar](50) NULL,
	[Buyout_Code] [nvarchar](50) NULL
) ON [PRIMARY]
GO
