USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[pro1000]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro1000](
	[EntityKey] [int] NOT NULL,
	[AccountEntityID] [int] NOT NULL,
	[UcifEntityID] [nvarchar](50) NOT NULL,
	[CustomerEntityID] [int] NOT NULL,
	[CustomerAcID] [nvarchar](50) NOT NULL,
	[RefCustomerID] [nvarchar](50) NOT NULL,
	[SourceSystemCustomerID] [nvarchar](50) NOT NULL,
	[UCIF_ID] [nvarchar](50) NOT NULL,
	[BranchCode] [nvarchar](50) NOT NULL,
	[FacilityType] [nvarchar](50) NOT NULL,
	[AcOpenDt] [datetime2](7) NOT NULL,
	[FirstDtOfDisb] [nvarchar](50) NOT NULL,
	[ProductAlt_Key] [int] NOT NULL,
	[SchemeAlt_key] [nvarchar](50) NOT NULL,
	[SubSectorAlt_Key] [int] NOT NULL,
	[SplCatg1Alt_Key] [int] NOT NULL,
	[SplCatg2Alt_Key] [int] NOT NULL,
	[SplCatg3Alt_Key] [int] NOT NULL,
	[SplCatg4Alt_Key] [int] NOT NULL,
	[SourceAlt_Key] [int] NOT NULL,
	[ActSegmentCode] [nvarchar](50) NOT NULL,
	[InttRate] [float] NOT NULL,
	[Balance] [float] NOT NULL,
	[BalanceInCrncy] [float] NOT NULL,
	[CurrencyAlt_Key] [int] NOT NULL,
	[DrawingPower] [float] NOT NULL,
	[CurrentLimit] [float] NOT NULL,
	[CurrentLimitDt] [nvarchar](50) NOT NULL,
	[ContiExcessDt] [nvarchar](50) NOT NULL,
	[StockStDt] [nvarchar](50) NOT NULL,
	[DebitSinceDt] [nvarchar](50) NOT NULL,
	[LastCrDate] [nvarchar](50) NOT NULL,
	[InttServiced] [nvarchar](50) NOT NULL,
	[IntNotServicedDt] [nvarchar](50) NOT NULL,
	[OverdueAmt] [float] NOT NULL,
	[OverDueSinceDt] [nvarchar](50) NOT NULL,
	[ReviewDueDt] [nvarchar](50) NOT NULL,
	[SecurityValue] [nvarchar](50) NOT NULL,
	[DFVAmt] [nvarchar](50) NOT NULL,
	[GovtGtyAmt] [float] NOT NULL,
	[CoverGovGur] [float] NOT NULL,
	[WriteOffAmount] [float] NOT NULL,
	[UnAdjSubSidy] [float] NOT NULL,
	[CreditsinceDt] [nvarchar](50) NOT NULL,
	[DPD_IntService] [int] NOT NULL,
	[DPD_NoCredit] [int] NOT NULL,
	[DPD_Overdrawn] [int] NOT NULL,
	[DPD_Overdue] [int] NOT NULL,
	[DPD_Renewal] [int] NOT NULL,
	[DPD_StockStmt] [int] NOT NULL,
	[DPD_Max] [int] NOT NULL,
	[DPD_FinMaxType] [nvarchar](50) NOT NULL,
	[DegReason] [nvarchar](100) NOT NULL,
	[Asset_Norm] [nvarchar](50) NOT NULL,
	[REFPeriodMax] [nvarchar](50) NOT NULL,
	[RefPeriodOverdue] [int] NOT NULL,
	[RefPeriodOverDrawn] [int] NOT NULL,
	[RefPeriodNoCredit] [int] NOT NULL,
	[RefPeriodIntService] [int] NOT NULL,
	[RefPeriodStkStatement] [int] NOT NULL,
	[RefPeriodReview] [int] NOT NULL,
	[NetBalance] [float] NOT NULL,
	[ApprRV] [float] NOT NULL,
	[SecuredAmt] [float] NOT NULL,
	[UnSecuredAmt] [nvarchar](50) NOT NULL,
	[ProvDFV] [nvarchar](50) NOT NULL,
	[Provsecured] [float] NOT NULL,
	[ProvUnsecured] [nvarchar](50) NOT NULL,
	[ProvCoverGovGur] [float] NOT NULL,
	[AddlProvision] [nvarchar](50) NOT NULL,
	[TotalProvision] [float] NOT NULL,
	[BankProvsecured] [float] NOT NULL,
	[BankProvUnsecured] [float] NOT NULL,
	[BankTotalProvision] [float] NOT NULL,
	[RBIProvsecured] [float] NOT NULL,
	[RBIProvUnsecured] [float] NOT NULL,
	[RBITotalProvision] [float] NOT NULL,
	[InitialNpaDt] [nvarchar](50) NOT NULL,
	[FinalNpaDt] [nvarchar](50) NOT NULL,
	[SMA_Dt] [nvarchar](50) NOT NULL,
	[UpgDate] [nvarchar](50) NOT NULL,
	[InitialAssetClassAlt_Key] [int] NOT NULL,
	[FinalAssetClassAlt_Key] [int] NOT NULL,
	[ProvisionAlt_Key] [int] NOT NULL,
	[PNPA_Reason] [nvarchar](50) NOT NULL,
	[SMA_Class] [nvarchar](50) NOT NULL,
	[SMA_Reason] [nvarchar](50) NOT NULL,
	[FlgMoc] [nvarchar](50) NOT NULL,
	[MOC_Dt] [nvarchar](50) NOT NULL,
	[CommonMocTypeAlt_Key] [nvarchar](50) NOT NULL,
	[DPD_SMA] [nvarchar](50) NOT NULL,
	[FlgDeg] [nvarchar](50) NOT NULL,
	[FlgDirtyRow] [nvarchar](50) NOT NULL,
	[FlgInMonth] [nvarchar](50) NOT NULL,
	[FlgSMA] [nvarchar](50) NOT NULL,
	[FlgPNPA] [nvarchar](50) NOT NULL,
	[FlgUpg] [nvarchar](50) NOT NULL,
	[FlgFITL] [nvarchar](50) NOT NULL,
	[FlgAbinitio] [nvarchar](50) NOT NULL,
	[NPA_Days] [nvarchar](50) NOT NULL,
	[RefPeriodOverdueUPG] [int] NOT NULL,
	[RefPeriodOverDrawnUPG] [int] NOT NULL,
	[RefPeriodNoCreditUPG] [int] NOT NULL,
	[RefPeriodIntServiceUPG] [int] NOT NULL,
	[RefPeriodStkStatementUPG] [int] NOT NULL,
	[RefPeriodReviewUPG] [int] NOT NULL,
	[EffectiveFromTimeKey] [int] NOT NULL,
	[EffectiveToTimeKey] [int] NOT NULL,
	[AppGovGur] [float] NOT NULL,
	[UsedRV] [float] NOT NULL,
	[ComputedClaim] [float] NOT NULL,
	[UPG_RELAX_MSME] [nvarchar](50) NOT NULL,
	[DEG_RELAX_MSME] [nvarchar](50) NOT NULL,
	[PNPA_DATE] [nvarchar](50) NOT NULL,
	[NPA_Reason] [nvarchar](100) NOT NULL,
	[PnpaAssetClassAlt_key] [int] NOT NULL,
	[DisbAmount] [float] NOT NULL,
	[PrincOutStd] [float] NOT NULL,
	[PrincOverdue] [float] NOT NULL,
	[PrincOverdueSinceDt] [nvarchar](50) NOT NULL,
	[DPD_PrincOverdue] [int] NOT NULL,
	[IntOverdue] [float] NOT NULL,
	[IntOverdueSinceDt] [nvarchar](50) NOT NULL,
	[DPD_IntOverdueSince] [int] NOT NULL,
	[OtherOverdue] [float] NOT NULL,
	[OtherOverdueSinceDt] [nvarchar](50) NOT NULL,
	[DPD_OtherOverdueSince] [int] NOT NULL,
	[RelationshipNumber] [nvarchar](50) NOT NULL,
	[AccountFlag] [nvarchar](50) NOT NULL,
	[CommercialFlag_AltKey] [nvarchar](50) NOT NULL,
	[Liability] [nvarchar](50) NOT NULL,
	[CD] [nvarchar](50) NOT NULL,
	[AccountStatus] [nvarchar](50) NOT NULL,
	[AccountBlkCode1] [nvarchar](50) NOT NULL,
	[AccountBlkCode2] [nvarchar](50) NOT NULL,
	[ExposureType] [nvarchar](50) NOT NULL,
	[Mtm_Value] [nvarchar](50) NOT NULL,
	[BankAssetClass] [nvarchar](50) NOT NULL,
	[NpaType] [nvarchar](50) NOT NULL,
	[SecApp] [nvarchar](50) NOT NULL,
	[BorrowerTypeID] [nvarchar](50) NOT NULL,
	[LineCode] [nvarchar](50) NOT NULL,
	[ProvPerSecured] [float] NOT NULL,
	[ProvPerUnSecured] [float] NOT NULL,
	[MOCReason] [nvarchar](100) NOT NULL,
	[AddlProvisionPer] [nvarchar](50) NOT NULL,
	[FlgINFRA] [nvarchar](50) NOT NULL,
	[RepossessionDate] [nvarchar](50) NOT NULL,
	[DateOfData] [datetime2](7) NOT NULL,
	[DerecognisedInterest1] [nvarchar](50) NOT NULL,
	[DerecognisedInterest2] [nvarchar](50) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[FlgLCBG] [nvarchar](50) NOT NULL,
	[ACCOUNTSTATUSDebitFreeze] [nvarchar](50) NOT NULL,
	[FlgRestructure] [nvarchar](50) NOT NULL,
	[Buyout_Code] [nvarchar](50) NOT NULL,
	[CreditAmt] [nvarchar](50) NOT NULL,
	[DebitAmt] [nvarchar](50) NOT NULL,
	[UnserviedInt] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
