USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[MOCDATA_Final]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOCDATA_Final](
	[customeracid] [nvarchar](101) NULL
) ON [PRIMARY]
GO
