USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[TempElegibleAccount]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempElegibleAccount](
	[UCIF_ID] [varchar](50) NULL,
	[SrNo] [bigint] NULL
) ON [PRIMARY]
GO
