USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[DCCO_MAIN_19032025]    Script Date: 6/2/2025 11:38:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCCO_MAIN_19032025](
	[UCIC] [varchar](30) NULL,
	[Cust_ID] [varchar](30) NULL,
	[Line_ID] [varchar](30) NULL,
	[Utilisation] [varchar](30) NULL,
	[Project_Loan] [varchar](30) NULL,
	[Infra_NonInfra] [varchar](30) NULL,
	[Complied_Status] [varchar](30) NULL,
	[Date_of_Completion] [varchar](30) NULL,
	[Due_Date] [varchar](30) NULL,
	[Deferral_Date] [varchar](30) NULL,
	[Max_Due_Date] [varchar](30) NULL,
	[Default_Extension] [varchar](30) NULL,
	[Final_DCCO] [varchar](30) NULL,
	[EFFECTIVEFROMTIMEKEY] [int] NULL,
	[CREATED_DATE] [date] NULL,
	[MODIFY_DATE] [date] NULL,
	[ETL_DATE] [date] NULL,
	[DATA_DATE] [date] NULL,
	[CREATEDBY] [varchar](30) NULL,
	[MODIFYBY] [varchar](30) NULL,
	[EFFECTIVETOTIMEKEY] [int] NULL
) ON [PRIMARY]
GO
