USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[ReverseFeed_VisionPlus_30032023]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReverseFeed_VisionPlus_30032023](
	[SrNo] [int] NULL,
	[ATHEZ-D-ORG] [varchar](3) NULL,
	[ATHEZ-D-ACCT-NBR] [varchar](19) NULL,
	[ATHEZ-D-CARD-SEQ-NBR] [varchar](4) NULL,
	[ATHEZ-D-FILE-CODE] [varchar](2) NULL,
	[ATHEZ-D-FIELD-CODE] [varchar](4) NULL,
	[ATHEZ-D-FIELD-OCCURRENCE] [varchar](4) NULL,
	[ATHEZ-D-FIELD-LENGTH] [varchar](3) NULL,
	[ATHEZ-D-BEFORE-DATA] [varchar](60) NULL,
	[ATHEZ-D-AFTER-DATA] [varchar](60) NULL,
	[ATHEZ-D-SIGNON] [varchar](20) NULL,
	[FILLER] [varchar](11) NULL,
	[ATHEZ-D-PLAN-NBR] [varchar](5) NULL,
	[ATHEZ-D-REC-NBR] [varchar](3) NULL,
	[ATHEZ-D-REC-TYPE-KEY] [varchar](2) NULL,
	[DateofData] [date] NULL,
	[EffectiveFromTimeKey] [int] NULL,
	[EffectiveToTimeKey] [int] NULL
) ON [PRIMARY]
GO
