USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[pro.customercal26791]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro.customercal26791](
	[EntityKey] [nvarchar](500) NULL,
	[BranchCode] [nvarchar](500) NULL,
	[UCIF_ID] [nvarchar](500) NULL,
	[UcifEntityID] [nvarchar](500) NULL,
	[CustomerEntityID] [nvarchar](500) NULL,
	[ParentCustomerID] [nvarchar](500) NULL,
	[RefCustomerID] [nvarchar](500) NULL,
	[SourceSystemCustomerID] [nvarchar](500) NULL,
	[CustomerName] [nvarchar](500) NULL,
	[CustSegmentCode] [nvarchar](500) NULL,
	[ConstitutionAlt_Key] [nvarchar](500) NULL,
	[PANNO] [nvarchar](500) NULL,
	[AadharCardNO] [nvarchar](500) NULL,
	[SrcAssetClassAlt_Key] [nvarchar](500) NULL,
	[SysAssetClassAlt_Key] [nvarchar](500) NULL,
	[SplCatg1Alt_Key] [nvarchar](500) NULL,
	[SplCatg2Alt_Key] [nvarchar](500) NULL,
	[SplCatg3Alt_Key] [nvarchar](500) NULL,
	[SplCatg4Alt_Key] [nvarchar](500) NULL,
	[SMA_Class_Key] [nvarchar](500) NULL,
	[PNPA_Class_Key] [nvarchar](500) NULL,
	[PrvQtrRV] [nvarchar](500) NULL,
	[CurntQtrRv] [nvarchar](500) NULL,
	[TotProvision] [nvarchar](500) NULL,
	[RBITotProvision] [nvarchar](500) NULL,
	[BankTotProvision] [nvarchar](500) NULL,
	[SrcNPA_Dt] [nvarchar](500) NULL,
	[SysNPA_Dt] [nvarchar](500) NULL,
	[DbtDt] [nvarchar](500) NULL,
	[DbtDt2] [nvarchar](500) NULL,
	[DbtDt3] [nvarchar](500) NULL,
	[LossDt] [nvarchar](500) NULL,
	[MOC_Dt] [nvarchar](500) NULL,
	[ErosionDt] [nvarchar](500) NULL,
	[SMA_Dt] [nvarchar](500) NULL,
	[PNPA_Dt] [nvarchar](500) NULL,
	[ProcessingDt] [nvarchar](500) NULL,
	[Asset_Norm] [nvarchar](500) NULL,
	[FlgDeg] [nvarchar](500) NULL,
	[FlgUpg] [nvarchar](500) NULL,
	[FlgMoc] [nvarchar](500) NULL,
	[FlgSMA] [nvarchar](500) NULL,
	[FlgProcessing] [nvarchar](500) NULL,
	[FlgErosion] [nvarchar](500) NULL,
	[FlgPNPA] [nvarchar](500) NULL,
	[FlgPercolation] [nvarchar](500) NULL,
	[FlgInMonth] [nvarchar](500) NULL,
	[FlgDirtyRow] [nvarchar](500) NULL,
	[DegDate] [nvarchar](500) NULL,
	[EffectiveFromTimeKey] [nvarchar](500) NULL,
	[EffectiveToTimeKey] [nvarchar](500) NULL,
	[CommonMocTypeAlt_Key] [nvarchar](500) NULL,
	[InMonthMark] [nvarchar](500) NULL,
	[MocStatusMark] [nvarchar](500) NULL,
	[SourceAlt_Key] [nvarchar](500) NULL,
	[BankAssetClass] [nvarchar](500) NULL,
	[Cust_Expo] [nvarchar](500) NULL,
	[MOCReason] [nvarchar](500) NULL,
	[AddlProvisionPer] [nvarchar](500) NULL,
	[FraudDt] [nvarchar](500) NULL,
	[FraudAmount] [nvarchar](500) NULL,
	[DegReason] [nvarchar](500) NULL,
	[IMAXID_CCube] [nvarchar](500) NULL,
	[DateOfData] [nvarchar](500) NULL,
	[CustMoveDescription] [nvarchar](500) NULL,
	[TotOsCust] [nvarchar](500) NULL,
	[MOCTYPE] [nvarchar](500) NULL,
	[CustomerPartnerSegment] [nvarchar](500) NULL
) ON [PRIMARY]
GO
