USE [YBL_ACS]
GO
/****** Object:  Table [dbo].[SBLCIssueBankTypeData]    Script Date: 6/2/2025 11:38:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBLCIssueBankTypeData](
	[ROW] [bigint] NULL,
	[SBLCIssuingBank] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
