USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[REVERSEFEED_ENPA_VISIONPLUS]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*=========================================
AUTHER : TRILOKI KHANNA
CREATE DATE : 12-06-2019
MODIFY DATE : 18-12-2019
DESCRIPTION : PRO.REVERSEFEED_ENPA_VISIONPLUS
--EXEC [PRO].[REVERSEFEED_ENPA_VISIONPLUS]
============================================*/

Create PROCEDURE [pro].[REVERSEFEED_ENPA_VISIONPLUS]
AS
BEGIN

DECLARE @TIMEKEY INT = (SELECT TIMEKEY FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')
DECLARE @Date DATE =(SELECT CAST(EndDate AS DATE) FROM PRO.EXTDATE_MISDB WHERE Flg='Y')
DECLARE @SETID INT =(SELECT ISNULL(MAX(ISNULL(SETID,0)),0)+1 FROM [PRO].[PROCESSMONITOR] WHERE TIMEKEY=@TIMEKEY)
 
 INSERT INTO PRO.PROCESSMONITOR(USERID,DESCRIPTION,MODE,STARTTIME,ENDTIME,TIMEKEY,SETID)
SELECT ORIGINAL_LOGIN(),'INSERT DATA FOR REVERSEFEED_ENPA_VISIONPLUS','RUNNING',GETDATE(),NULL,@TIMEKEY,@SETID

  DELETE  FROM  ReverseFeed_ENPA_Header WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
  DELETE  FROM  ReverseFeed_ENPA_Detail WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
  DELETE  FROM  ReverseFeed_ENPA_Trailer WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY

  INSERT INTO  ReverseFeed_ENPA_Header

                (

                 [ATHEZ-H-ORG]
				,[ATHEZ-H-CLIENT-ID]
				,[ATHEZ-H-DATE]
				,[ATHEZ-H-BULK-UPD-ONLINE]
                ,[FILLER]
                ,[DateofData]
                ,[EffectiveFromTimeKey]
                ,[EffectiveToTimeKey]

			)
		
  SELECT
	   '000' AS [ATHEZ-H-ORG]
	  ,'00010001' AS [ATHEZ-H-CLIENT-ID]
	  ,REPLACE(CONVERT(NVARCHAR(10),@Date, 103),'/','')		 	 	  AS [ATHEZ-H-DATE]
	  ,'' AS [ATHEZ-H-BULK-UPD-ONLINE]
	  ,('' + REPLICATE(' ',180 - LEN(''))) AS FILLER 
	  ,@Date AS DateofData
	  ,@TIMEKEY AS EffectiveFromTimeKey
	  ,@TIMEKEY AS EffectiveToTimeKey
   
 
  INSERT INTO  REVERSEFEED_ENPA_DETAIL
	(
			[SrNo]
		,[ATHEZ-D-ORG]
		,[ATHEZ-D-ACCT-NBR]
		,[ATHEZ-D-CARD-SEQ-NBR]
		,[ATHEZ-D-FILE-CODE]
		,[ATHEZ-D-FIELD-CODE]
		,[ATHEZ-D-FIELD-OCCURRENCE]
		,[ATHEZ-D-FIELD-LENGTH]
		,[ATHEZ-D-BEFORE-DATA]
		,[ATHEZ-D-AFTER-DATA]
		,[ATHEZ-D-SIGNON]
		,[FILLER]
		,[ATHEZ-D-PLAN-NBR]
		,[ATHEZ-D-REC-NBR]
		,[ATHEZ-D-REC-TYPE-KEY]
		,[DateofData]
		,[EffectiveFromTimeKey]
		,[EffectiveToTimeKey] 

	)

(
/*------------1-----------*/		
SELECT 
      1 AS SRNO
    ,'100' AS [ATHEZ-D-ORG]
	 ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'0907' AS [ATHEZ-D-FIELD-CODE]
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'011' AS  [ATHEZ-D-FIELD-LENGTH]
	-- , ('' + REPLICATE(' ',60 - LEN(''))) AS  [ATHEZ-D-BEFORE-DATA]
	,CONVERT(VARCHAR(10),(isnull(A.InitialNpaDt,''))) AS  [ATHEZ-D-BEFORE-DATA]  ----Madhur
	 ,CONVERT(VARCHAR(10),(isnull(A.FINALNPADT,''))) AS  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	  ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
--     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
--    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
--    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

--WHERE  (   A.INITIALASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY  AND A.INITIALNPADT<>A.FINALNPADT 
--		  OR ( A.INITIALASSETCLASSALT_KEY<>A.FINALASSETCLASSALT_KEY OR  A.INITIALNPADT<>A.FINALNPADT )
--		  OR ( A.INITIALASSETCLASSALT_KEY<>A.FINALASSETCLASSALT_KEY OR A.INITIALNPADT=A.FINALNPADT )
--		  	) AND  ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
--			AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
--			AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY

  FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
--WHERE  ( (A.INITIALASSETCLASSALT_KEY<>A.FINALASSETCLASSALT_KEY) OR  (isnull(A.INITIALNPADT,'1900-01-01')<>isnull(A.FINALNPADT,'1900-01-01') OR A.FLGDEG='Y') )
--	AND  ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
--   AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
--	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
--   AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
--   AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF' --2) Excluding Writeoff case from reverse feed  Changes in ENPA system as per Audit Observation 05/01/2022
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) ----Prashant added on 29062024 as per BRD Email Dated 29-06-2024 10:59am by Tejus Halkatti
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'

/*------------2-----------*/				
UNION ALL
SELECT 
        2 AS SRNO
       ,'100' AS [ATHEZ-D-ORG]
	  ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'0908' AS [ATHEZ-D-FIELD-CODE]
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'011' AS  [ATHEZ-D-FIELD-LENGTH]
	 ,CASE WHEN A.InitialAssetClassAlt_Key =1 THEN ''
	  WHEN A.InitialAssetClassAlt_Key =2 THEN 'NPA/SUB'
	  WHEN A.InitialAssetClassAlt_Key =3 THEN 'NPA/DB1'
	  WHEN A.InitialAssetClassAlt_Key =4 THEN 'NPA/DB2'
	  WHEN A.InitialAssetClassAlt_Key =5 THEN 'NPA/DB3'
	  WHEN A.InitialAssetClassAlt_Key =6 THEN 'NPA/LOS' END AS   [ATHEZ-D-BEFORE-DATA]
	 ,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD/STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA/SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA/DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA/DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA/DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA/LOS' END AS  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	 ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
      ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
    FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) ----Prashant added on 29062024 as per BRD Email Dated 29-06-2024 10:59am by Tejus Halkatti
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'
	
/*------------3-----------*/				

UNION ALL
SELECT  
      3 AS SRNO
    ,'100' AS [ATHEZ-D-ORG]
	 ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'0909' AS [ATHEZ-D-FIELD-CODE]
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'002' AS  [ATHEZ-D-FIELD-LENGTH]
	 --, ('' + REPLICATE(' ',60 - LEN(''))) AS  [ATHEZ-D-BEFORE-DATA]
	 ,CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		CASE WHEN A.NpaType ='MULTIPLE' THEN 'M'
		WHEN A.NpaType ='STICKY' THEN 'S'  ELSE 'M' end
	 ELSE
	 ' '
	 end as [ATHEZ-D-BEFORE-DATA]
	 ,CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		' '
	 ELSE
		 CASE WHEN A.NpaType ='REGULAR' THEN 'R'
		  WHEN A.NpaType ='MULTIPLE' THEN 'M'
		  WHEN A.NpaType ='STICKY' THEN 'S'  ELSE 'M' 
		 END     
	  END AS  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	 ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
        ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) ----Prashant added on 29062024 as per BRD Email Dated 29-06-2024 10:59am by Tejus Halkatti
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'

/*------------4-----------*/		 
UNION ALL
SELECT 
       4 AS SRNO
      ,'100' AS [ATHEZ-D-ORG]
	 ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'0910' AS [ATHEZ-D-FIELD-CODE]
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'002' AS  [ATHEZ-D-FIELD-LENGTH]
	 --, ('' + REPLICATE(' ',60 - LEN(''))) AS  [ATHEZ-D-BEFORE-DATA]
	 ,CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		CASE WHEN A.SOURCEALT_KEY =1  THEN 'FR'     WHEN A.SOURCEALT_KEY =2 THEN 'FC'
		  WHEN A.SOURCEALT_KEY =3   THEN 'FI'	  WHEN A.SOURCEALT_KEY =4 THEN 'CC'
		  WHEN A.SOURCEALT_KEY =5   THEN 'EC'	  WHEN A.SOURCEALT_KEY =6 THEN 'EI' 
		  WHEN A.SOURCEALT_KEY =7   THEN 'MU' 	  WHEN A.SOURCEALT_KEY =8 THEN 'ME' 
		  WHEN A.SOURCEALT_KEY =9   THEN 'EF' 	  WHEN A.SOURCEALT_KEY =10 THEN 'GA'
		END
	  ELSE
		' '
	  END AS  [ATHEZ-D-BEFORE-DATA]
	 , CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		' '
	 ELSE
		 CASE WHEN A.SOURCEALT_KEY =1  THEN 'FR'     WHEN A.SOURCEALT_KEY =2 THEN 'FC'
			  WHEN A.SOURCEALT_KEY =3   THEN 'FI'	  WHEN A.SOURCEALT_KEY =4 THEN 'CC'
			  WHEN A.SOURCEALT_KEY =5   THEN 'EC'	  WHEN A.SOURCEALT_KEY =6 THEN 'EI' 
			  WHEN A.SOURCEALT_KEY =7   THEN 'MU' 	  WHEN A.SOURCEALT_KEY =8 THEN 'ME' 
			  WHEN A.SOURCEALT_KEY =9   THEN 'EF' 	  WHEN A.SOURCEALT_KEY =10 THEN 'GA' 
		 END     
	 END AS  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	  ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) ----Prashant added on 29062024 as per BRD Email Dated 29-06-2024 10:59am by Tejus Halkatti
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'

/*------------5-----------*/		
UNION ALL
SELECT 
      5 AS SRNO
    ,'100' AS [ATHEZ-D-ORG]
	 ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'4527' AS [ATHEZ-D-FIELD-CODE]--'0125' AS [ATHEZ-D-FIELD-CODE]  --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'001' AS  [ATHEZ-D-FIELD-LENGTH]
	 --,'0' AS [ATHEZ-D-BEFORE-DATA] ---('' + REPLICATE(' ',60 - LEN(''))) AS  [ATHEZ-D-BEFORE-DATA] --Mail dated 08-May-2020 in before data '0'
	 ,CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		'1'
	  ELSE
		'0'
	  END  AS [ATHEZ-D-BEFORE-DATA]
	 --,'1'  AS  [ATHEZ-D-AFTER-DATA]---'X'  AS  [ATHEZ-D-AFTER-DATA] --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		'0'
	  ELSE
		'1'
	  END  AS  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	  ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
    FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) ----Prashant added on 29062024 as per BRD Email Dated 29-06-2024 10:59am by Tejus Halkatti
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'

/*----Prashant added on 29062024 as per BRD Email Dated 29-06-2024 10:59am by Tejus Halkatti*/
/*------------6-----------*/		
UNION ALL  
SELECT 
      6 AS SRNO
    ,'100' AS [ATHEZ-D-ORG]
	 ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'4660' AS [ATHEZ-D-FIELD-CODE]--'0125' AS [ATHEZ-D-FIELD-CODE]  --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'001' AS  [ATHEZ-D-FIELD-LENGTH]
	 --,'0' AS [ATHEZ-D-BEFORE-DATA] ---('' + REPLICATE(' ',60 - LEN(''))) AS  [ATHEZ-D-BEFORE-DATA] --Mail dated 08-May-2020 in before data '0'
	 ,CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		'0'
	  ELSE
		'2'
	  END  AS [ATHEZ-D-BEFORE-DATA]
	 --,'1'  AS  [ATHEZ-D-AFTER-DATA]---'X'  AS  [ATHEZ-D-AFTER-DATA] --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,CASE WHEN A.InitialAssetClassAlt_Key <> 1 and A.FINALASSETCLASSALT_KEY =1 then 
		'0'
	  ELSE
		'2'
	  END  AS  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	  ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
    FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) 
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'

/*------------7-----------*/	
UNION ALL 
SELECT 
      7 AS SRNO
    ,'100' AS [ATHEZ-D-ORG]
	 ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'0160' AS [ATHEZ-D-FIELD-CODE]--'0125' AS [ATHEZ-D-FIELD-CODE]  --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'001' AS  [ATHEZ-D-FIELD-LENGTH]
	 --,'0' AS [ATHEZ-D-BEFORE-DATA] ---('' + REPLICATE(' ',60 - LEN(''))) AS  [ATHEZ-D-BEFORE-DATA] --Mail dated 08-May-2020 in before data '0'
	 ,'' [ATHEZ-D-BEFORE-DATA]
	 --,'1'  AS  [ATHEZ-D-AFTER-DATA]---'X'  AS  [ATHEZ-D-AFTER-DATA] --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,'C'  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	  ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
    FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) 
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'
/*------------8-----------*/	
UNION ALL 
SELECT 
      8 AS SRNO
    ,'100' AS [ATHEZ-D-ORG]
	 ,A.CUSTOMERACID AS [ATHEZ-D-ACCT-NBR]
	 ,'0001' AS  [ATHEZ-D-CARD-SEQ-NBR]
	 ,'BS' AS [ATHEZ-D-FILE-CODE]
	 ,'0168' AS [ATHEZ-D-FIELD-CODE]--'0125' AS [ATHEZ-D-FIELD-CODE]  --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,'0000' AS [ATHEZ-D-FIELD-OCCURRENCE]
	 ,'001' AS  [ATHEZ-D-FIELD-LENGTH]
	 --,'0' AS [ATHEZ-D-BEFORE-DATA] ---('' + REPLICATE(' ',60 - LEN(''))) AS  [ATHEZ-D-BEFORE-DATA] --Mail dated 08-May-2020 in before data '0'
	 ,'' [ATHEZ-D-BEFORE-DATA]
	 --,'1'  AS  [ATHEZ-D-AFTER-DATA]---'X'  AS  [ATHEZ-D-AFTER-DATA] --Mail  dated  Wednesday, April 29, 2020 19:23 Old Requirement: Blocking authorizations for Multiple NPA account
	 ,'3'  [ATHEZ-D-AFTER-DATA]
	 , ('SYSNPA0001' + REPLICATE(' ',20 - LEN('SYSNPA0001'))) AS [ATHEZ-D-SIGNON]
	 , ('' + REPLICATE(' ',11 - LEN(''))) AS   FILLER
	 ,('' + REPLICATE(' ',5 - LEN(''))) AS [ATHEZ-D-PLAN-NBR]
	 ,('' + REPLICATE(' ',3 - LEN(''))) AS [ATHEZ-D-REC-NBR]
	 , ('' + REPLICATE(' ',2 - LEN(''))) AS [ATHEZ-D-REC-TYPE-KEY]
	  ,@DATE AS DATEOFDATA
	 ,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
    FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE 
	(
		(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
		OR ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
				OR (isnull(A.BankAssetClass,'STD/STD')='STD/STD' and A.FinalAssetClassAlt_Key>1)
				OR (isnull(A.BankAssetClass,'STD/STD')<>'STD/STD' and A.FinalAssetClassAlt_Key=1)
				OR (A.flgdeg='Y')
				OR (ISNULL(A.DPD_Overdue,0)>=180) 
		)
	)
    AND ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
    AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'


)

ORDER BY [ATHEZ-D-ACCT-NBR],SRNO


INSERT INTO  ReverseFeed_ENPA_Trailer

                (

                                [ATHEZ-T-REC-TYPE]
                                ,[ATHEZ-T-TRANS-TOTAL]
                                ,FILLER
                                ,DateofData
								,EffectiveFromTimeKey
                               ,EffectiveToTimeKey

  )

  SELECT
  
   '999' AS [ATHEZ-T-REC-TYPE]
  ,'0' AS [ATHEZ-T-TRANS-TOTAL]
  ,('' + REPLICATE(' ',191 - LEN(''))) AS FILLER 
  ,@Date AS DateofData
  ,@TIMEKEY AS EffectiveFromTimeKey
  ,@TIMEKEY AS EffectiveToTimeKey 

  IF OBJECT_ID('TEMPDB..#ReverseFeed_ENPA_Trailer') IS NOT NULL
  DROP TABLE #ReverseFeed_ENPA_Trailer

  SELECT COUNT(*) AS [ATHEZ-T-TRANS-TOTAL],EFFECTIVEFROMTIMEKEY INTO #REVERSEFEED_ENPA_TRAILER
   FROM REVERSEFEED_ENPA_DETAIL WHERE  EFFECTIVEFROMTIMEKEY=@TIMEKEY
   GROUP BY EFFECTIVEFROMTIMEKEY

   UPDATE A SET [ATHEZ-T-TRANS-TOTAL]=B.[ATHEZ-T-TRANS-TOTAL]
   FROM REVERSEFEED_ENPA_TRAILER A
   INNER JOIN #REVERSEFEED_ENPA_TRAILER B
   ON A.EFFECTIVEFROMTIMEKEY=B.EFFECTIVEFROMTIMEKEY


--IF OBJECT_ID('TEMPDB..#REVERSEFEED_ENPA_BLOCK') IS NOT NULL
  --DROP TABLE #REVERSEFEED_ENPA_BLOCK

--SELECT A.ACCOUNTBLKCODE1,A.ACCOUNTBLKCODE2,a.CustomerAcID
--INTO #REVERSEFEED_ENPA_BLOCK
 -- FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
 --   INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
--	INNER JOIN DIMASSETCLASS E ON E.ASSETCLASSALT_KEY=A.INITIALASSETCLASSALT_KEY AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY 
   -- INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
--WHERE  ( A.INITIALASSETCLASSALT_KEY<>A.FINALASSETCLASSALT_KEY OR  A.INITIALNPADT<>A.FINALNPADT )
--	AND  ISNULL(A.AccountStatus,'N')<>'Z' and DSB.SourceName='VISIONPLUS'
  -- AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	--AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY

--ALTER TABLE #REVERSEFEED_ENPA_BLOCK ADD ACCOUNTBLKCODE1VALAUE  INT
--ALTER TABLE #REVERSEFEED_ENPA_BLOCK ADD ACCOUNTBLKCODE2VALUE  INT
--ALTER TABLE #REVERSEFEED_ENPA_BLOCK ADD FINALACCOUNTBLKCODEVALUE  INT

--UPDATE A SET ACCOUNTBLKCODE1VALAUE=D.BlockCodePriority
--FROM #REVERSEFEED_ENPA_BLOCK A
--INNER JOIN dimblockcode D ON A.ACCOUNTBLKCODE1=D.BlockCode AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
--WHERE   D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>@TIMEKEY

--UPDATE A SET ACCOUNTBLKCODE2VALUE=D.BlockCodePriority
--FROM #REVERSEFEED_ENPA_BLOCK A
--INNER JOIN dimblockcode D ON A.ACCOUNTBLKCODE2=D.BlockCode AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
--WHERE   D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY

--UPDATE A SET FINALACCOUNTBLKCODEVALUE=CASE WHEN  ACCOUNTBLKCODE1VALAUE<=ACCOUNTBLKCODE2VALUE THEN '0127' ELSE '0125' END  
--FROM #REVERSEFEED_ENPA_BLOCK A

  --UPDATE A SET [ATHEZ-D-FIELD-CODE]=B.FINALACCOUNTBLKCODEVALUE
  --FROM REVERSEFEED_ENPA_DETAIL A 
  --INNER JOIN #REVERSEFEED_ENPA_BLOCK B ON A.[ATHEZ-D-ACCT-NBR]=B.CUSTOMERACID
 -- WHERE SRNO=5 AND  A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY

UPDATE REVERSEFEED_ENPA_DETAIL SET [ATHEZ-D-BEFORE-DATA]= ('' + REPLICATE(' ',60 - LEN(''))) WHERE SRNO=2 AND [ATHEZ-D-BEFORE-DATA]='NPA/SUB' AND [ATHEZ-D-AFTER-DATA]='NPA/SUB' AND   EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY
UPDATE REVERSEFEED_ENPA_DETAIL SET [ATHEZ-D-SIGNON]='SYSNPA0001' where EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY ---[ATHEZ-D-SIGNON] is null

 -------UPDATE REVERSEFEED_ENPA_DETAIL SET [ATHEZ-D-FIELD-CODE]='0125' where [ATHEZ-D-FIELD-CODE]='125' and  SRNO=5  AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY
 -------UPDATE REVERSEFEED_ENPA_DETAIL SET [ATHEZ-D-FIELD-CODE]='4527' where [ATHEZ-D-FIELD-CODE]='0125' and  SRNO=5  AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY

 UPDATE REVERSEFEED_ENPA_DETAIL SET [ATHEZ-D-FIELD-CODE]='4527' where  SRNO=5  AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY


update   ReverseFeed_ENPA_Detail set     [ATHEZ-D-BEFORE-DATA] = ''    where  SrNo=1 and [ATHEZ-D-BEFORE-DATA]='1900-01-01'   
   AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY    
update   ReverseFeed_ENPA_Detail set     [ATHEZ-D-AFTER-DATA] = ''    where  SrNo=1 and [ATHEZ-D-AFTER-DATA]='1900-01-01'  
AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY 

--Changed by 11-JAN-2022
--update   A set     [ATHEZ-D-BEFORE-DATA] = 'NONCC' from  ReverseFeed_ENPA_Detail A inner join Pro.accountcal b
--on a.[ATHEZ-D-ACCT-NBR]=b.CustomerAcID   where  SrNo=4    
--   AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND a.EFFECTIVETOTIMEKEY>=@TIMEKEY
--   AND b.InitialAssetClassAlt_Key <> 1 and b.FINALASSETCLASSALT_KEY =1

--   update   A set     [ATHEZ-D-AFTER-DATA] = 'NONCC' from  ReverseFeed_ENPA_Detail A inner join Pro.accountcal b
--on a.[ATHEZ-D-ACCT-NBR]=b.CustomerAcID   where  SrNo=4    
--   AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND a.EFFECTIVETOTIMEKEY>=@TIMEKEY
--   AND b.InitialAssetClassAlt_Key = 1 and b.FINALASSETCLASSALT_KEY <> 1



--update   A set     [ATHEZ-D-BEFORE-DATA] = 'CC' from  ReverseFeed_ENPA_Detail A inner join Pro.accountcal b
--on a.[ATHEZ-D-ACCT-NBR]=b.CustomerAcID   where  SrNo=4    
--   AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND a.EFFECTIVETOTIMEKEY>=@TIMEKEY
--    and b.InitialAssetClassAlt_Key <> 1 and b.FINALASSETCLASSALT_KEY =1

--   update   A set     [ATHEZ-D-AFTER-DATA]= 'CC' from  ReverseFeed_ENPA_Detail A inner join Pro.accountcal b
--on a.[ATHEZ-D-ACCT-NBR]=b.CustomerAcID   where  SrNo=4    
--   AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND a.EFFECTIVETOTIMEKEY>=@TIMEKEY
--   AND b.DegReason LIKE '%VISION%' AND b.InitialAssetClassAlt_Key = 1 and b.FINALASSETCLASSALT_KEY <> 1


-- SELECT 
-- REPLICATE('0',3 - LEN([ATHEZ-H-ORG])  )+ CAST([ATHEZ-H-ORG] AS VARCHAR) 
--+REPLICATE('0',8 - LEN([ATHEZ-H-CLIENT-ID])  )+ CAST([ATHEZ-H-CLIENT-ID] AS VARCHAR) 
--+REPLICATE('0',8 - LEN([ATHEZ-H-DATE])  )+ CAST([ATHEZ-H-DATE] AS VARCHAR) 
--+REPLICATE('',1 - LEN([ATHEZ-H-BULK-UPD-ONLINE])  )+ CAST([ATHEZ-H-BULK-UPD-ONLINE] AS VARCHAR) 
--+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'') + REPLICATE(' ', 180 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),''))) 
--FROM REVERSEFEED_ENPA_HEADER WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
--UNION ALL
--SELECT 
--REPLICATE('0',3 - LEN(RTRIM(LTRIM([ATHEZ-D-ORG])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-ORG])) AS VARCHAR) 
--+REPLICATE('0',19 - LEN(RTRIM(LTRIM([ATHEZ-D-ACCT-NBR])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-ACCT-NBR] ))AS VARCHAR) 
--+REPLICATE('0',4 - LEN(RTRIM(LTRIM([ATHEZ-D-CARD-SEQ-NBR])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-CARD-SEQ-NBR])) AS VARCHAR) 
--+REPLICATE('0',2 - LEN(RTRIM(LTRIM([ATHEZ-D-FILE-CODE])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FILE-CODE] ))AS VARCHAR) 
--+REPLICATE('0',4 - LEN(RTRIM(LTRIM([ATHEZ-D-FIELD-CODE])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FIELD-CODE])) AS VARCHAR) 
--+REPLICATE('0',4 - LEN(RTRIM(LTRIM([ATHEZ-D-FIELD-OCCURRENCE])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FIELD-OCCURRENCE])) AS VARCHAR) 
--+REPLICATE('0',3 - LEN(RTRIM(LTRIM([ATHEZ-D-FIELD-LENGTH])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FIELD-LENGTH])) AS VARCHAR) 
--+CAST(RTRIM(LTRIM([ATHEZ-D-BEFORE-DATA])) AS VARCHAR) + REPLICATE(' ',60 - LEN(RTRIM(LTRIM([ATHEZ-D-BEFORE-DATA]))) )
--+CAST(RTRIM(LTRIM([ATHEZ-D-AFTER-DATA])) AS VARCHAR) + REPLICATE(' ',60 - LEN(RTRIM(LTRIM([ATHEZ-D-AFTER-DATA]))) )
--+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-SIGNON]))),'') + REPLICATE(' ', 20 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-SIGNON]))),'')))  
--+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'') + REPLICATE(' ', 11 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'')))  
--+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-PLAN-NBR]))),'') + REPLICATE(' ', 5 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-PLAN-NBR]))),''))) 
--+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-NBR]))),'') + REPLICATE(' ', 3 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-NBR]))),''))) 
--+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-TYPE-KEY]))),'') + REPLICATE(' ', 2 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-TYPE-KEY]))),''))) 
--FROM REVERSEFEED_ENPA_DETAIL  WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
--UNION ALL
--SELECT 
-- REPLICATE('0',3 - LEN([ATHEZ-T-REC-TYPE])  )+ CAST([ATHEZ-T-REC-TYPE] AS VARCHAR) 
--+REPLICATE('0',6 - LEN([ATHEZ-T-TRANS-TOTAL])  )+ CAST([ATHEZ-T-TRANS-TOTAL] AS VARCHAR) 
--+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'') + REPLICATE(' ', 191 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),''))) 
--FROM ReverseFeed_ENPA_Trailer WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
 
 UPDATE PRO.PROCESSMONITOR SET ENDTIME=GETDATE() ,MODE='COMPLETE' 
WHERE IDENTITYKEY = (SELECT IDENT_CURRENT('PRO.PROCESSMONITOR'))
 AND  TIMEKEY=@TIMEKEY AND DESCRIPTION='INSERT DATA FOR REVERSEFEED_ENPA_VISIONPLUS'

END











GO
