USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[COBORROWER_DEG_UPG_MARKING_20250503]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--/*=========================================
-- AUTHER : AMAR YADAV
-- CREATE DATE : 23-10-2023
-- MODIFY DATE : 
-- DESCRIPTION :MARKING COBORROWER AS NPA
-- =============================================*/



 

CREATE PROCEDURE [pro].[COBORROWER_DEG_UPG_MARKING_20250503]--26886,'U'
	@TIMEKEY INT=49999,
	@FLG_UPG_DEG CHAR(1)='U' --------D -- FOR NPA MARKING, U FOR UPGRADE
	WITH RECOMPILE
	AS



BEGIN
DECLARE @PROCESSDATE DATE =(SELECT DATE FROM SYSDAYMATRIX WHERE TIMEKEY=@TIMEKEY)
 
IF @FLG_UPG_DEG='D'
	BEGIN
	 


	/* PREPARING CO-BORROWER DATA FOR MARKING UPGRADE */---INSERT MAINBORROWER AND COBORROWER DATA INTO TEMP TABLE
		IF OBJECT_ID('TEMPDB..#CUST_SELF_NPA') IS NOT NULL
			DROP TABLE #CUST_SELF_NPA
			SELECT B.REFCUSTOMERID,A.SOURCESYSTEMCUSTOMERID, A.CO_APPLICANT_UCIC AS UCIF_ID,PANNO
				INTO #CUST_SELF_NPA
			FROM PRO.COBORROWERDETAILS  A   
				INNER JOIN PRO.ACCOUNTCAL B 
				ON A.COBORROWERID =B.REFCUSTOMERID
				WHERE (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND  ISNULL(FINALASSETCLASSALT_KEY,1)<>1
					AND	(ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE
							OR ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN  
							OR ISNULL(B.DPD_NOCREDIT,0)>=B.REFPERIODNOCREDIT
							OR ISNULL(B.DPD_OVERDUE,0) >=B.REFPERIODOVERDUE 
							OR ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT
							OR ISNULL(B.DPD_RENEWAL,0)>=B.REFPERIODREVIEW 
							OR ISNULL(ASSET_NORM,'NORMAL')='ALWYS_NPA'  -- ADDED BY AMAR ON 16052024 - FOR ADD ALWAYS NPA ACCOUNT IN DEG CONDITION
							OR ISNULL(B.DPD_OTS,0)>0 -- ADDED BY ZAIN ON 20250228 - FOR ADD OTS ACCOUNT IN DEG CONDITION
						)
					AND ISNULL(ASSET_NORM,'NORMAL')<>'ALWYS_STD'  -- ADDED BY AMAR ON 16052024 - FOR EXCLUDE ALWAYS STD ACCOUNT DOE DEGRDAE
									GROUP BY B.REFCUSTOMERID,A.SOURCESYSTEMCUSTOMERID, A.CO_APPLICANT_UCIC,PANNO
/* ADDED BY ZAIN ON 20250228 - FOR ADD OTS ACCOUNT IN UPG CONDITION*/
	;WITH CTE_OTS AS(
				SELECT APPLICANT_UCIC FROM PRO.COBORROWERDETAILS A 
						WHERE APPLICANT_UCIC NOT IN (SELECT REFCUSTOMERID FROM #CUST_SELF_NPA B) 
								AND FLGDEG='Y' AND DEGDATE IS NOT NULL
				)UPDATE A SET A.FLGDEG=NULL,A.DEGDATE=NULL,A.UPGDATE=@PROCESSDATE,A.FLGUPG='Y'
				FROM PRO.COBORROWERDETAILS A INNER JOIN CTE_OTS B ON A.APPLICANT_UCIC=B.APPLICANT_UCIC
/* ADDED BY ZAIN ON 20250228 - FOR ADD OTS ACCOUNT IN UPG CONDITION*/

	/*07022024 - REPEADTED ABOVE CODE FOR FINDING THE SELF CUSTOMER NAP AT UCUC LEVEL*/	
			INSERT INTO #CUST_SELF_NPA 
 			SELECT B.REFCUSTOMERID,A.SOURCESYSTEMCUSTOMERID, A.CO_APPLICANT_UCIC AS UCIF_ID,PANNO
			FROM PRO.COBORROWERDETAILS    A   
			INNER JOIN  PRO.ACCOUNTCAL  B 
		ON A.CO_APPLICANT_UCIC =B.UCIF_ID
		WHERE (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
		AND  ISNULL(FINALASSETCLASSALT_KEY,1)<>1
		AND	(ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE
				OR ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN  
				OR ISNULL(B.DPD_NOCREDIT,0)>=B.REFPERIODNOCREDIT
				OR ISNULL(B.DPD_OVERDUE,0) >=B.REFPERIODOVERDUE 
				OR ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT
				OR ISNULL(B.DPD_RENEWAL,0)>=B.REFPERIODREVIEW 
				OR ISNULL(ASSET_NORM,'NORMAL')='ALWYS_NPA'  -- ADDED BY AMAR ON 16052024 - FOR ADD ALWAYS NPA ACCOUNT IN DEG CONDITION
			)
			AND ISNULL(ASSET_NORM,'NORMAL')<>'ALWYS_STD'  --- -- ADDED BY AMAR ON 16052024 - FOR EXCLUDE ALWAYS STD ACCOUNT DOE DEGRDAE
		AND ISNULL(B.UCIF_ID,'') NOT IN  (SELECT ISNULL(UCIF_ID,'') FROM #CUST_SELF_NPA)
	GROUP BY B.REFCUSTOMERID,A.SOURCESYSTEMCUSTOMERID, A.CO_APPLICANT_UCIC,PANNO


	/*07022024 - FINDING PRIMARY BORRROWER - ALRE BREACHED NPA CRITERIA TO UPGRADE DEGDATE AND DEGFLG*/	
	INSERT INTO #CUST_SELF_NPA 
 			SELECT B.REFCUSTOMERID,A.SOURCESYSTEMCUSTOMERID, A.UCIF_ID,PANNO
			FROM PRO.COBORROWERDETAILS    A   
			INNER JOIN  PRO.ACCOUNTCAL  B 
		ON A.APPLICANT_UCIC =B.UCIF_ID
		WHERE (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
		AND  ISNULL(FINALASSETCLASSALT_KEY,1)<>1
		AND	(ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE
				OR ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN  
				OR ISNULL(B.DPD_NOCREDIT,0)>=B.REFPERIODNOCREDIT
				OR ISNULL(B.DPD_OVERDUE,0) >=B.REFPERIODOVERDUE 
				OR ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT
				OR ISNULL(B.DPD_RENEWAL,0)>=B.REFPERIODREVIEW 
				OR ISNULL(ASSET_NORM,'NORMAL')='ALWYS_NPA'  -- ADDED BY AMAR ON 16052024 - FOR ADD ALWAYS NPA ACCOUNT IN DEG CONDITION
			)
			AND ISNULL(ASSET_NORM,'NORMAL')<>'ALWYS_STD'  --- -- ADDED BY AMAR ON 16052024 - FOR EXCLUDE ALWAYS STD ACCOUNT DOE DEGRDAE		AND ISNULL(B.UCIF_ID,'') NOT IN  (SELECT ISNULL(UCIF_ID,'') FROM #CUST_SELF_NPA)
	GROUP BY B.REFCUSTOMERID,A.SOURCESYSTEMCUSTOMERID, A.UCIF_ID,PANNO



			

			/*UPDATE DEG DATE AND FLAG FOR THE CUSTOMERS UNDER NPA CRITERIA*/
				UPDATE A
					 SET     A.DEGDATE=@PROCESSDATE
						,A.FLGDEG='Y'
						,FLGUPG='N'
						,UPGDATE =NULL
                         			,A.CO_ASSETCLASSALT_KEY=2
						,A.CO_NPADATE=@PROCESSDATE
				FROM PRO.COBORROWERDETAILS A 
					INNER JOIN #CUST_SELF_NPA B
						ON A.REFCUSTOMERID=B.REFCUSTOMERID
						AND (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					INNER JOIN PRO.CUSTOMERCAL C
						ON A.REFCUSTOMERID=C.REFCUSTOMERID
						AND ISNULL(C.TOTOSCUST,0)>0
					WHERE ISNULL(A.FLGDEG,'N')='N'
			/*DEG COBORROWER WHERE COBORROWER AND PRIMARY BORROWER HAVE A VICE VERSA RELATION BY ZAIN 0N 20241226*/
			
		IF OBJECT_ID('TEMPDB..#COBO_VICEVERSA_RELATION1') IS NOT NULL
			DROP TABLE #COBO_VICEVERSA_RELATION1
			
			SELECT DISTINCT CO_APPLICANT_UCIC,APPLICANT_UCIC 
				INTO #COBO_VICEVERSA_RELATION1 
			FROM #CUST_SELF_NPA A INNER JOIN PRO.COBORROWERDETAILS B 
			ON A.UCIF_ID=B.APPLICANT_UCIC
			WHERE B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY

		IF OBJECT_ID('TEMPDB..#COBO_VICEVERSA_RELATION') IS NOT NULL
			DROP TABLE #COBO_VICEVERSA_RELATION
			
			SELECT DISTINCT B.APPLICANT_UCIC INTO #COBO_VICEVERSA_RELATION FROM #COBO_VICEVERSA_RELATION1 A
			INNER JOIN PRO.COBORROWERDETAILS B  
			ON A.CO_APPLICANT_UCIC=B.APPLICANT_UCIC
				AND A.APPLICANT_UCIC=B.CO_APPLICANT_UCIC
				WHERE B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY
				AND ISNULL(B.FLGDEG,'N')='N' 


				UPDATE A
					 SET     A.DEGDATE=@PROCESSDATE--'2024-11-18'
						,A.FLGDEG='Y'
						,FLGUPG='N'
						,UPGDATE =NULL
                         			,A.CO_ASSETCLASSALT_KEY=2
						,A.CO_NPADATE=@PROCESSDATE--'2024-11-18'
				 FROM PRO.COBORROWERDETAILS A INNER JOIN #COBO_VICEVERSA_RELATION B
				ON A.APPLICANT_UCIC=B.APPLICANT_UCIC
				INNER JOIN PRO.ACCOUNTCAL C ON A.APPLICANT_UCIC=C.RefCustomerID
					WHERE ISNULL(A.FLGDEG,'N')='N'
						AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
						AND ISNULL(C.FlgDeg,'')='Y'

				/*DEG COBORROWER WHERE COBORROWER AND PRIMARY BORROWER HAVE A VICE VERSA RELATION BY ZAIN 0N 20241226 END*/

				/*UPDATE DEG DATE AND FLAG FOR THE SOURCESYSTEMCUSTOMERID UNDER NPA CRITERIA*/
				UPDATE A
					 SET A.DEGDATE=@PROCESSDATE
						,A.FLGDEG='Y'
						,FLGUPG='N'
						,UPGDATE =NULL
                        			,A.CO_ASSETCLASSALT_KEY=2
						,A.CO_NPADATE=@PROCESSDATE
				FROM PRO.COBORROWERDETAILS A 
					INNER JOIN #CUST_SELF_NPA B
						ON A.REFCUSTOMERID=B.REFCUSTOMERID
						AND (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					INNER JOIN PRO.CUSTOMERCAL C
						ON A.SOURCESYSTEMCUSTOMERID=C.SOURCESYSTEMCUSTOMERID
						AND ISNULL(C.TOTOSCUST,0)>0
					WHERE ISNULL(A.FLGDEG,'N')='N' AND A.SOURCESYSTEMCUSTOMERID IS NOT NULL

				/*UPDATE DEG DATE AND FLAG FOR THE UCIF ID UNDER NPA CRITERIA*/
				UPDATE A
					 SET    A.DEGDATE=@PROCESSDATE
						,A.FLGDEG='Y'
						,FLGUPG='N'
						,UPGDATE =NULL
                        			,A.CO_ASSETCLASSALT_KEY=2
						,A.CO_NPADATE=@PROCESSDATE
				FROM PRO.COBORROWERDETAILS A 
					INNER JOIN #CUST_SELF_NPA B
						ON A.REFCUSTOMERID=B.REFCUSTOMERID
						AND (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					INNER JOIN PRO.CUSTOMERCAL C
						ON A.UCIF_ID=C.UCIF_ID
						--AND ISNULL(C.TOTOSCUST,0)>0
					WHERE ISNULL(A.FLGDEG,'N')='N' AND A.UCIF_ID IS NOT NULL

	
				/*UPDATE DEG DATE AND FLAG FOR THE PANNO UNDER NPA CRITERIA*/
				UPDATE A
					 SET    A.DEGDATE=@PROCESSDATE
						,A.FLGDEG='Y'
						,FLGUPG='N'
						,UPGDATE =NULL
                        			,A.CO_ASSETCLASSALT_KEY=2
						,A.CO_NPADATE=@PROCESSDATE   
				FROM PRO.COBORROWERDETAILS A 
					INNER JOIN #CUST_SELF_NPA B
						ON A.REFCUSTOMERID=B.REFCUSTOMERID
						AND (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					INNER JOIN PRO.CUSTOMERCAL C
						ON A.PANNO=C.PANNO
						AND ISNULL(C.TOTOSCUST,0)>0
					WHERE ISNULL(A.FLGDEG,'N')='N' AND A.PANNO IS NOT NULL


				/*AMAR -04122023 CALCULATE DEGRADE DATE - SAME AS NPA DATE CALCULATION LOGIC */
					IF OBJECT_ID('TEMPDB..#TEMPTABLEDPD_COBO') IS NOT NULL
							DROP TABLE #TEMPTABLEDPD_COBO

						 SELECT A.CUSTOMERACID
								,CASE WHEN  ISNULL(A.DPD_INTSERVICE,0)>=ISNULL(A.REFPERIODINTSERVICE,0)		THEN A.DPD_INTSERVICE  ELSE 0   END DPD_INTSERVICE,  
								 CASE WHEN  ISNULL(A.DPD_NOCREDIT,0)>=ISNULL(A.REFPERIODNOCREDIT,0)			THEN A.DPD_NOCREDIT    ELSE 0   END DPD_NOCREDIT,  
								 CASE WHEN  ISNULL(A.DPD_OVERDRAWN,0)>=ISNULL(A.REFPERIODOVERDRAWN	,0)	    THEN A.DPD_OVERDRAWN   ELSE 0   END DPD_OVERDRAWN,  
								 CASE WHEN  ISNULL(A.DPD_OVERDUE,0)>=ISNULL(A.REFPERIODOVERDUE	,0)		    THEN A.DPD_OVERDUE     ELSE 0   END DPD_OVERDUE , 
								 CASE WHEN  ISNULL(A.DPD_RENEWAL,0)>=ISNULL(A.REFPERIODREVIEW	,0)			THEN A.DPD_RENEWAL     ELSE 0   END  DPD_RENEWAL ,
								 CASE WHEN  ISNULL(A.DPD_STOCKSTMT,0)>=ISNULL(A.REFPERIODSTKSTATEMENT,0)       THEN A.DPD_STOCKSTMT   ELSE 0   END DPD_STOCKSTMT  
								 INTO #TEMPTABLEDPD_COBO
								  FROM PRO.ACCOUNTCAL A 
									INNER JOIN PRO.COBORROWERDETAILS B
										ON (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
										AND A.CUSTOMERACID=B.AGREEMENTNO
									INNER JOIN PRO.COBORROWERDETAILS C --FILTERED ONLY CO-BORROWER DATA
										ON (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
										AND C.REFCUSTOMERID=B.COBORROWERID

										
								 WHERE ( 
										  ISNULL(DPD_INTSERVICE,0)>=ISNULL(REFPERIODINTSERVICE,0)
									   OR ISNULL(DPD_NOCREDIT,0)>=ISNULL(REFPERIODNOCREDIT,0)
									   OR ISNULL(DPD_OVERDRAWN,0)>=ISNULL(REFPERIODOVERDRAWN,0)
									   OR ISNULL(DPD_OVERDUE,0)>=ISNULL(REFPERIODOVERDUE,0)
									   OR ISNULL(DPD_RENEWAL,0)>=ISNULL(REFPERIODREVIEW,0)
									   OR ISNULL(DPD_STOCKSTMT,0)>=ISNULL(REFPERIODSTKSTATEMENT,0)
									  ) 
	
					  
						IF OBJECT_ID('TEMPDB..#TEMPTABLENPA') IS NOT NULL
						DROP TABLE #TEMPTABLENPA

						SELECT A.CUSTOMERACID ,CASE  WHEN (ISNULL(A.DPD_INTSERVICE,0)>=ISNULL(A.DPD_NOCREDIT,0) AND ISNULL(A.DPD_INTSERVICE,0)>=ISNULL(A.DPD_OVERDRAWN,0) AND ISNULL(A.DPD_INTSERVICE,0)>=ISNULL(A.DPD_OVERDUE,0) AND ISNULL(A.DPD_INTSERVICE,0)>=ISNULL(A.DPD_RENEWAL,0) AND ISNULL(A.DPD_INTSERVICE,0)>=ISNULL(A.DPD_STOCKSTMT,0)) 
										THEN ISNULL(A.DPD_INTSERVICE,0)
				
								WHEN (ISNULL(A.DPD_NOCREDIT,0)>=ISNULL(A.DPD_INTSERVICE,0) AND ISNULL(A.DPD_NOCREDIT,0)>=ISNULL(A.DPD_OVERDRAWN,0) AND ISNULL(A.DPD_NOCREDIT,0)>=ISNULL(A.DPD_OVERDUE,0) AND ISNULL(A.DPD_NOCREDIT,0)>=ISNULL(A.DPD_RENEWAL,0) AND ISNULL(A.DPD_NOCREDIT,0)>=ISNULL(A.DPD_STOCKSTMT,0)) 
									THEN ISNULL(A.DPD_NOCREDIT,0)
				
								WHEN (ISNULL(A.DPD_OVERDRAWN,0)>=ISNULL(A.DPD_NOCREDIT,0)  AND ISNULL(A.DPD_OVERDRAWN,0)>= ISNULL(A.DPD_INTSERVICE,0) AND  ISNULL(A.DPD_OVERDRAWN,0)>=ISNULL(A.DPD_OVERDUE,0) AND ISNULL(A.DPD_OVERDRAWN,0)>=ISNULL(A.DPD_RENEWAL,0) AND ISNULL(A.DPD_OVERDRAWN,0)>=ISNULL(A.DPD_STOCKSTMT,0))
									THEN ISNULL(A.DPD_OVERDRAWN,0)
				
								WHEN (ISNULL(A.DPD_RENEWAL,0)>=ISNULL(A.DPD_NOCREDIT ,0) AND ISNULL(A.DPD_RENEWAL,0)>= ISNULL(A.DPD_INTSERVICE ,0) AND  ISNULL(A.DPD_RENEWAL,0)>=ISNULL(A.DPD_OVERDRAWN,0)  AND   ISNULL(A.DPD_RENEWAL,0)>=ISNULL(A.DPD_OVERDUE,0)  AND ISNULL(A.DPD_RENEWAL,0) >=ISNULL(A.DPD_STOCKSTMT ,0)) 
									THEN ISNULL(A.DPD_RENEWAL,0)
				
								WHEN (ISNULL(A.DPD_OVERDUE,0)>=ISNULL(A.DPD_NOCREDIT ,0) AND ISNULL(A.DPD_OVERDUE,0)>= ISNULL(A.DPD_INTSERVICE ,0) AND  ISNULL(A.DPD_OVERDUE,0)>=ISNULL(A.DPD_OVERDRAWN,0)  AND   ISNULL(A.DPD_OVERDUE,0)>=ISNULL(A.DPD_RENEWAL,0)  AND ISNULL(A.DPD_OVERDUE,0) >=ISNULL(A.DPD_STOCKSTMT,0) )
									THEN ISNULL(A.DPD_OVERDUE,0)
				
								ELSE ISNULL(A.DPD_STOCKSTMT,0)
				
								END AS REFPERIODNPA

						INTO #TEMPTABLENPA    FROM #TEMPTABLEDPD_COBO A 	 INNER JOIN  PRO.ACCOUNTCAL B   ON A.CUSTOMERACID=B.CUSTOMERACID  

						UPDATE  A  SET DEGDATE= DATEADD(DAY,ISNULL(REFPERIODNPA,0),DATEADD(DAY,-ISNULL(REFPERIODNPA,0),@PROCESSDATE))
						FROM PRO.COBORROWERDETAILS A INNER JOIN #TEMPTABLENPA B ON A.AGREEMENTNO=B.CUSTOMERACID AND
						 (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
						WHERE  ISNULL(A.FLGDEG,'N')='Y' AND DEGDATE IS NULL

						UPDATE   A SET  A.DEGDATE=@PROCESSDATE  
						FROM PRO.COBORROWERDETAILS A 
						WHERE ISNULL(A.FLGDEG,'N')='Y'  
						AND DEGDATE IS NULL 
						AND (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)


		/* 07022024 -  UPADTING DEG FLAG AND OTHER COLUMNS IN COBORROWER DETAIL TABLE  IF ACCOUNT DEGRADE MARKED FRESH IN ACCOUNTCAL */						
		UPDATE B SET 
		 B.FLGDEG =A.FLGDEG 
		,B.DEGDATE=A.FINALNPADT
		,B.FLGUPG =A.FLGUPG 
		,B.UPGDATE=A.UPGDATE
		,B.PRI_ASSETCLASSALT_KEY = A.FINALASSETCLASSALT_KEY
		,B.PRI_NPADATE			 = A.FINALNPADT
		,B.CO_ASSETCLASSALT_KEY	 = A.FINALASSETCLASSALT_KEY
		,B.CO_NPADATE			 = A.FINALNPADT
		FROM PRO.ACCOUNTCAL  A
		INNER JOIN PRO.COBORROWERDETAILS  B 
		ON B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
		AND A.FLGDEG='Y' AND A.CUSTOMERACID=B.AGREEMENTNO 


		UPDATE B SET 
		 B.FLGDEG ='Y' 
		,B.DEGDATE=A.FINALNPADT
		,B.FLGUPG =A.FLGUPG 
		,B.UPGDATE=A.UPGDATE
		,B.PRI_ASSETCLASSALT_KEY = A.FINALASSETCLASSALT_KEY
		,B.PRI_NPADATE			 = A.FINALNPADT
		,B.CO_ASSETCLASSALT_KEY	 = A.FINALASSETCLASSALT_KEY
		,B.CO_NPADATE			 = A.FINALNPADT
	   FROM PRO.ACCOUNTCAL  A
		INNER JOIN PRO.COBORROWERDETAILS  B 
		ON  A.BANKASSETCLASS='WRITEOFF' AND A.CUSTOMERACID=B.AGREEMENTNO 
		WHERE ISNULL(B.FLGDEG ,'N')='N'

		/* AMAR - 16052024 -- UPDATE FLGDEG AND DEGDATE FOR MOC CUSTOMER MARKED AS NPA*/
UPDATE A
	SET A.FLGDEG='Y'
		,A.DEGDATE= B.SYSNPA_DT	
		,A.FLGUPG=NULL	--ADDED BY ZAIN TO PASS NULL WHERE CUSTOMER IS MARKED AS DEGRADED IN MOC ON 20241225
		,A.UPGDATE=NULL	--ADDED BY ZAIN TO PASS NULL WHERE CUSTOMER IS MARKED AS DEGRADED IN MOC ON 20241225
FROM PRO.COBORROWERDETAILS A
INNER JOIN PRO.CUSTOMERCAL B
ON A.APPLICANT_FCR_CUST_ID=B.REFCUSTOMERID
AND B.SYSASSETCLASSALT_KEY>1 AND 
(B.FLGMOC='Y' OR B.ASSET_NORM='ALWYS_NPA')

UPDATE A SET A.FLGDEG='Y'
		,A.DEGDATE= B.FINALNPADT
		,A.FLGUPG=NULL	--ADDED BY ZAIN TO PASS NULL WHERE CUSTOMER IS MARKED AS DEGRADED IN MOC ON 20241225
		,A.UPGDATE=NULL	--ADDED BY ZAIN TO PASS NULL WHERE CUSTOMER IS MARKED AS DEGRADED IN MOC ON 20241225
FROM PRO.COBORROWERDETAILS A
INNER JOIN PRO.ACCOUNTCAL B
ON A.AGREEMENTNO = B.CUSTOMERACID
AND B.FINALASSETCLASSALT_KEY>1 AND 
(B.ASSET_NORM='ALWYS_NPA' OR B.FLGMOC='Y' )





		/* 07022024 -  UPDATING PRIMARY NPA DATE AND ASSETCLASS FROM CO-BORROWER FOR FLGDEG =Y */						
		UPDATE PRO.COBORROWERDETAILS SET PRI_NPADATE=CO_NPADATE,PRI_ASSETCLASSALT_KEY=CO_ASSETCLASSALT_KEY
		WHERE  FLGDEG='Y' AND PRI_ASSETCLASSALT_KEY IS NULL  AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY  --NEW CONDITION ADDED AMAR 01 FEB 2024


/* FIND PRIMARY BORROWER'S CUSTOMERID,PANNO AND UCIFID */
			IF OBJECT_ID('TEMPDB..#CO_MARK_TO_BO_NPA') IS NOT NULL
				DROP TABLE #CO_MARK_TO_BO_NPA
				 
			SELECT B.REFCUSTOMERID, A.PANNO,A.UCIF_ID
				INTO #CO_MARK_TO_BO_NPA
			FROM PRO.CUSTOMERCAL A 
				INNER JOIN PRO.COBORROWERDETAILS B
				ON (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND B.REFCUSTOMERID=A.REFCUSTOMERID

			/* MARKING CO-BORROWER AS NPA - WPRIMARY BORROWER DEGDATE WILL BE NPA DATE FOR COBORROWER AND ASSET CLASS WILL BE SUB */
			




			
			
			UPDATE A SET A.SYSASSETCLASSALT_KEY=B.PRI_ASSETCLASSALT_KEY
				,A.SYSNPA_DT=B.DEGDATE
				
				,DEGREASON='PERCOLATION BY FINNONE PRIMARY BORROWER PAN_' + ISNULL(C.PANNO,'') + '/FCR CUST ID '+ ISNULL(C.REFCUSTOMERID,'') + '/UCIC '+ ISNULL(C.UCIF_ID,'')
			FROM PRO.CUSTOMERCAL A 
			INNER JOIN PRO.COBORROWERDETAILS B
				ON (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND B.COBORROWERID=A.REFCUSTOMERID
				--AND ISNULL(A.TOTOSCUST,0)>0
				AND A.ASSET_NORM<>'ALWYS_STD'
			INNER JOIN #CO_MARK_TO_BO_NPA C
				ON C.REFCUSTOMERID=B.REFCUSTOMERID
			WHERE A.SYSASSETCLASSALT_KEY=1
				AND B.DEGDATE IS NOT NULL

				


				UPDATE A SET A.SYSASSETCLASSALT_KEY=B.PRI_ASSETCLASSALT_KEY
				,A.SYSNPA_DT=B.DEGDATE
				
				,DEGREASON='PERCOLATION BY FINNONE PRIMARY BORROWER PAN_' + ISNULL(C.PANNO,'') + '/FCR CUST ID '+ ISNULL(C.REFCUSTOMERID,'') + '/UCIC '+ ISNULL(C.UCIF_ID,'')
			FROM PRO.CUSTOMERCAL A 
			INNER JOIN PRO.COBORROWERDETAILS B
				ON (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND B.CO_APPLICANT_UCIC=A.UCIF_ID
				--AND ISNULL(A.TOTOSCUST,0)>0
				AND A.ASSET_NORM<>'ALWYS_STD'
			INNER JOIN #CO_MARK_TO_BO_NPA C
				ON C.REFCUSTOMERID=B.REFCUSTOMERID
			WHERE A.SYSASSETCLASSALT_KEY=1
				AND B.DEGDATE IS NOT NULL

			UPDATE A SET 
				A.FINALASSETCLASSALT_KEY=B.PRI_ASSETCLASSALT_KEY
				,A.FINALNPADT=B.DEGDATE	
				,A.NPA_REASON='PERCOLATION DUE TO PRIMARY BORROWER NPA_'+ B.REFCUSTOMERID + '_'+ A.UCIF_ID 
				,DEGREASON='PERCOLATION BY FINNONE PRIMARY BORROWER PAN_' + ISNULL(B.PANNO,'') + '/FCR CUST ID '+ ISNULL(C.REFCUSTOMERID,'') + '/UCIC '+ ISNULL(C.UCIF_ID,'')
			FROM PRO.ACCOUNTCAL A 
			INNER JOIN PRO.COBORROWERDETAILS B
				ON (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND B.COBORROWERID=A.REFCUSTOMERID
				--AND ISNULL(A.BALANCE,0)>0
				AND A.ASSET_NORM<>'ALWYS_STD'
			INNER JOIN #CO_MARK_TO_BO_NPA C
				ON C.REFCUSTOMERID=B.REFCUSTOMERID
				
			WHERE A.FINALASSETCLASSALT_KEY=1
				AND B.DEGDATE IS NOT NULL		

	UPDATE A SET 
				A.FINALASSETCLASSALT_KEY=B.PRI_ASSETCLASSALT_KEY
				,A.FINALNPADT=B.DEGDATE	
				,A.NPA_REASON='PERCOLATION DUE TO PRIMARY BORROWER NPA_'+ B.REFCUSTOMERID + '_'+ A.UCIF_ID 
				,DEGREASON='PERCOLATION BY FINNONE PRIMARY BORROWER PAN_' + ISNULL(B.PANNO,'') + '/FCR CUST ID '+ ISNULL(C.REFCUSTOMERID,'') + '/UCIC '+ ISNULL(C.UCIF_ID,'')
			FROM PRO.ACCOUNTCAL A 
			INNER JOIN PRO.COBORROWERDETAILS B
				ON (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND B.CO_APPLICANT_UCIC=A.UCIF_ID
				--AND ISNULL(A.BALANCE,0)>0
				AND A.ASSET_NORM<>'ALWYS_STD'
			INNER JOIN #CO_MARK_TO_BO_NPA C
				ON C.REFCUSTOMERID=B.REFCUSTOMERID
				
			WHERE A.FINALASSETCLASSALT_KEY=1
				AND B.DEGDATE IS NOT NULL	
		
				
				
			IF OBJECT_ID('TEMPDB..##TEMPWRITEOFFREASON') IS NOT NULL
		DROP TABLE ##TEMPWRITEOFFREASON

		SELECT DISTINCT REFCUSTOMERID, UCIF_ID
		INTO ##TEMPWRITEOFFREASON
		FROM PRO.ACCOUNTCAL
		WHERE DEGREASON LIKE '%WRITE%'

		UPDATE A SET DEGREASON=A.DEGREASON  + '  ' + ' & W/O '
		  FROM PRO.ACCOUNTCAL A INNER   JOIN PRO.COBORROWERDETAILS B 
			ON  A.REFCUSTOMERID=B.COBORROWERID  AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
			INNER JOIN PRO.CUSTOMERCAL C ON C.SOURCESYSTEMCUSTOMERID=A.SOURCESYSTEMCUSTOMERID
			INNER JOIN ##TEMPWRITEOFFREASON D ON D.REFCUSTOMERID=B.REFCUSTOMERID
		 WHERE A.DEGREASON LIKE '%PRIMARY BORROWER%'

		 --SELECT * FROM PRO.COBORROWERDETAILS

		 UPDATE A SET DEGREASON=A.DEGREASON  + '  ' + ' & W/O '
				  FROM PRO.ACCOUNTCAL A INNER   JOIN PRO.COBORROWERDETAILS B 
			ON  A.REFCUSTOMERID=B.COBORROWERID  AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
			INNER JOIN PRO.CUSTOMERCAL C ON C.SOURCESYSTEMCUSTOMERID=A.SOURCESYSTEMCUSTOMERID
			INNER JOIN ##TEMPWRITEOFFREASON D ON D.UCIF_ID =B.APPLICANT_UCIC
		WHERE A.DEGREASON LIKE '%PRIMARY BORROWER%' AND  A.DEGREASON NOT LIKE '%W/O%'


		UPDATE C SET DEGREASON=C.DEGREASON  + '  ' + ' & W/O '
		  FROM PRO.ACCOUNTCAL A INNER   JOIN PRO.COBORROWERDETAILS B 
			ON  A.REFCUSTOMERID=B.COBORROWERID  AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
			INNER JOIN PRO.CUSTOMERCAL C ON C.SOURCESYSTEMCUSTOMERID=A.SOURCESYSTEMCUSTOMERID
			INNER JOIN ##TEMPWRITEOFFREASON D ON D.REFCUSTOMERID=B.REFCUSTOMERID
		WHERE C.DEGREASON LIKE '%PRIMARY BORROWERN%'

		UPDATE C SET DEGREASON=C.DEGREASON  + '  ' + ' & W/O '
				  FROM PRO.ACCOUNTCAL A INNER   JOIN PRO.COBORROWERDETAILS B 
			ON  A.REFCUSTOMERID=B.COBORROWERID  AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
			INNER JOIN PRO.CUSTOMERCAL C ON C.SOURCESYSTEMCUSTOMERID=A.SOURCESYSTEMCUSTOMERID
			INNER JOIN ##TEMPWRITEOFFREASON D ON D.UCIF_ID =B.APPLICANT_UCIC
		WHERE C.DEGREASON LIKE '%PRIMARY BORROWER%'AND  C.DEGREASON NOT LIKE '%W/O%' 


			/* FIND PRIMARY BORROWER'S CUSTOMERID,PANNO AND UCIFID */
			
			/* EXECUTING AGING PROCESS TO UPDATED ASSET CLASS AS PER NPA DATE*/
			DECLARE @SUB_MONTHS INT =(SELECT REFVALUE FROM PRO.REFPERIOD WHERE BUSINESSRULE='SUB_MONTHS' AND  EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			DECLARE @DB1_MONTHS INT =(SELECT REFVALUE FROM PRO.REFPERIOD WHERE BUSINESSRULE='DB1_MONTHS' AND  EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			DECLARE @DB2_MONTHS INT =(SELECT REFVALUE FROM PRO.REFPERIOD WHERE BUSINESSRULE='DB2_MONTHS' AND  EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)


			--UPDATE A SET A.SYSASSETCLASSALT_KEY= (
			--										CASE  WHEN  DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)>@PROCESSDATE AND B.ASSETCLASSSHORTNAME NOT IN ('DB1','DB2','DB3')  THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='SUB' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--										  WHEN  DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@DB1_MONTHS+@SUB_MONTHS,A.SYSNPA_DT)>@PROCESSDATE AND B.ASSETCLASSSHORTNAME NOT IN ('DB2','DB3') THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='DB1' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--										  WHEN  DATEADD(MONTH,@DB1_MONTHS,A.DBTDT)<=@PROCESSDATE AND  DATEADD(MONTH,@DB1_MONTHS+@DB2_MONTHS,A.DBTDT)>@PROCESSDATE AND B.ASSETCLASSSHORTNAME NOT IN ('DB3') THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='DB2' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--										   WHEN  DATEADD(MONTH,@DB1_MONTHS+@DB2_MONTHS,A.DBTDT)<=@PROCESSDATE THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='DB3'AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--											ELSE A.SYSASSETCLASSALT_KEY
			--									   END)
			--		  ,A.DBTDT= (CASE 
			--										   WHEN   DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@DB1_MONTHS+@SUB_MONTHS,A.SYSNPA_DT)>@PROCESSDATE  THEN DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)
			--										   WHEN  DATEADD(MONTH,@DB1_MONTHS,A.DBTDT)<=@PROCESSDATE AND  DATEADD(MONTH,@DB1_MONTHS+@DB2_MONTHS,A.DBTDT)>@PROCESSDATE   THEN DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)
			--										   WHEN DATEADD(MONTH,@DB1_MONTHS+@DB2_MONTHS,A.DBTDT)<=@PROCESSDATE THEN DATEADD(MONTH,(@SUB_MONTHS),A.SYSNPA_DT)
			--										   ELSE DBTDT 
			--									   END)

			--FROM PRO.CUSTOMERCAL A INNER JOIN DIMASSETCLASS B  ON A.SYSASSETCLASSALT_KEY =B.ASSETCLASSALT_KEY AND  B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
			--WHERE B.ASSETCLASSSHORTNAME NOT IN('STD','LOS') AND ISNULL(A.FLGDEG,'N')<>'Y'  AND (ISNULL(A.FLGPROCESSING,'N')='N') AND DBTDT IS NOT NULL

			----UPDATE YBL_ACS.PRO.CUSTOMERCAL  SET SYSASSETCLASSALT_KEY=SRCASSETCLASSALT_KEY WHERE SYSASSETCLASSALT_KEY IS NULL

			----ADDED AFTER FINALASSETCLASSALT_KEY NULL ISSUE  30/06/2022
			--UPDATE A SET A.SYSASSETCLASSALT_KEY= (
			--										CASE  WHEN  DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)>@PROCESSDATE   THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='SUB' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--										  WHEN  DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS,A.SYSNPA_DT)>@PROCESSDATE   THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='DB1' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--										  WHEN  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS+@DB2_MONTHS,A.SYSNPA_DT)>@PROCESSDATE THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='DB2' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--										   WHEN  DATEADD(MONTH,(@DB1_MONTHS+@SUB_MONTHS+@DB2_MONTHS),A.SYSNPA_DT)<=@PROCESSDATE  THEN (SELECT ASSETCLASSALT_KEY FROM DIMASSETCLASS WHERE ASSETCLASSSHORTNAME='DB3' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
			--									   END)
			--		  ,A.DBTDT= (CASE 
			--										   WHEN  DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS,A.SYSNPA_DT)>@PROCESSDATE  THEN DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)
			--										   WHEN  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS+@DB2_MONTHS,A.SYSNPA_DT)>@PROCESSDATE   THEN DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)
			--										   WHEN  DATEADD(MONTH,(@DB1_MONTHS+@SUB_MONTHS+@DB2_MONTHS),A.SYSNPA_DT)<=@PROCESSDATE THEN DATEADD(MONTH,(@SUB_MONTHS),A.SYSNPA_DT)
			--										   ELSE DBTDT 
			--									   END)

			--FROM PRO.CUSTOMERCAL A INNER JOIN DIMASSETCLASS B  ON A.SYSASSETCLASSALT_KEY =B.ASSETCLASSALT_KEY AND  B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
			--WHERE B.ASSETCLASSSHORTNAME NOT IN('STD','LOS') AND ISNULL(A.FLGDEG,'N')<>'Y'  AND (ISNULL(A.FLGPROCESSING,'N')='N') AND DBTDT IS NULL --AND (ISNULL(A.FLGEROSION,'N')='Y') 
  

  --UPDATE A SET   A.DBTDT= (CASE 
		--											   WHEN  DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS,A.SYSNPA_DT)>@PROCESSDATE  THEN DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)
		--											   WHEN  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS,A.SYSNPA_DT)<=@PROCESSDATE AND  DATEADD(MONTH,@SUB_MONTHS+@DB1_MONTHS+@DB2_MONTHS,A.SYSNPA_DT)>@PROCESSDATE   THEN DATEADD(MONTH,@SUB_MONTHS,A.SYSNPA_DT)
		--											   WHEN  DATEADD(MONTH,(@DB1_MONTHS+@SUB_MONTHS+@DB2_MONTHS),A.SYSNPA_DT)<=@PROCESSDATE THEN DATEADD(MONTH,(@SUB_MONTHS),A.SYSNPA_DT)
		--											   ELSE DBTDT 
		--										   END)

		--	FROM PRO.CUSTOMERCAL A INNER JOIN DIMASSETCLASS B  ON A.SYSASSETCLASSALT_KEY =B.ASSETCLASSALT_KEY AND  B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
		--	WHERE B.ASSETCLASSSHORTNAME NOT IN('STD','LOS') AND ISNULL(A.FLGDEG,'N')<>'Y'  AND (ISNULL(A.FLGPROCESSING,'N')='N') AND DBTDT IS NULL 
		--				AND A.SYSASSETCLASSALT_KEY IN(3,4,5)

			/* PERCOLATION AT SIOURCESYSTEMCUSTOERID LEVEL*/
			IF OBJECT_ID('TEMPDB..#TEMPASSETCLASSSOURCESYSCUSTID') IS NOT NULL
				DROP TABLE #TEMPASSETCLASSSOURCESYSCUSTID

				SELECT SOURCESYSTEMCUSTOMERID
					,MAX(ISNULL(SYSASSETCLASSALT_KEY,1)) SYSASSETCLASSALT_KEY
					,MIN(SYSNPA_DT) SYSNPA_DT 
					,MIN(DBTDT) DBTDT
				INTO #TEMPASSETCLASSSOURCESYSCUSTID
				FROM(
						SELECT  A.SOURCESYSTEMCUSTOMERID,ISNULL(A.SYSASSETCLASSALT_KEY,1) AS SYSASSETCLASSALT_KEY
							,A.SYSNPA_DT AS SYSNPA_DT 
							,A.DBTDT AS DBTDT
						FROM PRO.CUSTOMERCAL A
							INNER JOIN PRO.COBORROWERDETAILS B 
								ON B.COBORROWERID=A.REFCUSTOMERID
								AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
							WHERE A.SOURCESYSTEMCUSTOMERID IS NOT NULL AND A.SOURCESYSTEMCUSTOMERID<>'0' 
								AND ISNULL(A.TOTOSCUST,0)>0
								AND A.ASSET_NORM<>'ALWYS_STD' 
								AND SYSASSETCLASSALT_KEY >1 ---AMAR 16052024 ADDED NPA CONDITION
					) A
				GROUP BY A.SOURCESYSTEMCUSTOMERID

			UPDATE A SET A.SYSASSETCLASSALT_KEY=B.SYSASSETCLASSALT_KEY
				,A.SYSNPA_DT=B.SYSNPA_DT  
				,A.DBTDT=B.DBTDT
			 FROM PRO.CUSTOMERCAL A 
				INNER JOIN #TEMPASSETCLASSSOURCESYSCUSTID B 
					ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
			WHERE A.ASSET_NORM<>'ALWYS_STD' 

 
			/* PERCOLATION AT UCIC_ID LEVEL*/
	 		IF OBJECT_ID('TEMPDB..#TEMPASSETCLASSUCIF_ID') IS NOT NULL
			DROP TABLE #TEMPASSETCLASSUCIF_ID

			SELECT UCIF_ID
				,MAX(ISNULL(SYSASSETCLASSALT_KEY,1)) SYSASSETCLASSALT_KEY
				,MIN(SYSNPA_DT) SYSNPA_DT 
				,MIN(DBTDT) DBTDT
			INTO #TEMPASSETCLASSUCIF_ID
			FROM(
					SELECT  A.UCIF_ID,ISNULL(A.SYSASSETCLASSALT_KEY,1) AS SYSASSETCLASSALT_KEY
						,A.SYSNPA_DT AS SYSNPA_DT 
						,A.DBTDT AS DBTDT
					FROM PRO.CUSTOMERCAL A
						INNER JOIN PRO.COBORROWERDETAILS B 
							ON B.COBORROWERID=A.REFCUSTOMERID
							AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
						WHERE A.UCIF_ID IS NOT NULL AND A.UCIF_ID<>'0' 
							AND ISNULL(A.TOTOSCUST,0)>0
							AND A.ASSET_NORM<>'ALWYS_STD'
							AND SYSASSETCLASSALT_KEY >1 ---AMAR 16052024 ADDED NPA CONDITION
				) A
			GROUP BY A.UCIF_ID

			UPDATE A SET A.SYSASSETCLASSALT_KEY=B.SYSASSETCLASSALT_KEY
				,A.SYSNPA_DT=B.SYSNPA_DT  
				,A.DBTDT=B.DBTDT
			 FROM PRO.CUSTOMERCAL A INNER JOIN #TEMPASSETCLASSUCIF_ID B ON A.UCIF_ID=B.UCIF_ID
			WHERE A.ASSET_NORM<>'ALWYS_STD' 


			/* PERCOLATION AT PAN LEVEL*/
	 		IF OBJECT_ID('TEMPDB..#TEMPASSETCLASSPAN') IS NOT NULL
			DROP TABLE #TEMPASSETCLASSPAN

			SELECT PANNO
				,MAX(ISNULL(SYSASSETCLASSALT_KEY,1)) SYSASSETCLASSALT_KEY
				,MIN(SYSNPA_DT) SYSNPA_DT 
				,MIN(DBTDT) DBTDT
			INTO #TEMPASSETCLASSPAN
			FROM(
					SELECT  A.PANNO,ISNULL(A.SYSASSETCLASSALT_KEY,1) AS SYSASSETCLASSALT_KEY
						,A.SYSNPA_DT AS SYSNPA_DT 
						,A.DBTDT AS DBTDT
					FROM PRO.CUSTOMERCAL A
						INNER JOIN PRO.COBORROWERDETAILS B 
							ON B.COBORROWERID=A.REFCUSTOMERID
							AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
						WHERE A.PANNO IS NOT NULL AND A.PANNO<>'0' 
							AND ISNULL(A.TOTOSCUST,0)>0
							AND A.ASSET_NORM<>'ALWYS_STD'
							AND SYSASSETCLASSALT_KEY >1 ---AMAR 16052024 ADDED NPA CONDITION
				) A
			GROUP BY A.PANNO
		
			/* UPDATE SYSASSETCLASSALT_KEY AT CUSTSOMKJER LEVEL */
			UPDATE A SET A.SYSASSETCLASSALT_KEY=B.SYSASSETCLASSALT_KEY
				,A.SYSNPA_DT=B.SYSNPA_DT  
				,A.DBTDT=B.DBTDT
			 FROM PRO.CUSTOMERCAL A INNER JOIN #TEMPASSETCLASSPAN B ON A.PANNO=B.PANNO
			WHERE A.ASSET_NORM<>'ALWYS_STD' 

			/*UPDATE FINALASSETCLASS AT ACCOUNT LEVEL */
			UPDATE B SET B.FINALASSETCLASSALT_KEY=A.SYSASSETCLASSALT_KEY
				,B.FINALNPADT=A.SYSNPA_DT  
				--,B.NPA_REASON=A.DEGREASON
			 FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
			WHERE B.ASSET_NORM<>'ALWYS_STD' 
			AND SYSASSETCLASSALT_KEY >1 ---AMAR 16052024 ADDED NPA CONDITION


		/* 0722024 -- PREPARING DATA AND UPDATEING COLUMN DEGDATE,PRI_ASSETCLASS AND PRINPA DATE TO KEEP DATA AS SYNCHRONISE AT UCIC LEVEL FOR CUSTOMER MARKED DEGD DATE*/
	
		IF OBJECT_ID('TEMPDB..#PRIMARYDEGDATA1') IS NOT NULL
		      DROP TABLE #PRIMARYDEGDATA1
		 SELECT APPLICANT_UCIC,DEGDATE,PRI_ASSETCLASSALT_KEY,PRI_NPADATE,CO_ASSETCLASSALT_KEY,CO_NPADATE INTO #PRIMARYDEGDATA1
		  FROM PRO.COBORROWERDETAILS WHERE DEGDATE IS NOT NULL 
		  --AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY/*ADDED BY ZAIN ON 20250219 TO HANDLE COBOOROWER LOOP OBSERVATION END*/
		  GROUP BY APPLICANT_UCIC,DEGDATE,PRI_ASSETCLASSALT_KEY,PRI_NPADATE,CO_ASSETCLASSALT_KEY,CO_NPADATE

			/*ADDED BY ZAIN ON 20250219 TO HANDLE COBOOROWER LOOP OBSERVATION*/
				UPDATE A SET A.DEGDATE=B.DEGDATE
								,A.SYSASSETCLASSALT_KEY=C.CO_ASSETCLASSALT_KEY
								,A.FLGDEG='Y'
								,A.SYSNPA_DT=B.CO_NPADATE
								--,A.DEGREASON='NPA DUE TO PRIMARY BORROWER '+C.CO_APPLICANT_UCIC
					FROM PRO.CUSTOMERCAL A 
						INNER JOIN #PRIMARYDEGDATA1 B ON A.REFCUSTOMERID=B.APPLICANT_UCIC
						INNER JOIN PRO.COBORROWERDETAILS C ON C.APPLICANT_UCIC=B.APPLICANT_UCIC
					WHERE A.FLGDEG<>'Y' AND A.SYSNPA_DT IS NULL
							AND A.FLGMOC<>'Y'
							AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY

				UPDATE A SET A.DEGREASON='NPA DUE TO PRIMARY BORROWER APPLICANT_FCR_CUST_ID '+C.CO_APPLICANT_UCIC
					 FROM PRO.CUSTOMERCAL A 
						INNER JOIN #PRIMARYDEGDATA1 B ON A.REFCUSTOMERID=B.APPLICANT_UCIC
						INNER JOIN PRO.COBORROWERDETAILS C ON C.APPLICANT_UCIC=B.APPLICANT_UCIC
					WHERE A.DEGREASON IS NULL 
						AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY


				UPDATE A SET A.FINALASSETCLASSALT_KEY=C.CO_ASSETCLASSALT_KEY
								,A.FLGDEG='Y'
								,A.FINALNPADT=B.CO_NPADATE
								--,A.DEGREASON='NPA DUE TO PRIMARY BORROWER '+C.CO_APPLICANT_UCIC
					FROM PRO.ACCOUNTCAL A 
						INNER JOIN #PRIMARYDEGDATA1 B ON A.REFCUSTOMERID=B.APPLICANT_UCIC
						INNER JOIN PRO.COBORROWERDETAILS C ON C.APPLICANT_UCIC=B.APPLICANT_UCIC
					WHERE A.FLGDEG<>'Y' AND A.FINALNPADT IS NULL
							AND ISNULL(A.FLGMOC,'')<>'Y'
							AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY

				UPDATE A SET A.DEGREASON='NPA DUE TO PRIMARY BORROWER APPLICANT_FCR_CUST_ID '+C.CO_APPLICANT_UCIC
					 FROM PRO.ACCOUNTCAL A 
						INNER JOIN #PRIMARYDEGDATA1 B ON A.REFCUSTOMERID=B.APPLICANT_UCIC
						INNER JOIN PRO.COBORROWERDETAILS C ON C.APPLICANT_UCIC=B.APPLICANT_UCIC
					WHERE A.DEGREASON IS NULL 
						AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY

			/*ADDED BY ZAIN ON 20250219 TO HANDLE COBOOROWER LOOP OBSERVATION END*/ 

		  UPDATE B SET B.DEGDATE=A.DEGDATE,B.FLGDEG='Y',
		 B.PRI_ASSETCLASSALT_KEY = A.PRI_ASSETCLASSALT_KEY
		,B.PRI_NPADATE			 = A.PRI_NPADATE
		,B.CO_ASSETCLASSALT_KEY	 = A.CO_ASSETCLASSALT_KEY
		,B.CO_NPADATE			 = A.CO_NPADATE
		 FROM #PRIMARYDEGDATA1 A
		  INNER JOIN PRO.COBORROWERDETAILS B
		  ON A.APPLICANT_UCIC=B.APPLICANT_UCIC
		  WHERE --(B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY) AND /*ADDED BY ZAIN ON 20250219 TO HANDLE COBOOROWER LOOP OBSERVATION*/
		   B.DEGDATE IS NULL

		/*07022024 - FOR ABOVE UCIC UPDATING FLGUPG=N AND UPGDATE AS NULL BECASUE THESE UCIC ARE AMRKED AS DEGDATE AND FLAG */
		UPDATE B SET B.UPGDATE=NULL,B.FLGUPG='N'
		FROM #PRIMARYDEGDATA1 A
		  INNER JOIN PRO.COBORROWERDETAILS B
		  ON A.APPLICANT_UCIC=B.APPLICANT_UCIC
		  --WHERE (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)/*ADDED BY ZAIN ON 20250219 TO HANDLE COBOOROWER LOOP OBSERVATION*/

		  /*ADDED BY ZAIN ON 20241225 TO HANDLE COBOOROWER LOOP OBSERVATION*/
		  UPDATE PRO.COBORROWERDETAILS 
						SET UPGDATE=NULL
							,FLGUPG='N'
			WHERE APPLICANT_UCIC IN (SELECT CO_APPLICANT_UCIC FROM PRO.COBORROWERDETAILS WHERE FLGDEG='Y')
		  AND (EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
		  /*ADDED BY ZAIN ON 20241225 TO HANDLE COBOOROWER LOOP OBSERVATION END*/



	END
IF @FLG_UPG_DEG='U'
	BEGIN


	--UPDATE B SET FLGDEG='N',DEGDATE=NULL
	--FROM PRO.CUSTOMERCAL A
	--INNER JOIN PRO.COBORROWERDETAILS B
	--ON A.UCIF_ID=B.UCIF_ID
	--WHERE A.FLGUPG='U'

		/*UPDATE FINALASSETCLASS AT ACCOUNT LEVEL */
		IF OBJECT_ID('TEMPDB..#TEMPTABLE_COBO') IS NOT NULL
		  DROP TABLE #TEMPTABLE_COBO
		
		
		CREATE TABLE #TEMPTABLE_COBO (REFCUSTOMERID VARCHAR(30))--,TOTALCOUNT INT)
		--INSERT INTO #TEMPTABLE_COBO
		--SELECT A.REFCUSTOMERID--,TOTALCOUNT -- INTO #TEMPTABLE
		--FROM 
		--	(
		--		SELECT A.REFCUSTOMERID,COUNT(1) TOTALCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID 
		--		WHERE (A.FLGPROCESSING='N' ) AND A.UCIF_ID IS NOT NULL
		--		--AND A.UCIF_ID<>'0'
		--		GROUP BY A.REFCUSTOMERID
		--	) A
		--	 INNER JOIN 
		--		(
		--			SELECT A.REFCUSTOMERID,COUNT(1) TOTALDPD_MAXCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID
		--			WHERE (B.DPD_INTSERVICE<=B.REFPERIODINTSERVICEUPG
		--					AND B.DPD_OVERDRAWN <=B.REFPERIODOVERDRAWNUPG
		--					AND B.DPD_OVERDUE<=B.REFPERIODOVERDUEUPG
		--					AND B.DPD_RENEWAL<=B.REFPERIODREVIEWUPG
		--					AND B.DPD_STOCKSTMT <=B.REFPERIODSTKSTATEMENTUPG)
		--					AND B.FINALASSETCLASSALT_KEY NOT IN(1)
		--				AND (A.FLGPROCESSING='N')
		--				AND B.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
		--				AND  ISNULL(A.MOCSTATUSMARK,'N')='N' 
		--				AND  ISNULL(B.ACCOUNTSTATUS,'N')<>'Z' 
		--				AND ISNULL(B.BANKASSETCLASS,'N')<>'WRITEOFF'
		--				AND A.UCIF_ID IS NOT NULL
		--				--AND A.UCIF_ID<>'0'
		--			GROUP BY A.REFCUSTOMERID
		--		) B ON A.REFCUSTOMERID=B.REFCUSTOMERID 
		--		AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT
				 
	--/*26102023--FIND THE CUSTOMER FOR UPGRADE- WHOSE EITHER NOT BREACHED THE NPA CRITERIA OR AFTER NPA CAME OUT IN UPGRADE CONDITIONS */

		IF OBJECT_ID('TEMPDB..#TEMPCOTABLE1') IS NOT NULL
		  DROP TABLE #TEMPCOTABLE1

			SELECT A.UCIF_ID   INTO #TEMPCOTABLE1 FROM 
			(
			SELECT A.UCIF_ID,COUNT(1) TOTALCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID 
			WHERE (A.FLGPROCESSING='N' ) AND A.UCIF_ID IS NOT NULL
			 --CONDITION CHANGED  BY TRILOKI KHANNA  08/04/2021 ONE ACCOUNT 'ALWYS_STD' AND DPD OF ALL OTHER ACCOUNTS ZERO , SO CONDITION OF  ALWYS_STD ADDED
			AND B.ASSET_NORM NOT IN ('ALWYS_STD')
			/*ADDED BY ZAIN ON 20250219 FOR COBORROWER LOOP SCENARIO*/
			AND A.UCIF_ID NOT IN (SELECT CO_APPLICANT_UCIC FROM PRO.COBORROWERDETAILS WHERE FLGDEG='Y')
			/*ADDED BY ZAIN ON 20250219 FOR COBORROWER LOOP SCENARIO*/
			--AND A.UCIF_ID<>'0'
			GROUP BY A.UCIF_ID
			)
			A INNER JOIN 
			(
			SELECT A.UCIF_ID,COUNT(1) TOTALDPD_MAXCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID
			WHERE (B.DPD_INTSERVICE<=B.REFPERIODINTSERVICEUPG
			  -- AND B.DPD_NOCREDIT <=B.REFPERIODNOCREDITUPG
			   AND B.DPD_OVERDRAWN <=B.REFPERIODOVERDRAWNUPG
			   AND B.DPD_OVERDUE<=B.REFPERIODOVERDUEUPG
			   AND B.DPD_RENEWAL<=B.REFPERIODREVIEWUPG
			   AND B.DPD_STOCKSTMT <=B.REFPERIODSTKSTATEMENTUPG)
			   AND B.FINALASSETCLASSALT_KEY NOT IN(1)
			AND (A.FLGPROCESSING='N')
			AND B.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
			AND  ISNULL(A.MOCSTATUSMARK,'N')='N' 
			AND  ISNULL(B.ACCOUNTSTATUS,'N')<>'Z' 
			AND ISNULL(B.BANKASSETCLASS,'N')<>'WRITEOFF'
			AND A.UCIF_ID IS NOT NULL
			--AND A.UCIF_ID<>'0'
			GROUP BY A.UCIF_ID
			) B ON A.UCIF_ID=B.UCIF_ID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT



					IF OBJECT_ID('TEMPDB..#TEMPCOTABLE2') IS NOT NULL
					  DROP TABLE #TEMPCOTABLE2

			SELECT A.REFCUSTOMERID  INTO #TEMPCOTABLE2 FROM 
			(
			SELECT A.REFCUSTOMERID,COUNT(1) TOTALCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID 
			WHERE (A.FLGPROCESSING='N' ) AND A.UCIF_ID IS  NULL 
			 AND A.REFCUSTOMERID IS NOT NULL
			--AND A.UCIF_ID<>'0'
			 --CONDITION CHANGED  BY TRILOKI KHANNA  08/04/2021 ONE ACCOUNT 'ALWYS_STD' AND DPD OF ALL OTHER ACCOUNTS ZERO , SO CONDITION OF  ALWYS_STD ADDED
			AND B.ASSET_NORM NOT IN ('ALWYS_STD')
			GROUP BY A.REFCUSTOMERID
			)
			A INNER JOIN 
			(
			SELECT A.REFCUSTOMERID,COUNT(1) TOTALDPD_MAXCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
			WHERE (B.DPD_INTSERVICE<=B.REFPERIODINTSERVICEUPG
			  -- AND B.DPD_NOCREDIT <=B.REFPERIODNOCREDITUPG
			   AND B.DPD_OVERDRAWN <=B.REFPERIODOVERDRAWNUPG
			   AND B.DPD_OVERDUE<=B.REFPERIODOVERDUEUPG
			   AND B.DPD_RENEWAL<=B.REFPERIODREVIEWUPG
			   AND B.DPD_STOCKSTMT <=B.REFPERIODSTKSTATEMENTUPG)
			   AND B.FINALASSETCLASSALT_KEY NOT IN(1)
			AND (A.FLGPROCESSING='N')
			AND B.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
			AND  ISNULL(A.MOCSTATUSMARK,'N')='N' 
			AND  ISNULL(B.ACCOUNTSTATUS,'N')<>'Z' 
			AND ISNULL(B.BANKASSETCLASS,'N')<>'WRITEOFF'
			AND A.UCIF_ID IS  NULL 
			--AND A.UCIF_ID<>'0'
			AND A.REFCUSTOMERID IS NOT NULL
			GROUP BY A.REFCUSTOMERID

			) B ON A.REFCUSTOMERID=B.REFCUSTOMERID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT


					IF OBJECT_ID('TEMPDB..#TEMPCOTABLE3') IS NOT NULL
					  DROP TABLE #TEMPCOTABLE3

			SELECT A.SOURCESYSTEMCUSTOMERID  INTO #TEMPCOTABLE3 FROM 
			(
			SELECT A.SOURCESYSTEMCUSTOMERID,COUNT(1) TOTALCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID 
			WHERE (A.FLGPROCESSING='N' ) AND A.UCIF_ID IS  NULL AND A.REFCUSTOMERID IS  NULL
			 AND A.SOURCESYSTEMCUSTOMERID IS NOT NULL
			--AND A.UCIF_ID<>'0'
			GROUP BY A.SOURCESYSTEMCUSTOMERID
			)
			A INNER JOIN 
			(
			SELECT A.SOURCESYSTEMCUSTOMERID,COUNT(1) TOTALDPD_MAXCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
			WHERE (B.DPD_INTSERVICE<=B.REFPERIODINTSERVICEUPG
			  -- AND B.DPD_NOCREDIT <=B.REFPERIODNOCREDITUPG
			   AND B.DPD_OVERDRAWN <=B.REFPERIODOVERDRAWNUPG
			   AND B.DPD_OVERDUE<=B.REFPERIODOVERDUEUPG
			   AND B.DPD_RENEWAL<=B.REFPERIODREVIEWUPG
			   AND B.DPD_STOCKSTMT <=B.REFPERIODSTKSTATEMENTUPG)
			   AND B.FINALASSETCLASSALT_KEY NOT IN(1)
			AND (A.FLGPROCESSING='N')
			AND B.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
			AND  ISNULL(A.MOCSTATUSMARK,'N')='N' 
			AND  ISNULL(B.ACCOUNTSTATUS,'N')<>'Z' 
			AND ISNULL(B.BANKASSETCLASS,'N')<>'WRITEOFF'
			AND A.UCIF_ID IS  NULL 
			AND A.REFCUSTOMERID IS  NULL 
			AND A.SOURCESYSTEMCUSTOMERID IS NOT NULL
			--AND A.UCIF_ID<>'0'
			GROUP BY A.SOURCESYSTEMCUSTOMERID

			) B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT


			INSERT INTO #TEMPTABLE_COBO
			SELECT A.REFCUSTOMERID 
			FROM PRO.CUSTOMERCAL A
				INNER JOIN #TEMPCOTABLE1 B ON A.UCIF_ID=B.UCIF_ID
			UNION 
			SELECT A.REFCUSTOMERID FROM PRO.CUSTOMERCAL A
				INNER JOIN #TEMPCOTABLE2 B ON A.REFCUSTOMERID=B.REFCUSTOMERID
			UNION 
			SELECT A.REFCUSTOMERID FROM PRO.CUSTOMERCAL A
				INNER JOIN #TEMPCOTABLE3 B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID

			UNION
			SELECT A.REFCUSTOMERID ----,A.*
			FROM PRO.COBORROWERDETAILS A
				INNER JOIN PRO.CUSTOMERCAL B
					ON  (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.COBORROWERID=B.REFCUSTOMERID
					AND B.SYSASSETCLASSALT_KEY>1 AND A.DEGDATE IS NULL
			UNION
			SELECT A.COBORROWERID REFCUSTOMERID ----,A.*
			FROM PRO.COBORROWERDETAILS A
				INNER JOIN PRO.CUSTOMERCAL B
					ON  (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.REFCUSTOMERID=B.REFCUSTOMERID
					AND B.SYSASSETCLASSALT_KEY>1 AND A.DEGDATE IS NULL
            UNION
			  SELECT B.REFCUSTOMERID ----,A.*
			FROM PRO.COBORROWERDETAILS A
				INNER JOIN PRO.CUSTOMERCAL B
					ON  (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.APPLICANT_UCIC=B.UCIF_ID
					AND B.SYSASSETCLASSALT_KEY>1 AND A.DEGDATE IS NULL
					--AND A.APPLICANT_UCIC='8900573'
					GROUP BY B.REFCUSTOMERID


			
			/*07022024 - FINDING CUSTOMERID ARE NOT ELLIGBLE FOR UPGRADE - BREACHING NPA CREITERIA */
			IF OBJECT_ID('TEMPDB..#WRONGUPG_COBOFLG') IS NOT NULL
				 DROP TABLE #WRONGUPG_COBOFLG
			SELECT REFCUSTOMERID
			INTO #WRONGUPG_COBOFLG
			FROM PRO.ACCOUNTCAL B
			WHERE (ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE
				OR ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN  
				OR ISNULL(B.DPD_NOCREDIT,0)>=B.REFPERIODNOCREDIT
				OR ISNULL(B.DPD_OVERDUE,0) >=B.REFPERIODOVERDUE 
				OR ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT
				OR ISNULL(B.DPD_RENEWAL,0)>=B.REFPERIODREVIEW 
				)
			AND B.ASSET_NORM='NORMAL'
			/*ADDED TO HANDLE COBORROWER RESTRUCTURE CONDITION BY ZAIN ON UAT 2024-12-12*/
			UNION
			SELECT REFCUSTOMERID
			FROM PRO.ACCOUNTCAL 
			WHERE ASSET_NORM='ALWYS_NPA'
			/*ADDED TO HANDLE COBORROWER RESTRUCTURE CONDITION BY ZAIN ON UAT 2024-12-12 END*/


			/*07022024 - DELETING RECORED FOR EXCLUSION TO UPGADE FLGUPG IN CO-BORROWER DETAIL */
			 DELETE A FROM #TEMPTABLE_COBO  A
				INNER JOIN #WRONGUPG_COBOFLG B
					ON A.REFCUSTOMERID=B.REFCUSTOMERID

			


					/*26102023--UPDATE UPGRADE FLAG FOR PRIMARY BORROWER - IF MEET THE UPGRDE CONDITION*/
			
			UPDATE A SET A.FLGUPG='U'
						,A.UPGDATE=@PROCESSDATE
						,A.FLGDEG='N'
						,A.DEGDATE=NULL
		----SELECT A.REFCUSTOMERID
			 FROM PRO.COBORROWERDETAILS A
				INNER JOIN #TEMPTABLE_COBO  B
					ON (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.REFCUSTOMERID=B.REFCUSTOMERID
				LEFT JOIN PRO.COBORROWERDETAILS C
					ON (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND C.COBORROWERID=A.REFCUSTOMERID
				INNER JOIN PRO.CUSTOMERCAL D
					ON D.REFCUSTOMERID=A.REFCUSTOMERID
					AND D.FLGUPG='U'
				WHERE  A.FLGDEG='Y'  ---CHANGE BY AMAR ON 28022024 - FOR CUSTOMER SHOULD BE UPDATE DEGDATE AS NULL IF DPD UNDER UPGRADE CRITERIA AND SHOULD BE ELIGIBLE FOR UPGRADE --C.REFCUSTOMERID IS NULL AND A.FLGDEG='Y'


		/*26102023--UPDATE UPGRADE FLAG AT CUSTOMER LEVEL FROM   */
			/*26102023--UPDATE UPGRADE FLAG FOR CO-BORROWER FOE ORIMRY CUSTOMER UPGRADED  */
	
		UPDATE A SET A.FLGUPG='U'
						,A.UPGDATE=@PROCESSDATE
						,A.FLGDEG='N'
						,A.DEGDATE=NULL
			-- SELECT *
			 FROM PRO.COBORROWERDETAILS A
				INNER JOIN #TEMPTABLE_COBO  B
					ON (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.REFCUSTOMERID=B.REFCUSTOMERID
					INNER JOIN PRO.COBORROWERDETAILS C
					ON (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.COBORROWERID=C.REFCUSTOMERID
					INNER JOIN PRO.CUSTOMERCAL D
					ON D.REFCUSTOMERID=C.REFCUSTOMERID---CHANGED BY 29JAN2024  C.REFCUSTOMERID /A.REFCUSTOMERID
					AND D.FLGUPG='U'

				WHERE ISNULL(A.FLGUPG,'N')='N' 


      			 UPDATE E SET	E.FLGUPG='U'
						,E.UPGDATE=@PROCESSDATE
						,E.FLGDEG='N'
						,E.DEGDATE=NULL
				--SELECT A.REFCUSTOMERID,A.UCIF_ID ,E.REFCUSTOMERID
				FROM  #TEMPTABLE_COBO  B INNER JOIN PRO.CUSTOMERCAL A
                    ON A.REFCUSTOMERID=B.REFCUSTOMERID 
					INNER JOIN PRO.COBORROWERDETAILS C
						ON C.CO_APPLICANT_UCIC=A.UCIF_ID AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					INNER JOIN PRO.CUSTOMERCAL D ON C.REFCUSTOMERID=D.REFCUSTOMERID
					AND D.FLGUPG='U' AND C.FLGUPG='U'
				    INNER JOIN PRO.COBORROWERDETAILS E
					ON A.REFCUSTOMERID= E.REFCUSTOMERID AND (E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY)


		    
		    IF OBJECT_ID('TEMPDB..#TEMPCOTABLE4') IS NOT NULL
					  DROP TABLE #TEMPCOTABLE4 

		/*07022024 - FINDING CUSTOMERS ARE MARKED FLGUPG=U IN CUSTOMERCAL(ELLIGIBLE FOR UPGRADE) AND FLGUPG =N AMRKED IN CO-BORROWER DETAIL */
                      SELECT DISTINCT A.REFCUSTOMERID
				INTO #TEMPCOTABLE4
			 FROM PRO.COBORROWERDETAILS A
				INNER JOIN #TEMPTABLE_COBO  B
					ON (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.REFCUSTOMERID=B.REFCUSTOMERID
				  INNER JOIN PRO.CUSTOMERCAL D
					ON D.REFCUSTOMERID=A.REFCUSTOMERID
					AND D.FLGUPG='U'
					AND A.FLGUPG='N'
				 
		/*07022024 - UPDATING UPG FLAG=U IN COBORROWERDETAILS FOR (COBORROWER) WHER PRIMARY  BORROWER IS UPGRADED */
			UPDATE	D SET            D.FLGUPG='U'
						,D.UPGDATE=@PROCESSDATE
						,D.FLGDEG='N'
						,D.DEGDATE=NULL

			-- SELECT DISTINCT  A.REFCUSTOMERID,B.COBORROWERID,C.REFCUSTOMERID,B.REFCUSTOMERID
				  FROM #TEMPCOTABLE4 A
				 INNER JOIN PRO.COBORROWERDETAILS B
				 ON A.REFCUSTOMERID=B.COBORROWERID
				 INNER JOIN PRO.CUSTOMERCAL C
				 ON C.REFCUSTOMERID=B.REFCUSTOMERID
				 AND (C.FLGUPG='U' OR C.SYSASSETCLASSALT_KEY=1)  
                         INNER JOIN PRO.COBORROWERDETAILS D ON A.REFCUSTOMERID=D.REFCUSTOMERID

	
		UPDATE C	
			SET C.FLGUPG='N',C.UPGDATE=NULL
		 --SELECT DISTINCT C.REFCUSTOMERID
		  FROM PRO.COBORROWERDETAILS A
			INNER JOIN PRO.CUSTOMERCAL B
				ON  (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND A.REFCUSTOMERID=B.REFCUSTOMERID
				AND B.FLGUPG='N'
			INNER JOIN PRO.COBORROWERDETAILS C
				ON A.REFCUSTOMERID=C.REFCUSTOMERID /*07022024-- UPDATING FLAG UPG=N  IN COBORROWER TABLE WHERE CUSTOMER CAL UPG FLG='N' AND IN CO-BORROWER TABLE FLGUPG=U ON CUSTOMERID BASES*/ --ON A.COBORROWERID=C.REFCUSTOMERID 01 FEB 2024
				AND ISNULL(C.FLGUPG,'N')='U' --AND C.REFCUSTOMERID='12243096'
				AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)


	UPDATE C	
			SET C.FLGUPG='N',C.UPGDATE=NULL
		 --SELECT DISTINCT C.REFCUSTOMERID
		  FROM PRO.COBORROWERDETAILS A
			INNER JOIN PRO.CUSTOMERCAL B
				ON  (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND A.APPLICANT_UCIC=B.UCIF_ID
				AND B.FLGUPG='N'
			INNER JOIN PRO.COBORROWERDETAILS C
				ON A.APPLICANT_UCIC=C.APPLICANT_UCIC   /*07022024-- UPDATING FLAG UPG=N  IN COBORROWER TABLE WHERE CUSTOMER CAL UPG FLG='N' AND IN CO-BORROWER TABLE FLGUPG=U ON CUSTOMERID BASES*/ --ON A.COBORROWERID=C.REFCUSTOMERID 01 FEB 2024
				AND ISNULL(C.FLGUPG,'N')='U' --AND C.REFCUSTOMERID='12243096'
				AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)



				UPDATE A
			SET A.FLGUPG='N',A.UPGDATE=NULL

                 FROM  PRO.COBORROWERDETAILS A
                   INNER JOIN PRO.CUSTOMERCAL B
				ON  (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
				AND CO_APPLICANT_UCIC=B.UCIF_ID
				AND B.FLGUPG='U'
                  INNER JOIN PRO.COBORROWERDETAILS  C
	         ON (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
	--AND A.CO_APPLICANT_UCIC=C.APPLICANT_UCIC
	            AND A.APPLICANT_UCIC=C.APPLICANT_UCIC
	--AND B.UCIF_ID=C.APPLICANT_UCIC
	              AND  C.FLGUPG='N'

		
			/* UPDATE UPGRADE FLAG AT CUSTOMER LEVEL FRO CO-BORROWER DATA*/
			UPDATE B SET B.FLGUPG='U'
			FROM PRO.COBORROWERDETAILS A
				INNER JOIN PRO.CUSTOMERCAL  B
					ON (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.CO_APPLICANT_FCR_CUST_ID=B.REFCUSTOMERID /*07022024 - CHANGED CODE TO UPDATE FLGUPG IN CUSTOMERCAL FOR CO-BORROWER WHERE FLGUPG=U IN COBORROWER TABLE AND N IN CUSTOMER TABLE  */ --A.REFCUSTOMERID AMAR CHANGED 31 JAN 2023
					INNER JOIN PRO.ACCOUNTCAL C ON B.REFCUSTOMERID=C.REFCUSTOMERID

				WHERE ISNULL(B.FLGUPG,'N')='N' AND A.FLGUPG='U'
				AND (B.FLGPROCESSING='N')
			AND C.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
			AND  ISNULL(B.MOCSTATUSMARK,'N')='N' 
			AND  ISNULL(C.ACCOUNTSTATUS,'N')<>'Z' 
			AND ISNULL(C.BANKASSETCLASS,'N')<>'WRITEOFF'



			     /*16052024 AMAR - ADDED CODE FOR UPGRADE THE CUSTOMER -- MARKED UPGRADE IN MAIN PROCESS(CUSTOMERCAL) 
                    AND DELG DATE IS NULL AND NO PRIMARY BORROWER AVAILABE IN COBO DATA*/
            UPDATE A
                SET A.FLGUPG='U'
                    ,A.UPGDATE=@PROCESSDATE
            FROM PRO.COBORROWERDETAILS A
                INNER JOIN PRO.CUSTOMERCAL B
                    ON A.APPLICANT_FCR_CUST_ID=B.REFCUSTOMERID
                    AND B.ASSET_NORM NOT IN ('ALWYS_NPA')
                    AND B.FLGUPG='U' AND B.SYSASSETCLASSALT_KEY>1
                LEFT JOIN PRO.COBORROWERDETAILS C
                    ON A.APPLICANT_UCIC=C.CO_APPLICANT_UCIC
                WHERE C.CO_APPLICANT_FCR_CUST_ID IS NULL
                     AND A.DEGDATE IS NULL
				/*ADDED FOR OTS BY ZAIN ON 20250311*/
					 AND A.APPLICANT_UCIC NOT IN (SELECT REFCUSTOMERID FROM PRO.ACCOUNTCAL WHERE DPD_OTS>0 
													AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY
													AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
				/*ADDED FOR OTS BY ZAIN ON 20250311*/



			

--IF OBJECT_ID('TEMPDB..#APPLICANTUPG') IS NOT NULL
	--		DROP TABLE #APPLICANTUPG

--SELECT DISTINCT CO_APPLICANT_FCR_CUST_ID,CO_APPLICANT_UCIC 
--INTO #APPLICANTUPG 
--FROM PRO.COBORROWERDETAILS B  WHERE B.FLGUPG='U'
--AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)


--IF OBJECT_ID('TEMPDB..#COBORROWERDETAILSUPG') IS NOT NULL
--			DROP TABLE #COBORROWERDETAILSUPG

--SELECT * INTO #COBORROWERDETAILSUPG 
--FROM PRO.COBORROWERDETAILS D WHERE APPLICANT_UCIC IN (SELECT CO_APPLICANT_FCR_CUST_ID FROM #APPLICANTUPG) AND  
--ISNULL(D.FLGUPG,'N')='N'  AND ISNULL(D.FLGDEG,'N')='N'
-- AND (D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY)

--UPDATE B SET B.FLGUPG='U'
--FROM  #COBORROWERDETAILSUPG A
--INNER JOIN PRO.CUSTOMERCAL  B
--ON (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
--AND A.APPLICANT_UCIC=B.UCIF_ID
--INNER JOIN PRO.ACCOUNTCAL C ON B.UCIF_ID=C.UCIF_ID
--WHERE ISNULL(B.FLGUPG,'N')='N' AND ISNULL(A.FLGUPG,'N')='N'
    --        AND (B.FLGPROCESSING='N')  
     --       AND C.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
      --      AND  ISNULL(B.MOCSTATUSMARK,'N')='N' 
      --      AND  ISNULL(C.ACCOUNTSTATUS,'N')<>'Z' 
       --     AND ISNULL(C.BANKASSETCLASS,'N')<>'WRITEOFF'

		/* COBORROWER UPGRADE REVERT IN CASE OF PRIMRY BORROWER BREACHED NP CONFITION */
			;WITH CTE_COBO
			AS(
			SELECT CO_APPLICANT_UCIC FROM PRO.COBORROWERDETAILS WHERE DEGDATE IS NOT NULL AND CO_APPLICANT_UCIC IS NOT NULL
			INTERSECT
			SELECT UCIF_ID FROM PRO.COBORROWERDETAILS 
			)
			UPDATE A
				SET A.FLGUPG='N'
			FROM PRO.CUSTOMERCAL A
				INNER JOIN CTE_COBO B
					ON A.UCIF_ID=B.CO_APPLICANT_UCIC
				WHERE A.FLGUPG='U'

		/* COBORROWER UPGRADE IN CASE OF NPA ND PRIMRY BORROWER ELLIGIBLE FOR UPGRDE WITH SELF*/

			IF OBJECT_ID('TEMPDB..##COBORROWER_DATATABLEWRITEOFF') IS NOT NULL
			      DROP TABLE ##COBORROWER_DATATABLEWRITEOFF
			SELECT DISTINCT A.UCIF_ID 
			INTO ##COBORROWER_DATATABLEWRITEOFF
			 FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID
			WHERE  B.FINALASSETCLASSALT_KEY NOT IN(1)
			AND B.ASSET_NORM IN ('ALWYS_NPA' )
			AND  ISNULL(B.ACCOUNTSTATUS,'N')='Z' 
			AND ISNULL(B.BANKASSETCLASS,'N')='WRITEOFF'


		/* 0722024 -- PREPARING DATA AND UPDATEING COLUMN DEGDATE,PRI_ASSETCLASS AND PRINPA DATE TO KEEP DATA AS SYNCHRONISE AT UCIC LEVEL FOR CUSTOMER MARKED DEGD DATE*/
	
		IF OBJECT_ID('TEMPDB..#PRIMARYDEGDATA11') IS NOT NULL
		      DROP TABLE #PRIMARYDEGDATA11
		 SELECT APPLICANT_UCIC,DEGDATE,PRI_ASSETCLASSALT_KEY,PRI_NPADATE,CO_ASSETCLASSALT_KEY,CO_NPADATE INTO #PRIMARYDEGDATA11
		  FROM PRO.COBORROWERDETAILS WHERE DEGDATE IS NOT NULL AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY
		  GROUP BY APPLICANT_UCIC,DEGDATE,PRI_ASSETCLASSALT_KEY,PRI_NPADATE,CO_ASSETCLASSALT_KEY,CO_NPADATE

 
		  UPDATE B SET B.DEGDATE=A.DEGDATE,B.FLGDEG='Y',
			 B.PRI_ASSETCLASSALT_KEY = A.PRI_ASSETCLASSALT_KEY
			,B.PRI_NPADATE			 = A.PRI_NPADATE
			,B.CO_ASSETCLASSALT_KEY	 = A.CO_ASSETCLASSALT_KEY
			,B.CO_NPADATE			 = A.CO_NPADATE
		 FROM #PRIMARYDEGDATA11 A
		  INNER JOIN PRO.COBORROWERDETAILS B
		  ON A.APPLICANT_UCIC=B.APPLICANT_UCIC
		  WHERE (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
		  AND B.DEGDATE IS NULL

		/*07022024 - FOR ABOVE UCIC UPDATING FLGUPG=N AND UPGDATE AS NULL BECASUE THESE UCIC ARE AMRKED AS DEGDATE AND FLAG */
		UPDATE B SET B.UPGDATE=NULL,B.FLGUPG='N'
		FROM #PRIMARYDEGDATA11 A
		  INNER JOIN PRO.COBORROWERDETAILS B
		  ON A.APPLICANT_UCIC=B.APPLICANT_UCIC
		  WHERE (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)


		IF OBJECT_ID('TEMPDB.DBO.#CTE_COBO2') IS NOT NULL
			  DROP TABLE #CTE_COBO2 
		/*07022024 -  FINDING CO-BORROWER UCIC FOR DEGRADE DATE IS IS NOT NULL AND  CO_APPLICANT_UCIC IS NOT NULL OF PRIMARY BORROWER*/
			SELECT CO_APPLICANT_UCIC INTO #CTE_COBO2 FROM PRO.COBORROWERDETAILS WHERE DEGDATE IS NOT NULL AND CO_APPLICANT_UCIC IS NOT NULL
			
		IF OBJECT_ID('TEMPDB.DBO.#CTE_COBO1 ') IS NOT NULL
		  DROP TABLE #CTE_COBO1 
			
			/* 07022024 - FINDING COBORROWER UCIC  THOSE ARE AVAILABLE AS PROMARY BORROWER AND DEGDATE IS NULL - AND PRIMARY BORROWER'S ALSO DEGDATE IS NULL AND CO-APP UCIC IS AVAILABLE  */	
			SELECT CO_APPLICANT_UCIC INTO #CTE_COBO1 FROM PRO.COBORROWERDETAILS 
					WHERE DEGDATE IS NULL AND CO_APPLICANT_UCIC IS NOT NULL
							AND UPGDATE IS NOT NULL--ADDED ON LOCAL FOR OBSERVATION RAISED BY PRAVIN AS BANK TESTING ON 20250327 BY BALA
		                   INTERSECT
			SELECT UCIF_ID FROM PRO.COBORROWERDETAILS WHERE DEGDATE IS NULL


/*07022024  - DELETING MATCHING RECORDS - THOSE ARE NOT ELLIGIBLE FOR UPGRADE IN TABLE LIKE WRITEOFF/ ACCOUNT STSTUS Z */
			DELETE A
		    FROM #CTE_COBO1  A
		 INNER JOIN ##COBORROWER_DATATABLEWRITEOFF B
		  ON A.CO_APPLICANT_UCIC  =B.UCIF_ID 

 /*07022024  - DELETING MATCHING RECORDS- BECAUSE IF ANY ONE RECORTD OF CO-BORROWER HAVING DEG DATE IS NOT NULL SHOULD OF OUT OF UPGRADE  */
		 DELETE A
		    FROM #CTE_COBO1  A
		 INNER JOIN #CTE_COBO2 B
		  ON A.CO_APPLICANT_UCIC  =B.CO_APPLICANT_UCIC 
			 

	/* 02072024 - MARKING FLG UPG AT CUSTOMER LEVELE(CO-BORROWER) IN CUSTOMERCAL FOR ELLIGIOBLE CUSTOMER*/
		UPDATE A
			SET A.FLGUPG='U'
		FROM PRO.CUSTOMERCAL A
			INNER JOIN #CTE_COBO1 B
				ON A.UCIF_ID=B.CO_APPLICANT_UCIC
			WHERE A.FLGUPG='N' AND SYSASSETCLASSALT_KEY>1
			AND   A.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')

	/* 02072024 - MARKING FLG UPG AT CUSTOMER LEVELE(CO-BORROWER) IN CO-BORROWER TABLE FOR ELLIGIOBLE CUSTOMER*/
			UPDATE A
				SET A.FLGUPG='U', UPGDATE=@PROCESSDATE,FLGDEG='N',DEGDATE=NULL
			FROM PRO.COBORROWERDETAILS A
				INNER JOIN #CTE_COBO1 B
					ON A.UCIF_ID=B.CO_APPLICANT_UCIC
				WHERE ISNULL(A.FLGUPG,'N')='N'

	
		/* 02072024 - DUE TO CROSS CO-BORROWER LINKAGE -RESTRUCT WROMG UPGRADE  IN CUSTMERCAL  - IF PRIMARY BOROWER DEGDATE IS NOT NULL*/
			UPDATE C
				SET C.FLGUPG='N'
			FROM PRO.COBORROWERDETAILS A
				INNER JOIN PRO.COBORROWERDETAILS  B
					ON A.CO_APPLICANT_UCIC=B.UCIF_ID
				INNER JOIN PRO.CUSTOMERCAL C
					ON C.UCIF_ID=B.UCIF_ID
				WHERE A.DEGDATE IS NOT NULL AND C.FLGUPG='U'

		IF OBJECT_ID('TEMPDB..#CO_BORROWER_UPG_DIFFFLAG') IS NOT NULL
			DROP TABLE #CO_BORROWER_UPG_DIFFFLAG
	
	/* 02072024 - FINDING UCIC ID FROM COBORROWER TABLE WHERE AT UCIC LEVEL BOTH FLAGS ARE MARKED U AND N IN FLGUPG - FOR MARKING FLGUPG IN CO-BORROWER  */

	         SELECT  DISTINCT UCIF_ID 
				INTO #CO_BORROWER_UPG_DIFFFLAG
			FROM PRO.COBORROWERDETAILS 
			 WHERE FLGUPG='U'  
			INTERSECT
		     SELECT  DISTINCT ISNULL(UCIF_ID,'') FROM PRO.COBORROWERDETAILS 
			WHERE ISNULL(FLGUPG,'N')='N'  

	/* 02072024 - DELETING RECORD FROM #CO_BORROWER_UPG_DIFFFLAG WHERE UCIC MATCHING WITH CO-BOROWER DATA FILTERED  */
			DELETE A
		        FROM #CO_BORROWER_UPG_DIFFFLAG A
		     INNER JOIN ##COBORROWER_DATATABLEWRITEOFF B
		      ON A.UCIF_ID=B.UCIF_ID 	

		/* 02072024 - MARKING FLGUPG IN CO-BORROWER DETAIL TABLE FOR ABOVE FILTERED RECORDS */
			UPDATE A
				SET A.FLGUPG='U', UPGDATE=@PROCESSDATE,FLGDEG='N',DEGDATE=NULL
			FROM PRO.COBORROWERDETAILS A
				INNER JOIN #CO_BORROWER_UPG_DIFFFLAG B
					ON A.UCIF_ID=B.UCIF_ID
				WHERE ISNULL(A.FLGUPG,'N')='N'









			/* FIND THE CUSTOMERS - UPGRADE D IN NORMAL PROCESS BUT NOT IN CO-BORROWER DATA */
			IF OBJECT_ID('TEMPDB..#CO_BORROWER_UPG_REVERT') IS NOT NULL
				DROP TABLE #CO_BORROWER_UPG_REVERT

			 SELECT  B.REFCUSTOMERID,B.UCIFENTITYID,B.PANNO,B.SOURCESYSTEMCUSTOMERID
				INTO #CO_BORROWER_UPG_REVERT
			 FROM PRO.COBORROWERDETAILS A
				INNER JOIN PRO.CUSTOMERCAL  B
					ON (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.REFCUSTOMERID=B.REFCUSTOMERID
				WHERE ISNULL(B.FLGUPG,'N')='U' AND ISNULL(A.FLGUPG,'N')='N' --AND A.FLGDEG='Y'

				UNION 
				 SELECT  B.REFCUSTOMERID,B.UCIFENTITYID,B.PANNO,B.SOURCESYSTEMCUSTOMERID
				
			 FROM PRO.COBORROWERDETAILS A
				INNER JOIN PRO.CUSTOMERCAL  B
					ON (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY)
					AND A.APPLICANT_UCIC=B.UCIF_ID
				WHERE ISNULL(B.FLGUPG,'N')='U' AND ISNULL(A.FLGUPG,'N')='N' --AND A.FLGDEG='Y'
				---
			
	

				/* REVERT UPGRADE FLAG FOR SOURCESYSTEMCUSTOMERID */
				UPDATE B
					SET B.FLGUPG='N'
				FROM #CO_BORROWER_UPG_REVERT A
					INNER JOIN PRO.CUSTOMERCAL B
						ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
					WHERE 	B.FLGUPG='U'	


				/* REVERT UPGRADE FLAG FOR UCIF ENTITYID */
				UPDATE B
					SET B.FLGUPG='N'
				FROM #CO_BORROWER_UPG_REVERT A
					INNER JOIN PRO.CUSTOMERCAL B
						ON A.UCIFENTITYID=B.UCIFENTITYID
					WHERE 	B.FLGUPG='U'	AND B.UCIF_ID IS NOT NULL

				/* REVERT UPGRADE FLAG FOR PAN */
				UPDATE B
					SET B.FLGUPG='N'
				FROM #CO_BORROWER_UPG_REVERT A
					INNER JOIN PRO.CUSTOMERCAL B
						ON A.PANNO=B.PANNO
					WHERE 	B.FLGUPG='U' AND B.PANNO IS NOT NULL	

			/*FOR PRIMARY BORROWER CLOSED ACCOUNTS GETTING COBORROWER DATA "CO_APPLICANT_UCIC"  OBSERVARTION REPORTED ON 20240819
			MAIL REFERENCE SUBJECT LINE "INTERNAL | PRODUCTION OBSERVATION | CO-BORROWER PRODUCTION OBSERVATION " CHANGED BY ZAIN ON 20240829*/
			
	
			/*MANUAL CHANGES ON UAT AFTER DATA IMPACT CHECK 20240930 BY ZAIN & TUSHAR*/
			;WITH CTE_A AS(
			SELECT A.CO_APPLICANT_UCIC,B.APPLICANT_UCIC FROM PRO.COBORROWERDETAILSHIST  A 
			LEFT JOIN PRO.COBORROWERDETAILS B 
			ON A.APPLICANT_UCIC=B.APPLICANT_UCIC
			WHERE B.APPLICANT_UCIC IS NULL
			AND A.APPLICANT_UCIC IS NOT NULL
			AND (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY-1 AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY-1)
			AND A.FLAG='C'
			GROUP BY A.APPLICANT_UCIC,A.CO_APPLICANT_UCIC,B.APPLICANT_UCIC
			),
			CTE_B
			AS(
			/*FINDING PRIMARY BORROWER(LINKED AS A COBORROWER ON PREVIOUS DATE) DEGRADE DATE IS NULL OR NOT*/
			SELECT B.APPLICANT_UCIC,B.DEGDATE,B.FLGDEG 
			FROM CTE_A A 
			INNER JOIN 
			PRO.COBORROWERDETAILSHIST B ON
			A.CO_APPLICANT_UCIC=B.APPLICANT_UCIC
			AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY-1 AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY-1)
			AND B.DEGDATE IS NULL 
			)
			/*UPDATING PRIMARY BORROWER FLAG AS 'U' IF ALL THE UPGRADATION CONDITION IS SATISFYING SO THAT IT WILL BE UPGRADED*/
			UPDATE B SET B.FLGUPG='U'
			FROM CTE_B A
				INNER JOIN PRO.CUSTOMERCAL  B
					ON 
					 A.APPLICANT_UCIC=B.UCIF_ID
					INNER JOIN PRO.ACCOUNTCAL C ON B.UCIF_ID=C.UCIF_ID
			WHERE (B.FLGPROCESSING='N')
					AND C.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
					AND  ISNULL(B.MOCSTATUSMARK,'N')='N' 
					AND  ISNULL(C.ACCOUNTSTATUS,'N')<>'Z' 
					AND ISNULL(C.BANKASSETCLASS,'N')<>'WRITEOFF'
					AND B.FLGUPG<>'U'
					AND B.SRCASSETCLASSALT_KEY>1
			/*MANUAL CHANGES ON UAT AFTER DATA IMPACT CHECK 20240930 BY ZAIN & TUSHAR ON UCIF LEVEL END*/

;WITH CTE_A AS(
			SELECT A.CO_APPLICANT_FCR_CUST_ID,B.APPLICANT_FCR_CUST_ID FROM PRO.COBORROWERDETAILSHIST  A 
			LEFT JOIN PRO.COBORROWERDETAILS B 
			ON A.APPLICANT_FCR_CUST_ID=B.APPLICANT_FCR_CUST_ID
			WHERE B.APPLICANT_FCR_CUST_ID IS NULL
			AND A.APPLICANT_UCIC IS NULL 
			AND A.APPLICANT_FCR_CUST_ID IS NOT NULL
			AND (A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY-1 AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY-1)
			AND A.FLAG='C'
			GROUP BY A.APPLICANT_FCR_CUST_ID,A.CO_APPLICANT_FCR_CUST_ID,B.APPLICANT_FCR_CUST_ID
			),
			CTE_B
			AS(
			/*FINDING PRIMARY BORROWER(LINKED AS A COBORROWER ON PREVIOUS DATE) DEGRADE DATE IS NULL OR NOT*/
			SELECT B.APPLICANT_UCIC,B.APPLICANT_FCR_CUST_ID,B.DEGDATE,B.FLGDEG 
			FROM CTE_A A 
			INNER JOIN 
			PRO.COBORROWERDETAILSHIST B ON
			A.CO_APPLICANT_FCR_CUST_ID=B.APPLICANT_FCR_CUST_ID
			AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY-1 AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY-1)
			AND B.DEGDATE IS NULL 
			)
			/*UPDATING PRIMARY BORROWER FLAG AS 'U' IF ALL THE UPGRADATION CONDITION IS SATISFYING SO THAT IT WILL BE UPGRADED*/
			UPDATE B SET B.FLGUPG='U'
			FROM CTE_B A
				INNER JOIN PRO.CUSTOMERCAL  B
					ON 
					 A.APPLICANT_FCR_CUST_ID=B.REFCUSTOMERID
					INNER JOIN PRO.ACCOUNTCAL C ON B.REFCUSTOMERID=C.REFCUSTOMERID
			WHERE (B.FLGPROCESSING='N')
					AND C.ASSET_NORM NOT IN ('ALWYS_NPA','ALWYS_STD')
					AND  ISNULL(B.MOCSTATUSMARK,'N')='N' 
					AND  ISNULL(C.ACCOUNTSTATUS,'N')<>'Z' 
					AND ISNULL(C.BANKASSETCLASS,'N')<>'WRITEOFF'
					AND B.FLGUPG<>'U'
					AND B.SRCASSETCLASSALT_KEY>1

			/*MANUAL CHANGES ON UAT AFTER DATA IMPACT CHECK 20240930 BY ZAIN & TUSHAR ON CUSTOMER LEVEL END*/

			/*FOR CUSTOMER HAVING ONLY ALWAYS STANDARD ACCOUNT AS ON DATE AND PREVIOULSY NPA OR WRITE OF ACCOUNTS ARE CLOSED 
				THEN CUSTOMER UPGRADE FLAG SHOLUD BE 'Y' IN CUSTOMER CAL FLG SHOULD BE UPGRADE 'U'.ADDED BY ZAIN ON 20240902 ON LOCAL*/

				IF OBJECT_ID('TEMPDB..#ACCOUNT_ALWAYS_STD') IS NOT NULL
				DROP TABLE #ACCOUNT_ALWAYS_STD
			
				SELECT  UCIF_ID,REFCUSTOMERID,COUNT(1) COUNT_STD
					INTO #ACCOUNT_ALWAYS_STD 
				FROM PRO.ACCOUNTCAL
					WHERE ASSET_NORM='ALWYS_STD'
	--				AND UCIF_ID='162810'
					GROUP BY UCIF_ID,REFCUSTOMERID


				IF OBJECT_ID('TEMPDB..#CUST_ALWAYS_STD') IS NOT NULL
				DROP TABLE #ACCOUNT_ALL
		
				SELECT  A.UCIF_ID,A.REFCUSTOMERID,COUNT(1) COUNT_ALL
					INTO #ACCOUNT_ALL 
				FROM PRO.ACCOUNTCAL A 
					INNER JOIN #ACCOUNT_ALWAYS_STD B 
					ON A.UCIF_ID=B.UCIF_ID
				GROUP BY A.UCIF_ID,A.REFCUSTOMERID


				;WITH CTE_STD AS(
							SELECT A.UCIF_ID FROM 
							#ACCOUNT_ALWAYS_STD A
							INNER JOIN #ACCOUNT_ALL B
							ON A.UCIF_ID=B.UCIF_ID
							AND A.COUNT_STD=B.COUNT_ALL
							)
						UPDATE B SET B.FLGUPG='U'
									,B.FLGDEG=NULL
									,B.DEGDATE=NULL
									,B.DEGREASON=NULL
							--SELECT A.*,B.FLGDEG,B.DEGDATE,B.DEGREASON,B.FLGUPG,B.* 
							FROM CTE_STD A
							INNER JOIN PRO.CUSTOMERCAL B
						ON 
						 A.UCIF_ID=B.UCIF_ID
						 AND ISNULL(B.FLGDEG,'N')='Y'--ADDED BY ZAIN AND BALA ON LOCAL AS PER OBSERVATION RAISED BY PRAVIN ON 20250321

/*ADDED BY ZAIN AND BALA ON LOCAL AS PER OBSERVATION RAISED BY PRAVIN ON 20250321*/
				UPDATE C SET C.SYSASSETCLASSALT_KEY=1
							,C.SYSNPA_DT=NULL
							,C.FLGUPG='U'
							,C.FLGDEG=NULL
							,C.DEGDATE=NULL
							,C.DEGREASON=NULL
				FROM #ACCOUNT_ALL A INNER JOIN #ACCOUNT_ALWAYS_STD B ON A.REFCUSTOMERID=B.REFCUSTOMERID
				INNER JOIN PRO.CUSTOMERCAL C ON A.REFCUSTOMERID=C.REFCUSTOMERID
				WHERE A.COUNT_ALL=B.COUNT_STD
				AND C.SYSASSETCLASSALT_KEY IS NULL
			/*FOR CUSTOMER HAVING ONLY ALWAYS STANDARD ACCOUNT AS ON DATE AND PREVIOULSY NPA OR WRITE OF ACCOUNTS ARE CLOSED 
				THEN CUSTOMER UPGRADE FLAG SHOLUD BE 'Y' IN CUSTOMER CAL CLASSIFICATION SHOULD BE END */

/*ACCOUNTS WITH DPD 0 IS PASSED AS NPA IN MOC IS UPGRADED TO HANDLE Co_NPADate,Co_Assetclassalt_key,Pri_NPADate,Pri_Assetclassalt_key AS NULL*/

			UPDATE PRO.COBORROWERDETAILS SET Co_NPADate=NULL
											,Co_Assetclassalt_key=NULL
											,Pri_NPADate=NULL
											,Pri_Assetclassalt_key=NULL
			WHERE FlgUpg='U' AND UpgDate=@PROCESSDATE

/*ACCOUNTS WITH DPD 0 IS PASSED AS NPA IN MOC IS UPGRADED TO HANDLE Co_NPADate,Co_Assetclassalt_key,Pri_NPADate,Pri_Assetclassalt_key AS NULL*/


/*ADDED BY ZAIN AND BALA ON LOCAL AS PER OBSERVATION RAISED BY PRAVIN ON 20250321 END*/
		
	END
			
END 
GO
