USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[REVERSEFEED_ENPA]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*=========================================
AUTHER : TRILOKI KHANNA
CREATE DATE : 10-04-2019
MODIFY DATE : 10-04-2019
DESCRIPTION : PRO.REVERSEFEED_ENPA
--EXEC [PRO].[REVERSEFEED_ENPA]
============================================*/
--select * from #REVERSEFEED_ENPA where SOURCESYSTEMNAME ='FCR'



Create PROCEDURE [pro].[REVERSEFEED_ENPA]
AS
BEGIN
  DECLARE @TIMEKEY INT = (SELECT TIMEKEY FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')
  DECLARE @Date DATE =(SELECT CAST(EndDate AS DATE) FROM PRO.EXTDATE_MISDB WHERE Flg='Y')
  DECLARE @SETID INT =(SELECT ISNULL(MAX(ISNULL(SETID,0)),0)+1 FROM [PRO].[PROCESSMONITOR] WHERE TIMEKEY=@TIMEKEY)

  
INSERT INTO PRO.PROCESSMONITOR(USERID,DESCRIPTION,MODE,STARTTIME,ENDTIME,TIMEKEY,SETID)
SELECT ORIGINAL_LOGIN(),'INSERT DATA FOR REVERSEFEED_ENPA','RUNNING',GETDATE(),NULL,@TIMEKEY,@SETID


  DELETE  FROM  DBO.REVERSEFEED_ENPA WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
  DELETE  FROM  YBL_ACS_MIS..REVERSEFEED_ENPA WHERE EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY

  ---Murex 06 April 22 by Tiloki
  	IF OBJECT_ID ('TEMPDB..#MurexData') IS NOT NULL
	DROP TABLE #MurexData

  SELECT  case when ((CTP_NPA_FLAG='Y' and CTP_NPA_DATE is not null) or (ISS_NPA_FLAG ='Y' and ISS_NPA_DATE is not null)) then 2
else 1 end SourceAssetclass ,FCC_CustomerID into #MurexData
from YBL_ACS_MIS.[dbo].[ODS_MUREX_DPD_NPA]   
where FCC_CustomerID is not null


	IF OBJECT_ID ('TEMPDB..#REVERSEFEED_ENPA') IS NOT NULL
	DROP TABLE #REVERSEFEED_ENPA
	
CREATE TABLE #REVERSEFEED_ENPA (
	[SOURCESYSTEMNAME] [VARCHAR](30) NULL,
	[DATEOFDATA] [DATE] NULL,
	[UCIC_ID] [VARCHAR](30) NULL,
	[FCR_CUSTOMERID] [VARCHAR](30) NULL,
	[SOURCESYSTEMCUSTOMERID] [VARCHAR](30) NULL,
	[ACCOUNTID] [VARCHAR](30) NULL,
	[ASSETCLASS] [VARCHAR](20) NULL,
	[ASSETSUBCLASS] [VARCHAR](20) NULL,
	[NPADATE] [DATE] NULL,
	[NPAREASON] [VARCHAR](MAX) NULL,
	[NPACATEGORY] [VARCHAR](20) NULL,
	[EFFECTIVEFROMTIMEKEY] [INT] NULL,
	[EFFECTIVETOTIMEKEY] [INT] NULL
	)


	INSERT INTO	#REVERSEFEED_ENPA
			(
					 SOURCESYSTEMNAME
					,DATEOFDATA
					,UCIC_ID
					,FCR_CUSTOMERID
					,SOURCESYSTEMCUSTOMERID
					,ACCOUNTID
					,ASSETCLASS
					,ASSETSUBCLASS
					,NPADATE
					,NPAREASON
					,NPACATEGORY
					,EFFECTIVEFROMTIMEKEY
					,EFFECTIVETOTIMEKEY
		    )

		
   SELECT 
         DSB.SOURCENAME AS SOURCESYSTEMNAME
	,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,A.CUSTOMERACID AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

WHERE  (
(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
OR 
 ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
OR 
 (A.flgdeg='Y')
)
 )
			AND  ISNULL(A.AccountStatus,'N')<>'Z'
			AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
			AND DSB.SOURCENAME NOT IN ('VISIONPLUS','SFIN','ecfs')
			AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF' --2 )Excluding Writeoff case from reverse feed  Changes in ENPA system as per Audit Observation 05/01/2022
UNION
   SELECT 
         DSB.SOURCENAME AS SOURCESYSTEMNAME
	,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,A.CUSTOMERACID AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

WHERE    DSB.SOURCENAME in('FCR','FCC') and FinalAssetClassAlt_Key<>1
AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF' 
UNION 
SELECT 
     DSB.SOURCENAME AS SOURCESYSTEMNAME
	,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,A.CUSTOMERACID AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

WHERE  (
(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
OR 
 ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
 
 )
  OR (A.BankAssetClass='REGULAR' and A.FinalAssetClassAlt_Key>1)
  OR (A.BankAssetClass<>'REGULAR' and A.FinalAssetClassAlt_Key=1)
   OR  A.flgdeg='Y'
      )  AND DSB.SOURCENAME in('GANASEVA','FINNONE')
   AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
   AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF' --2 )Excluding Writeoff case from reverse feed  Changes in ENPA system as per Audit Observation 05/01/2022
UNION 
SELECT 
     DSB.SOURCENAME AS SOURCESYSTEMNAME
	,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,A.CUSTOMERACID AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

WHERE  (
(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
OR 
 ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
 
 )
  OR (A.BankAssetClass not in ('NPA','NPA1','SUB') and A.FinalAssetClassAlt_Key>1)
  OR (A.BankAssetClass  in ('NPA','NPA1','SUB') and A.FinalAssetClassAlt_Key=1)
   OR  A.flgdeg='Y'
      )  AND DSB.SOURCENAME in('FCC','GOLD')
   AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
   AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF' --2 )Excluding Writeoff case from reverse feed  Changes in ENPA system as per Audit Observation 05/01/2022
union 
SELECT 
     DSB.SOURCENAME AS SOURCESYSTEMNAME
	,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,A.CUSTOMERACID AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

WHERE  (
(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
OR 
 ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
 
 )
OR (isnull(A.BankAssetClass,'STD')  in ('STD') and A.FinalAssetClassAlt_Key>1)
  OR (isnull(A.BankAssetClass,'STD') not in ('STD') and A.FinalAssetClassAlt_Key=1)
  OR  A.flgdeg='Y'
      )  AND DSB.SOURCENAME in('CREDAVENUE_DA')
   AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
   AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'
--union 
--SELECT 
--      'ECFS' AS SOURCESYSTEMNAME
--	,@Date AS   DATEOFDATA
--	,B.UCIF_ID AS UCIC_ID
--	,B.REFCUSTOMERID AS FCR_CUSTOMERID
--	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
--	,A.CUSTOMERACID AS ACCOUNTID
--	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
--	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
--	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
--	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
--	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
--	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
--	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
--	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
--	,A.FINALNPADT AS  NPADATE
--	,A.DEGREASON AS  NPAREASON
--	,A.NPATYPE AS  NPACATEGORY
--	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
--     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
--     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
--    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
--    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

--WHERE  (
--(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
--OR 
-- ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
 
-- )
--OR (isnull(A.BankAssetClass,'STD')  in ('STD') and A.FinalAssetClassAlt_Key>1)
--  OR (isnull(A.BankAssetClass,'STD') not in ('STD') and A.FinalAssetClassAlt_Key=1)
--  OR  A.flgdeg='Y'
--      )  AND DSB.SOURCENAME in('SFIN')
--   AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W' 
--   AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'
UNION
SELECT 
      'ECFS' AS SOURCESYSTEMNAME
	,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,E.ECFSContractRefNo AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
	inner join CURDAT.AdvFacSmartFinDetail E on a.AccountEntityID=E.AccountEntityID AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY

WHERE  (
(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
OR 
 ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
 
 )
OR (isnull(E.ECFSAssetClass,'STD')  in ('STD') and A.FinalAssetClassAlt_Key>1)
  OR (isnull(E.ECFSAssetClass,'STD') not in ('STD') and A.FinalAssetClassAlt_Key=1)
  OR  A.flgdeg='Y'
      )  AND DSB.SOURCENAME in('SFIN')
   AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W' 
   AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'   
   
UNION
SELECT 
     DSB.SOURCENAME AS SOURCESYSTEMNAME
	,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,E.ECFSContractRefNo AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
	inner join CURDAT.AdvFacECFSDetail E on a.AccountEntityID=E.AccountEntityID AND E.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND E.EFFECTIVETOTIMEKEY>=@TIMEKEY
WHERE  (
(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
OR 
 ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
OR 
 (A.flgdeg='Y')
)
 )
			AND  ISNULL(A.AccountStatus,'N')<>'Z'
			AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W' 
			AND DSB.SOURCENAME   IN ('ecfs')
			AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'  
--SELECT 
--     'FCR' AS SOURCESYSTEMNAME
--	,@Date AS   DATEOFDATA
--	,B.UCIF_ID AS UCIC_ID
--	,B.REFCUSTOMERID AS FCR_CUSTOMERID
--	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
--	,A.CUSTOMERACID AS ACCOUNTID
--	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
--	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
--	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
--	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
--	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
--	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
--	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
--	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
--	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
--	,A.FINALNPADT AS  NPADATE
--	,A.DEGREASON AS  NPAREASON
--	,A.NPATYPE AS  NPACATEGORY
--	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
--     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
--     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
--    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
--    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

--WHERE  (
--(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
--OR 
-- ((A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
--OR 
-- (A.flgdeg='Y')
-- ) )
--			AND  ISNULL(A.AccountStatus,'N')<>'Z'
--			AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
--		  AND DSB.SOURCENAME in('ECBF','EIFS','ECFS','MUREX')
--		 AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'
Union  ---Murex 06 April 22 by Tiloki
SELECT distinct
     'MUREX' AS SOURCESYSTEMNAME
	 ,@Date AS   DATEOFDATA
	,B.UCIF_ID AS UCIC_ID
	,B.REFCUSTOMERID AS FCR_CUSTOMERID
	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
	,A.CUSTOMERACID AS ACCOUNTID
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
	,A.FINALNPADT AS  NPADATE
	,A.DEGREASON AS  NPAREASON
	,A.NPATYPE AS  NPACATEGORY
	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY
	INNER JOIN #MurexData M on a.refcustomerID= M.FCC_CustomerID

WHERE  (
(A.INITIALASSETCLASSALT_KEY=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
OR 
 (A.INITIALASSETCLASSALT_KEY in(2,3,4,5,6) AND A.FinalAssetClassAlt_Key=1)
OR 
 (A.flgdeg='Y')
 OR
 (M.SourceAssetclass=1 AND A.FinalAssetClassAlt_Key in(2,3,4,5,6)) 
 OR
  (M.SourceAssetclass=2 AND A.FinalAssetClassAlt_Key=1)
 ) 
			AND  ISNULL(A.AccountStatus,'N')<>'Z'
			AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
		  AND DSB.SOURCENAME in('Murex')
		 AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'

insert into #REVERSEFEED_ENPA(
	   SOURCESYSTEMNAME
	 , DATEOFDATA
	 , UCIC_ID
	 ,FCR_CUSTOMERID
	,SOURCESYSTEMCUSTOMERID
	,ACCOUNTID
	, ASSETCLASS
	, ASSETSUBCLASS
	,  NPADATE
	, NPAREASON
	, NPACATEGORY
	,EFFECTIVEFROMTIMEKEY
     , EFFECTIVETOTIMEKEY
	 )
	 select distinct 'FCR' AS SOURCESYSTEMNAME
	 , DATEOFDATA
	, UCIC_ID
	,FCR_CUSTOMERID
	,SOURCESYSTEMCUSTOMERID
	,'' as ACCOUNTID
	, ASSETCLASS
	, ASSETSUBCLASS
	,  NPADATE
	, '' NPAREASON
	, NPACATEGORY
	,EFFECTIVEFROMTIMEKEY
     , EFFECTIVETOTIMEKEY  From #REVERSEFEED_ENPA where SOURCESYSTEMNAME <> 'FCR'
	 and FCR_CUSTOMERID not in (select FCR_CUSTOMERID from #REVERSEFEED_ENPA where SOURCESYSTEMNAME ='FCR') --- Other unique CustomerID flowed into FCR 27JAN23
	 AND FCR_CUSTOMERID NOT LIKE '%[A-Z]%' -- Added for only numeric customer id in FCR [11-June-2023]

--select 'FCR' AS SOURCESYSTEMNAME
--	 , DATEOFDATA
--	, UCIC_ID
--	,FCR_CUSTOMERID
--	,SOURCESYSTEMCUSTOMERID
--	,ACCOUNTID
--	, ASSETCLASS
--	, ASSETSUBCLASS
--	,  NPADATE
--	, NPAREASON
--	, NPACATEGORY
--	,EFFECTIVEFROMTIMEKEY
--     , EFFECTIVETOTIMEKEY From #REVERSEFEED_ENPA where SOURCESYSTEMNAME <> 'FCR'

			  
----Added on 23-Mar-2021 to handle regular case which are not Marked NPA in source system but NPA in ENPA and later on uprgade by ENPA system
----   UNION

----   SELECT 
----     DSB.SOURCENAME AS SOURCESYSTEMNAME
----	,@Date AS   DATEOFDATA
----	,B.UCIF_ID AS UCIC_ID
----	,B.REFCUSTOMERID AS FCR_CUSTOMERID
----	,B.SOURCESYSTEMCUSTOMERID AS SOURCESYSTEMCUSTOMERID
----	,A.CUSTOMERACID AS ACCOUNTID
----	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
----	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'NPA'
----	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'NPA'
----	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'NPA'
----	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'NPA'
----	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'NPA' END AS ASSETCLASS
----	,CASE WHEN A.FINALASSETCLASSALT_KEY =1 THEN 'STD'
----	  WHEN A.FINALASSETCLASSALT_KEY =2 THEN 'SUB'
----	  WHEN A.FINALASSETCLASSALT_KEY =3 THEN 'DB1'
----	  WHEN A.FINALASSETCLASSALT_KEY =4 THEN 'DB2'
----	  WHEN A.FINALASSETCLASSALT_KEY =5 THEN 'DB3'
----	  WHEN A.FINALASSETCLASSALT_KEY =6 THEN 'LOS' END AS ASSETSUBCLASS
----	,A.FINALNPADT AS  NPADATE
----	,A.DEGREASON AS  NPAREASON
----	,A.NPATYPE AS  NPACATEGORY
----	,@TIMEKEY AS EFFECTIVEFROMTIMEKEY
----     ,@TIMEKEY AS EFFECTIVETOTIMEKEY
   
----     FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL  B ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
----    INNER JOIN DIMASSETCLASS D ON D.ASSETCLASSALT_KEY=A.FINALASSETCLASSALT_KEY AND D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
----    INNER JOIN DIMSOURCEDB DSB ON  A.SOURCEALT_KEY=DSB.SOURCEALT_KEY AND DSB.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND DSB.EFFECTIVETOTIMEKEY>=@TIMEKEY

----WHERE    A.INITIALASSETCLASSALT_KEY= 1 and A.FINALASSETCLASSALT_KEY=1 AND  ISNULL(A.AccountStatus,'N')<>'Z' AND DSB.SOURCENAME<>'VISIONPLUS' 
----AND A.SourceSystemCustomerID in 
----(
----  select SourceSystemCustomerID from curdat.advcustnpadetail where EffectiveToTimeKey =@TIMEKEY-1 
----  )

 UPDATE #REVERSEFEED_ENPA SET SourceSystemCustomerID=SUBSTRING(SourceSystemCustomerID,8,LEN(SourceSystemCustomerID)-7) FROM #REVERSEFEED_ENPA WHERE SourceSystemName='FinnOne'  and SourceSystemCustomerID  like '%FinnOne%' 
 UPDATE #REVERSEFEED_ENPA SET SourceSystemCustomerID=SUBSTRING(SourceSystemCustomerID,9,LEN(SourceSystemCustomerID)-8) FROM #REVERSEFEED_ENPA WHERE SourceSystemName='GANASEVA'  and SourceSystemCustomerID  like '%GANASEVA%' 
 --UPDATE #REVERSEFEED_ENPA SET SourceSystemCustomerID=SUBSTRING(SourceSystemCustomerID,5,LEN(SourceSystemCustomerID)-4) FROM #REVERSEFEED_ENPA WHERE SourceSystemName='CREDAVENUE_DA'  and SourceSystemCustomerID  like '%CRED%'
--changed on 15-SEP-2023
 UPDATE #REVERSEFEED_ENPA SET SourceSystemCustomerID=SUBSTRING(SourceSystemCustomerID,11,LEN(SourceSystemCustomerID)-10) FROM #REVERSEFEED_ENPA WHERE SourceSystemName='CREDAVENUE_DA'  and SourceSystemCustomerID  like '%CREDAVENUE%'
----Added on 9th May 2023-----[Worst Case Status]---------
IF OBJECT_ID ('TEMPDB..#REVERSEFEED_ENPA_Remove') IS NOT NULL
DROP TABLE #REVERSEFEED_ENPA_Remove

SELECT FCR_CUSTOMERID into #REVERSEFEED_ENPA_Remove FROM #REVERSEFEED_ENPA WHERE SOURCESYSTEMNAME in ('FCR','FCC') AND ASSETCLASS='NPA'

DELETE FROM #REVERSEFEED_ENPA where FCR_CUSTOMERID in( SELECT FCR_CUSTOMERID FROM #REVERSEFEED_ENPA_Remove) AND SOURCESYSTEMNAME in ('FCR','FCC') AND ASSETCLASS='STD'

  INSERT  INTO  DBO.REVERSEFEED_ENPA

  (      			SOURCESYSTEMNAME
					,DATEOFDATA
					,UCIC_ID
					,FCR_CUSTOMERID
					,SOURCESYSTEMCUSTOMERID
					,ACCOUNTID
					,ASSETCLASS
					,ASSETSUBCLASS
					,NPADATE
					,NPAREASON
					,NPACATEGORY
					,EFFECTIVEFROMTIMEKEY
					,EFFECTIVETOTIMEKEY
  )
  SELECT 

                    SOURCESYSTEMNAME
					,DATEOFDATA
					,UCIC_ID
					,FCR_CUSTOMERID
					,SOURCESYSTEMCUSTOMERID
					,ACCOUNTID
					,ASSETCLASS
					,ASSETSUBCLASS
					,NPADATE
					,NPAREASON
					,NPACATEGORY
					,EFFECTIVEFROMTIMEKEY
					,EFFECTIVETOTIMEKEY
					FROM #REVERSEFEED_ENPA 
					
									

				
  INSERT  INTO  YBL_ACS_MIS..REVERSEFEED_ENPA

  (
					SOURCESYSTEMNAME
					,DATEOFDATA
					,UCIC_ID
					,FCR_CUSTOMERID
					,SOURCESYSTEMCUSTOMERID
					,ACCOUNTID
					,ASSETCLASS
					,ASSETSUBCLASS
					,NPADATE
					,NPAREASON
					,NPACATEGORY
					,EFFECTIVEFROMTIMEKEY
					,EFFECTIVETOTIMEKEY
  )
  SELECT 

                    SOURCESYSTEMNAME
					,DATEOFDATA
					,UCIC_ID
					,FCR_CUSTOMERID
					,SOURCESYSTEMCUSTOMERID
					,ACCOUNTID
					,ASSETCLASS
					,ASSETSUBCLASS
					,NPADATE
					,NPAREASON
					,NPACATEGORY
					,EFFECTIVEFROMTIMEKEY
					,EFFECTIVETOTIMEKEY
					FROM #REVERSEFEED_ENPA 

UPDATE PRO.PROCESSMONITOR SET ENDTIME=GETDATE() ,MODE='COMPLETE' 
WHERE IDENTITYKEY = (SELECT IDENT_CURRENT('PRO.PROCESSMONITOR'))
 AND  TIMEKEY=@TIMEKEY AND DESCRIPTION='INSERT DATA FOR REVERSEFEED_ENPA'		
		
				END 

GO
