USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[UPDATE_NPA_TYPE]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*=========================================
 AUTHER : Triloki Khanna
 CREATE DATE : 20-12-2018
 MODIFY DATE : 13-05-2022
 DESCRIPTION :UPDATE NPA TYPE AT ACCOUNT LEVEL
 EXEC [PRO].[UPDATE_NPA_TYPE] 26418
=============================================*/
CREATE PROCEDURE [pro].[UPDATE_NPA_TYPE]
@TIMEKEY INT
AS
BEGIN
/*----------------Update NpaType in account cal table ---------------------------- */

------UPDATE A SET 	A.NpaType = ( CASE	 
------										WHEN CD=5 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 90 AND  119  THEN  'REGULAR'
------										WHEN CD=6 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 120 AND  149  THEN  'REGULAR'
------										WHEN CD=7 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 150 AND  179  THEN  'REGULAR'
------										WHEN CD=8 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 180 AND  209  THEN  'REGULAR'
------										WHEN CD=9 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX >=210  THEN  'REGULAR'

------										WHEN CD=5 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 90 AND   119  THEN  'REGULAR'
------										WHEN CD=6 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 120 AND  149  THEN  'REGULAR'
------										WHEN CD=7 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 150 AND  179  THEN  'REGULAR'
------										WHEN CD=8 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 180 AND  209  THEN  'REGULAR'
------										WHEN CD=9 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX >=210  THEN  'REGULAR'

------										WHEN CD=5 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 90 AND   119  THEN  'REGULAR'
------										WHEN CD=6 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 120 AND  149  THEN  'REGULAR'
------										WHEN CD=7 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 150 AND  179  THEN  'REGULAR'
------										WHEN CD=8 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 180 AND  209  THEN  'REGULAR'
------										WHEN CD=9 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX >=210  THEN  'REGULAR'

------										WHEN CD=5 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 90 AND   119  THEN  'REGULAR'
------										WHEN CD=6 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 120 AND  149  THEN  'REGULAR'
------										WHEN CD=7 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 150 AND  179  THEN  'REGULAR'
------										WHEN CD=8 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 180 AND  209  THEN  'REGULAR'
------										WHEN CD=9 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX >=210  THEN  'REGULAR'

------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 1 AND  29   THEN  'STICKY'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 30 AND  59  THEN  'STICKY'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 60 AND  89  THEN  'STICKY'

------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 1 AND  29   THEN  'STICKY'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 30 AND  59  THEN  'STICKY'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 60 AND  89  THEN  'STICKY'

------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 1 AND  29   THEN  'STICKY'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 30 AND  59  THEN  'STICKY'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 60 AND  89  THEN  'STICKY'

------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 1 AND  29   THEN  'STICKY'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 30 AND  59  THEN  'STICKY'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 60 AND  89  THEN  'STICKY'

------										--WHEN CD=0 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX =0   THEN  'MULTIPLE'
------										--WHEN CD=1 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX=0   THEN  'MULTIPLE'
------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 1 AND  29   THEN  'MULTIPLE'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 30 AND  59   THEN  'MULTIPLE'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='SUB' AND DPD_MAX BETWEEN 60 AND  89   THEN  'MULTIPLE'

------										--WHEN CD=0 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX =0   THEN  'MULTIPLE'
------										--WHEN CD=1 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX=0   THEN  'MULTIPLE'
------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 1 AND  29   THEN  'MULTIPLE'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 30 AND  59   THEN  'MULTIPLE'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='DB1' AND DPD_MAX BETWEEN 60 AND  89   THEN  'MULTIPLE'
										
------										--WHEN CD=0 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX =0   THEN  'MULTIPLE'
------										--WHEN CD=1 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX=0   THEN  'MULTIPLE'
------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 1 AND  29   THEN  'MULTIPLE'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 30 AND  59   THEN  'MULTIPLE'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='DB2' AND DPD_MAX BETWEEN 60 AND  89   THEN  'MULTIPLE'

------										--WHEN CD=0 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX =0   THEN  'MULTIPLE'
------										--WHEN CD=1 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX=0   THEN  'MULTIPLE'
------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 1 AND  29   THEN  'MULTIPLE'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 30 AND  59   THEN  'MULTIPLE'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='DB3' AND DPD_MAX BETWEEN 60 AND  89   THEN  'MULTIPLE'

------										--WHEN CD=1 AND DA.ASSETCLASSSHORTNAME='LOS' AND DPD_MAX=0   THEN  'MULTIPLE'
------										--WHEN CD=2 AND DA.ASSETCLASSSHORTNAME='LOS' AND DPD_MAX BETWEEN 1 AND  29   THEN  'MULTIPLE'
------										--WHEN CD=3 AND DA.ASSETCLASSSHORTNAME='LOS' AND DPD_MAX BETWEEN 30 AND  59   THEN  'MULTIPLE'
------										--WHEN CD=4 AND DA.ASSETCLASSSHORTNAME='LOS' AND DPD_MAX BETWEEN 60 AND  89   THEN  'MULTIPLE'

------								 END	
------						      )					 
------FROM pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
------     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
------INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
------     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
------WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'

------   UPDATE PRO.ACCOUNTCAL SET NPATYPE='REGULAR'
------  FROM  pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
------     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
------INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
------     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
------WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'
------   AND  ISNULL(ACCOUNTSTATUS,'N')<>'Z' 
------   AND   DEGREASON LIKE '%EXISTING NPA VisionPLUS%'   AND NPATYPE IS NULL
 
------ --- Sticky NPA patch shared by Trilok sir for 30-Jun-21 go live.
------   UPDATE PRO.ACCOUNTCAL SET NPATYPE='STICKY'
------  FROM  pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
------     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
------INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
------     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
------WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'
------   AND (FinalNpaDt IS NOT NULL AND CD IN (2,3,4) AND ISNULL(ACCOUNTSTATUS,'N')<>'Z')
------   -- AND NPATYPE IS NULL
 
 ---As per Bank Mail New Condition 13/05/2022---   

UPDATE A SET NpaType='REGULAR'
  FROM pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'
AND ISNULL(DPD_MAX,0)>90

UPDATE A SET NpaType='STICKY'
  FROM pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
	INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'
AND ISNULL(DPD_MAX,0)<=90

UPDATE PRO.ACCOUNTCAL SET NPATYPE='MULTIPLE'
  FROM  pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'
   AND  ISNULL(ACCOUNTSTATUS,'N')<>'Z' 
   AND   DEGREASON LIKE '%PERCOLATION%' -- AND NPATYPE IS NULL



UPDATE A SET FlgWriteOff='C3'
  FROM pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
	INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'
	AND  ISNULL(A.AccountStatus,'N')<>'Z' 
 	AND  ISNULL(A.AccountBlkCode1,'N')<>'W' AND  ISNULL(A.AccountBlkCode2,'N')<>'W'--- Exclude Card Settlement Account Treatment from NPA LIST 24/11/2021 TRILOKI KHANNA AS PER BANK POINT 14/12/2021
	AND ISNULL(A.BANKASSETCLASS,'N')<>'WRITEOFF'
	AND A.ASSET_NORM<>'ALWYS_STD'
    AND ISNULL(DPD_Overdue,0) >=179 

/*FOR OTS CR ADDED BY ZAIN  ON LOCAL 20250213*/	
UPDATE A SET NpaType='ALWYS_NPA'
  FROM pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
     AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
     AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
WHERE B.SourceName IN ('VisionPLUS','FinnOne')  AND DA.AssetClassGroup='NPA'
AND ISNULL(A.OTS_Settlement_Flag,'N')='Y'
/*FOR OTS CR ADDED BY ZAIN  ON LOCAL 20250213 END*/
     


----comments 31-Aug-2021
   --UPDATE PRO.ACCOUNTCAL SET NPATYPE='STICKY'
  --FROM  pro.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
     --AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
--INNER JOIN DimAssetClass DA ON A.FinalAssetClassAlt_Key=DA.AssetClassAlt_Key
     --AND (DA.EffectiveFromTimeKey<=@TIMEKEY AND DA.EffectiveToTimeKey>=@TIMEKEY)
--WHERE B.SourceName='VisionPLUS'  AND DA.AssetClassGroup='NPA'
   --AND (ACCOUNTBLKCODE1 ='A' AND CD IN (2,3,4) AND ISNULL(ACCOUNTSTATUS,'N')<>'Z')
   ---- AND NPATYPE IS NULL
   
  
END
GO
