USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[Pro.ProcessingSteps5]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [pro].[Pro.ProcessingSteps5]
@UserLoginID VARCHAR(50)='DM585'
AS
BEGIN
  DECLARE @TIMEKEY INT = (SELECT TIMEKEY FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')
  DECLARE @ProcessingDateAudit DATE=(SELECT StartDate FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')
  DELETE FROM PACKAGE_AUDIT WHERE IdentityKey=5

  INSERT INTO PACKAGE_AUDIT(IdentityKey,UserID,Execution_date,PackageName,TableName,ExecutionStartTime,ExecutionStatus,ProcessingDate)    SELECT 5,@UserLoginID, GETDATE(),'Data Pro', 'Data Processing',GETDATE(),'P',@ProcessingDateAudit

EXEC PRO.MAINPROECESSFORASSETCLASSFICATION  
--EXEC PRO.DATATOCLIENTDEGRADE
--EXEC PRO.DATATOCLIENTDEGRADENPA
--EXEC PRO.DATATOCLIENTDEGRADEPNPA
--EXEC PRO.DATATOCLIENTUPGRADE
EXEC PRO.REVERSEFEED_ENPA
EXEC [PRO].[REVERSEFEED_ENPA_VISIONPLUS]

UPDATE PACKAGE_AUDIT SET ExecutionEndTime=GETDATE()  WHERE IdentityKey = 5 AND  Execution_date=CAST(GETDATE() AS DATE) AND TableName='Data Processing'
UPDATE PACKAGE_AUDIT SET ExecutionStatus='Y' WHERE IdentityKey = 5
--UPDATE PACKAGE_AUDIT SET ExecutionStatus='N'											--***********LINE TO BE COMMENTED***********
--UPDATE PACKAGE_AUDIT SET ExecutionStartTime=NULL, ExecutionEndTime=NULL               --***********LINE TO BE COMMENTED***********


DELETE  FROM  PACKAGE_AUDITHIST WHERE TIMEKEY=@TIMEKEY 

INSERT INTO PACKAGE_AUDITHIST( IDENTITYKEY,USERID,EXECUTION_DATE,PACKAGENAME,TABLENAME,EXECUTIONSTARTTIME,EXECUTIONENDTIME,TIMEDURATION_MIN ,EXECUTIONSTATUS,PROCESSINGDATE,TIMEKEY)
SELECT 
IDENTITYKEY,USERID,EXECUTION_DATE,PACKAGENAME,TABLENAME,EXECUTIONSTARTTIME,EXECUTIONENDTIME,TIMEDURATION_MIN,EXECUTIONSTATUS,PROCESSINGDATE,@TIMEKEY FROM PACKAGE_AUDIT

UPDATE A SET UserID=B.UserID FROM PRO.ProcessMonitor A  INNER JOIN PACKAGE_AUDITHIST B  ON A.TimeKey=B.TimeKey WHERE B.IdentityKey = 5 

SELECT 5 AS StepNo, 'Result' AS TableName



END

GO
