USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[EXTDATE_FLG]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [pro].[EXTDATE_FLG]
@DATE DATE
AS
BEGIN
  
  SET DATEFORMAT DMY 

  UPDATE PRO.EXTDATE_MISDB SET Flg='N' WHERE ENDDATE<=@DATE
  UPDATE PRO.EXTDATE_MISDB SET Flg='Y' WHERE ENDDATE=@DATE
  UPDATE PRO.EXTDATE_MISDB SET Flg='N' WHERE ENDDATE>@DATE
   
  UPDATE SysDataMatrix SET CurrentStatus='U' WHERE MonthLastDate<=@DATE
  UPDATE SysDataMatrix SET CurrentStatus='C' WHERE MonthLastDate=@DATE
  UPDATE SysDataMatrix SET CurrentStatus='N' WHERE MonthLastDate>@DATE

  --DECLARE @TIMEKEY INT = (SELECT TIMEKEY FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')

 --UPDATE PRO.EXTDATE_MISDB SET Flg='U' WHERE Flg='Y'
  --UPDATE PRO.EXTDATE_MISDB SET Flg='Y' WHERE TIMEKEY=@TIMEKEY+1
  --UPDATE PRO.EXTDATE_MISDB SET Flg='N' WHERE TIMEKEY=@TIMEKEY+2
  
  --UPDATE SysDataMatrix SET CurrentStatus='U' WHERE CurrentStatus='C'
  --UPDATE SysDataMatrix SET CurrentStatus='C' WHERE TIMEKEY=@TIMEKEY+1
  --UPDATE SysDataMatrix SET CurrentStatus='N' WHERE TIMEKEY=@TIMEKEY+2


  --Alter table  YBL_ACS_MIS..ODS_MUREX_DPD_NPA  ADD Match_FCR CHAR(1)    
  
END





GO
