USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[InsertDataINTOHIST_TABLE_purge]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [pro].[InsertDataINTOHIST_TABLE_purge]
@TIMEKEY int
with recompile
as
begin

   DELETE  FROM  pro.CustomerCal_Histnew WHERE EffectiveFromTimeKey=@TIMEKEY and EffectiveToTimeKey=@TIMEKEY


insert into  pro.CustomerCal_Histnew
(
BranchCode
,UCIF_ID
,UcifEntityID
,CustomerEntityID
,ParentCustomerID
,RefCustomerID
,SourceSystemCustomerID
,CustomerName
,CustSegmentCode
,ConstitutionAlt_Key
,PANNO
,AadharCardNO
,SrcAssetClassAlt_Key
,SysAssetClassAlt_Key
,SplCatg1Alt_Key
,SplCatg2Alt_Key
,SplCatg3Alt_Key
,SplCatg4Alt_Key
,SMA_Class_Key
,PNPA_Class_Key
,PrvQtrRV
,CurntQtrRv
,TotProvision
,RBITotProvision
,BankTotProvision
,SrcNPA_Dt
,SysNPA_Dt
,DbtDt
,DbtDt2
,DbtDt3
,LossDt
,MOC_Dt
,ErosionDt
,SMA_Dt
,PNPA_Dt
,ProcessingDt
,Asset_Norm
,FlgDeg
,FlgUpg
,FlgMoc
,FlgSMA
,FlgProcessing
,FlgErosion
,FlgPNPA
,FlgPercolation
,FlgInMonth
,FlgDirtyRow
,DegDate
,EffectiveFromTimeKey
,EffectiveToTimeKey
,CommonMocTypeAlt_Key
,InMonthMark
,MocStatusMark
,SourceAlt_Key
,BankAssetClass
,Cust_Expo
,MOCReason
,AddlProvisionPer
,FraudDt
,FraudAmount
,DegReason
,IMAXID_CCube
,DATEOFDATA
,CustMoveDescription
,TotOsCust
,MOCTYPE
)
select 
BranchCode
,UCIF_ID
,UcifEntityID
,CustomerEntityID
,ParentCustomerID
,RefCustomerID
,SourceSystemCustomerID
,CustomerName
,CustSegmentCode
,ConstitutionAlt_Key
,PANNO
,AadharCardNO
,SrcAssetClassAlt_Key
,SysAssetClassAlt_Key
,SplCatg1Alt_Key
,SplCatg2Alt_Key
,SplCatg3Alt_Key
,SplCatg4Alt_Key
,SMA_Class_Key
,PNPA_Class_Key
,PrvQtrRV
,CurntQtrRv
,TotProvision
,RBITotProvision
,BankTotProvision
,SrcNPA_Dt
,SysNPA_Dt
,DbtDt
,DbtDt2
,DbtDt3
,LossDt
,MOC_Dt
,ErosionDt
,SMA_Dt
,PNPA_Dt
,ProcessingDt
,Asset_Norm
,FlgDeg
,FlgUpg
,FlgMoc
,FlgSMA
,FlgProcessing
,FlgErosion
,FlgPNPA
,FlgPercolation
,FlgInMonth
,FlgDirtyRow
,DegDate
,EffectiveFromTimeKey
,EffectiveToTimeKey
,CommonMocTypeAlt_Key
,InMonthMark
,MocStatusMark
,SourceAlt_Key
,BankAssetClass
,Cust_Expo
,MOCReason
,AddlProvisionPer
,FraudDt
,FraudAmount
,DegReason
,IMAXID_CCube
,DATEOFDATA
,CustMoveDescription
,TotOsCust
,MOCTYPE
 from pro.CustomerCal

-- DELETE  FROM  pro.Accountcal_Hist WHERE EffectiveFromTimeKey=@TIMEKEY and EffectiveToTimeKey=@TIMEKEY


--insert into pro.Accountcal_Hist 
--(
--AccountEntityID
--,UcifEntityID
--,CustomerEntityID
--,CustomerAcID
--,RefCustomerID
--,SourceSystemCustomerID
--,UCIF_ID
--,BranchCode
--,FacilityType
--,AcOpenDt
--,FirstDtOfDisb
--,ProductAlt_Key
--,SchemeAlt_key
--,SubSectorAlt_Key
--,SplCatg1Alt_Key
--,SplCatg2Alt_Key
--,SplCatg3Alt_Key
--,SplCatg4Alt_Key
--,SourceAlt_Key
--,ActSegmentCode
--,InttRate
--,Balance
--,BalanceInCrncy
--,CurrencyAlt_Key
--,DrawingPower
--,CurrentLimit
--,CurrentLimitDt
--,ContiExcessDt
--,StockStDt
--,DebitSinceDt
--,LastCrDate
--,InttServiced
--,IntNotServicedDt
--,OverdueAmt
--,OverDueSinceDt
--,ReviewDueDt
--,SecurityValue
--,DFVAmt
--,GovtGtyAmt
--,CoverGovGur
--,WriteOffAmount
--,UnAdjSubSidy
--,CreditsinceDt
--,DPD_IntService
--,DPD_NoCredit
--,DPD_Overdrawn
--,DPD_Overdue
--,DPD_Renewal
--,DPD_StockStmt
--,DPD_Max
--,DPD_FinMaxType
--,DegReason
--,Asset_Norm
--,REFPeriodMax
--,RefPeriodOverdue
--,RefPeriodOverDrawn
--,RefPeriodNoCredit
--,RefPeriodIntService
--,RefPeriodStkStatement
--,RefPeriodReview
--,NetBalance
--,ApprRV
--,SecuredAmt
--,UnSecuredAmt
--,ProvDFV
--,Provsecured
--,ProvUnsecured
--,ProvCoverGovGur
--,AddlProvision
--,TotalProvision
--,BankProvsecured
--,BankProvUnsecured
--,BankTotalProvision
--,RBIProvsecured
--,RBIProvUnsecured
--,RBITotalProvision
--,InitialNpaDt
--,FinalNpaDt
--,SMA_Dt
--,UpgDate
--,InitialAssetClassAlt_Key
--,FinalAssetClassAlt_Key
--,ProvisionAlt_Key
--,PNPA_Reason
--,SMA_Class
--,SMA_Reason
--,FlgMoc
--,MOC_Dt
--,CommonMocTypeAlt_Key
--,DPD_SMA
--,FlgDeg
--,FlgDirtyRow
--,FlgInMonth
--,FlgSMA
--,FlgPNPA
--,FlgUpg
--,FlgFITL
--,FlgAbinitio
--,NPA_Days
--,RefPeriodOverdueUPG
--,RefPeriodOverDrawnUPG
--,RefPeriodNoCreditUPG
--,RefPeriodIntServiceUPG
--,RefPeriodStkStatementUPG
--,RefPeriodReviewUPG
--,EffectiveFromTimeKey
--,EffectiveToTimeKey
--,AppGovGur
--,UsedRV
--,ComputedClaim
--,UPG_RELAX_MSME
--,DEG_RELAX_MSME
--,PNPA_DATE
--,NPA_Reason
--,PnpaAssetClassAlt_key
--,DisbAmount
--,PrincOutStd
--,PrincOverdue
--,PrincOverdueSinceDt
--,DPD_PrincOverdue
--,IntOverdue
--,IntOverdueSinceDt
--,DPD_IntOverdueSince
--,OtherOverdue
--,OtherOverdueSinceDt
--,DPD_OtherOverdueSince
--,RelationshipNumber
--,AccountFlag
--,CommercialFlag_AltKey
--,Liability
--,CD
--,AccountStatus
--,AccountBlkCode1
--,AccountBlkCode2
--,ExposureType
--,Mtm_Value
--,BankAssetClass
--,NpaType
--,SecApp
--,BorrowerTypeID
--,LineCode
--,ProvPerSecured
--,ProvPerUnSecured
--,MOCReason
--,AddlProvisionPer
--,FlgINFRA
--,RepossessionDate
--,DATEOFDATA
--,DerecognisedInterest1
--,DerecognisedInterest2
--,ProductCode
--,FlgLCBG
--)


--select 

--AccountEntityID
--,UcifEntityID
--,CustomerEntityID
--,CustomerAcID
--,RefCustomerID
--,SourceSystemCustomerID
--,UCIF_ID
--,BranchCode
--,FacilityType
--,AcOpenDt
--,FirstDtOfDisb
--,ProductAlt_Key
--,SchemeAlt_key
--,SubSectorAlt_Key
--,SplCatg1Alt_Key
--,SplCatg2Alt_Key
--,SplCatg3Alt_Key
--,SplCatg4Alt_Key
--,SourceAlt_Key
--,ActSegmentCode
--,InttRate
--,Balance
--,BalanceInCrncy
--,CurrencyAlt_Key
--,DrawingPower
--,CurrentLimit
--,CurrentLimitDt
--,ContiExcessDt
--,StockStDt
--,DebitSinceDt
--,LastCrDate
--,InttServiced
--,IntNotServicedDt
--,OverdueAmt
--,OverDueSinceDt
--,ReviewDueDt
--,SecurityValue
--,DFVAmt
--,GovtGtyAmt
--,CoverGovGur
--,WriteOffAmount
--,UnAdjSubSidy
--,CreditsinceDt
--,DPD_IntService
--,DPD_NoCredit
--,DPD_Overdrawn
--,DPD_Overdue
--,DPD_Renewal
--,DPD_StockStmt
--,DPD_Max
--,DPD_FinMaxType
--,DegReason
--,Asset_Norm
--,REFPeriodMax
--,RefPeriodOverdue
--,RefPeriodOverDrawn
--,RefPeriodNoCredit
--,RefPeriodIntService
--,RefPeriodStkStatement
--,RefPeriodReview
--,NetBalance
--,ApprRV
--,SecuredAmt
--,UnSecuredAmt
--,ProvDFV
--,Provsecured
--,ProvUnsecured
--,ProvCoverGovGur
--,AddlProvision
--,TotalProvision
--,BankProvsecured
--,BankProvUnsecured
--,BankTotalProvision
--,RBIProvsecured
--,RBIProvUnsecured
--,RBITotalProvision
--,InitialNpaDt
--,FinalNpaDt
--,SMA_Dt
--,UpgDate
--,InitialAssetClassAlt_Key
--,FinalAssetClassAlt_Key
--,ProvisionAlt_Key
--,PNPA_Reason
--,SMA_Class
--,SMA_Reason
--,FlgMoc
--,MOC_Dt
--,CommonMocTypeAlt_Key
--,DPD_SMA
--,FlgDeg
--,FlgDirtyRow
--,FlgInMonth
--,FlgSMA
--,FlgPNPA
--,FlgUpg
--,FlgFITL
--,FlgAbinitio
--,NPA_Days
--,RefPeriodOverdueUPG
--,RefPeriodOverDrawnUPG
--,RefPeriodNoCreditUPG
--,RefPeriodIntServiceUPG
--,RefPeriodStkStatementUPG
--,RefPeriodReviewUPG
--,EffectiveFromTimeKey
--,EffectiveToTimeKey
--,AppGovGur
--,UsedRV
--,ComputedClaim
--,UPG_RELAX_MSME
--,DEG_RELAX_MSME
--,PNPA_DATE
--,NPA_Reason
--,PnpaAssetClassAlt_key
--,DisbAmount
--,PrincOutStd
--,PrincOverdue
--,PrincOverdueSinceDt
--,DPD_PrincOverdue
--,IntOverdue
--,IntOverdueSinceDt
--,DPD_IntOverdueSince
--,OtherOverdue
--,OtherOverdueSinceDt
--,DPD_OtherOverdueSince
--,RelationshipNumber
--,AccountFlag
--,CommercialFlag_AltKey
--,Liability
--,CD
--,AccountStatus
--,AccountBlkCode1
--,AccountBlkCode2
--,ExposureType
--,Mtm_Value
--,BankAssetClass
--,NpaType
--,SecApp
--,BorrowerTypeID
--,LineCode
--,ProvPerSecured
--,ProvPerUnSecured
--,MOCReason
--,AddlProvisionPer
--,FlgINFRA
--,RepossessionDate
--,DATEOFDATA
--,DerecognisedInterest1
--,DerecognisedInterest2
--,ProductCode
--,FlgLCBG
--from pro.AccountCal


--UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
--	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
--	WHERE RUNNINGPROCESSNAME='InsertDataIntoHistTable' 
end






GO
