USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[REVERSEFEED_ENPA_VISIONPLUS_TEXTFILE]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*=========================================
AUTHER : TRILOKI KHANNA
CREATE DATE : 24-02-2020
MODIFY DATE : 24-02-2020
DESCRIPTION : PRO.REVERSEFEED_ENPA_VISIONPLUS_TEXTFILE
--EXEC [PRO].[REVERSEFEED_ENPA_VISIONPLUS_TEXTFILE]
============================================*/

CREATE PROCEDURE [pro].[REVERSEFEED_ENPA_VISIONPLUS_TEXTFILE]
--DECLARE
@FileDate DATE = '2020-02-27'

AS
BEGIN

--DECLARE @TIMEKEY INT = (SELECT TIMEKEY FROM PRO.EXTDATE_MISDB WHERE FLG = 'Y')
--DECLARE @Date DATE =(SELECT CAST(EndDate AS DATE) FROM PRO.EXTDATE_MISDB WHERE Flg='Y')
  


 SELECT 
 REPLICATE('0',3 - LEN([ATHEZ-H-ORG])  )+ CAST([ATHEZ-H-ORG] AS VARCHAR) 
+REPLICATE('0',8 - LEN([ATHEZ-H-CLIENT-ID])  )+ CAST([ATHEZ-H-CLIENT-ID] AS VARCHAR) 
+REPLICATE('0',8 - LEN([ATHEZ-H-DATE])  )+ CAST([ATHEZ-H-DATE] AS VARCHAR) 
+REPLICATE('',1 - LEN([ATHEZ-H-BULK-UPD-ONLINE])  )+ CAST([ATHEZ-H-BULK-UPD-ONLINE] AS VARCHAR) 
+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'') + REPLICATE(' ', 180 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'')))  AS FileDataLines, 'FileData' AS TableName
FROM REVERSEFEED_ENPA_HEADER WHERE DateofData = @FileDate
-- CAST(@FileDate AS DATE) --EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
UNION ALL
SELECT 
REPLICATE('0',3 - LEN(RTRIM(LTRIM([ATHEZ-D-ORG])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-ORG])) AS VARCHAR) 
+REPLICATE('0',19 - LEN(RTRIM(LTRIM([ATHEZ-D-ACCT-NBR])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-ACCT-NBR] ))AS VARCHAR) 
+REPLICATE('0',4 - LEN(RTRIM(LTRIM([ATHEZ-D-CARD-SEQ-NBR])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-CARD-SEQ-NBR])) AS VARCHAR) 
+REPLICATE('0',2 - LEN(RTRIM(LTRIM([ATHEZ-D-FILE-CODE])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FILE-CODE] ))AS VARCHAR) 
+REPLICATE('0',4 - LEN(RTRIM(LTRIM([ATHEZ-D-FIELD-CODE])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FIELD-CODE])) AS VARCHAR) 
+REPLICATE('0',4 - LEN(RTRIM(LTRIM([ATHEZ-D-FIELD-OCCURRENCE])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FIELD-OCCURRENCE])) AS VARCHAR) 
+REPLICATE('0',3 - LEN(RTRIM(LTRIM([ATHEZ-D-FIELD-LENGTH])))  )+ CAST(RTRIM(LTRIM([ATHEZ-D-FIELD-LENGTH])) AS VARCHAR) 
+CAST(RTRIM(LTRIM([ATHEZ-D-BEFORE-DATA])) AS VARCHAR) + REPLICATE(' ',60 - LEN(RTRIM(LTRIM([ATHEZ-D-BEFORE-DATA]))) )
+CAST(RTRIM(LTRIM([ATHEZ-D-AFTER-DATA])) AS VARCHAR) + REPLICATE(' ',60 - LEN(RTRIM(LTRIM([ATHEZ-D-AFTER-DATA]))) )
+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-SIGNON]))),'') + REPLICATE(' ', 20 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-SIGNON]))),'')))  
+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'') + REPLICATE(' ', 11 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'')))  
+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-PLAN-NBR]))),'') + REPLICATE(' ', 5 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-PLAN-NBR]))),''))) 
+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-NBR]))),'') + REPLICATE(' ', 3 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-NBR]))),''))) 
+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-TYPE-KEY]))),'') + REPLICATE(' ', 2 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [ATHEZ-D-REC-TYPE-KEY]))),'')))   AS FileDataLines, 'FileData' AS TableName
FROM REVERSEFEED_ENPA_DETAIL  WHERE DateofData = @FileDate

-- EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
UNION ALL
SELECT 
 REPLICATE('0',3 - LEN([ATHEZ-T-REC-TYPE])  )+ CAST([ATHEZ-T-REC-TYPE] AS VARCHAR) 
+REPLICATE('0',6 - LEN([ATHEZ-T-TRANS-TOTAL])  )+ CAST([ATHEZ-T-TRANS-TOTAL] AS VARCHAR) 
+ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'') + REPLICATE(' ', 191 - LEN(ISNULL(RTRIM(LTRIM(CONVERT(NVARCHAR, [FILLER]))),'')))   AS FileDataLines, 'FileData' AS TableName
FROM ReverseFeed_ENPA_Trailer WHERE DateofData = @FileDate
--EFFECTIVEFROMTIMEKEY=@TIMEKEY AND EFFECTIVETOTIMEKEY=@TIMEKEY
 --order by [ATHEZ-D-ACCT-NBR]
END








GO
