USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[OverDueBucketDisbINSERT]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*===================================================
 AUTHER : SANJEEV KUMAR SHARMA
 CREATE DATE : 01-11-2018
 MODIFY  DATE : 01-11-2018
 DESCRIPTION : DATA INSERT OVER DUE BUCKET
 --EXEC PRO.OverDueBucketDisbINSERT
 ===================================================*/
CREATE PROCEDURE [pro].[OverDueBucketDisbINSERT]
AS
BEGIN
DECLARE @TIMEKEY INT =(SELECT TIMEKEY FROM PRO.EXTDATE_MISDB WHERE FLG='Y')
DECLARE @SETID INT =(SELECT ISNULL(MAX(ISNULL(SETID,0)),0)+1 FROM [PRO].[PROCESSMONITOR] WHERE TIMEKEY=@TIMEKEY)

INSERT INTO PRO.PROCESSMONITOR(USERID,DESCRIPTION,MODE,STARTTIME,ENDTIME,TIMEKEY,SETID)
SELECT ORIGINAL_LOGIN(),'Work for OverDueBucketDisbInsert','RUNNING',GETDATE(),NULL,@TIMEKEY,@SETID


IF OBJECT_ID('TEMPDB..#TEMPTABLEDueDateGANASEVA') IS  NOT NULL
    DROP TABLE #TEMPTABLEDueDateGANASEVA
SELECT  B.AccountID CustomerAcid,DueDate into #TEMPTABLEDueDateGANASEVA

FROM  YBL_ACS_MIS..ODS_GS_NPA_LoanTransaction A INNER JOIN YBL_ACS_MIS..AccountData B ON A.AccountID=B.AccountID 
INNER JOIN DimSourceDB C ON C.SourceName=B.SourceSystemName
Where C.SourceName='GANASEVA' AND C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
GROUP BY B.AccountID,DueDate
except
select CustomerAcid,DueDate  from PRO.OVERDUEBUCKETDISB where EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY

INSERT INTO PRO.OVERDUEBUCKETDISB
(
AccountEntityID
,CUSTOMERACID
,DUEDATE
,PRINCOVERDUE
,INTOVERDUE
,EFFECTIVEFROMTIMEKEY
,EFFECTIVETOTIMEKEY
)
SELECT 0 AccountEntityID,A.CUSTOMERACID,A.DUEDATE,B.PRINCIPALOVERDUEAMOUNT,B.INTERESTOVERDUEAMOUNT,
@TIMEKEY,@TIMEKEY EFFECTIVETOTIMEKEY
 FROM #TEMPTABLEDueDateGANASEVA A INNER JOIN YBL_ACS_MIS..ODS_GS_NPA_LOANTRANSACTION B 
ON (A.CUSTOMERACID=B.ACCOUNTID AND A.DUEDATE=B.DUEDATE)



IF OBJECT_ID('TEMPDB..#TEMPTABLEDueDateFinnOne') IS  NOT NULL
    DROP TABLE #TEMPTABLEDueDateFinnOne

SELECT  CustomerAcid,DueDate into #TEMPTABLEDueDateFinnOne
from PRO.AccountCal A
INNER JOIN YBL_ACS_MIS..accountdata D ON  CAST(A.CustomerAcID AS VARCHAR(20)) =D.AccountID
INNER JOIN YBL_ACS_MIS..ODS_RA_LEA_REPAYSCH_DTL B ON D.ContractRefNo=CAST(B.AGREEMENTID AS VARCHAR(20))
INNER JOIN DimSourceDB c ON A.SourceAlt_Key=C.SourceAlt_Key AND C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
WHERE ISNULL(B.INSTLAMT,0)	<>ISNULL(B.RECDAMT,0) AND B.BILLFLAGE='Y' AND C.SourceName='FINNONE'

GROUP BY CustomerAcid,DueDate 
except
select CustomerAcid,DueDate  from PRO.OVERDUEBUCKETDISB where EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY


INSERT INTO PRO.OVERDUEBUCKETDISB
(
AccountEntityID
,CUSTOMERACID
,DUEDATE
,PRINCOVERDUE
,INTOVERDUE
,EFFECTIVEFROMTIMEKEY
,EFFECTIVETOTIMEKEY
)
SELECT 0 AccountEntityID,A.CUSTOMERACID,A.DUEDATE,B.PRINCOMP,B.INTCOMP,
@TIMEKEY,@TIMEKEY EFFECTIVETOTIMEKEY
 FROM #TEMPTABLEDueDateFinnOne A 

INNER JOIN YBL_ACS_MIS..accountdata D ON  CAST(A.CustomerAcID AS VARCHAR(20)) =D.AccountID
INNER JOIN YBL_ACS_MIS..ODS_RA_LEA_REPAYSCH_DTL B ON D.ContractRefNo=CAST(B.AGREEMENTID AS VARCHAR(20))
AND A.DUEDATE=B.DUEDATE  AND ISNULL(B.INSTLAMT,0)	<>ISNULL(B.RECDAMT,0) AND B.BILLFLAGE='Y' 


IF OBJECT_ID('TEMPDB..#TEMPTABLEDueDateCRED') IS  NOT NULL
    DROP TABLE #TEMPTABLEDueDateCRED
SELECT  B.AccountID CustomerAcid,DueDate into #TEMPTABLEDueDateCRED

FROM  YBL_ACS_MIS..ODS_CA_NPA_Loan_Transaction A INNER JOIN YBL_ACS_MIS..AccountData_CA B ON A.AccountID=B.AccountID 
INNER JOIN DimSourceDB C ON C.SourceName=B.SourceSystemName
Where C.SourceName='CREDAVENUE_DA' AND C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
GROUP BY B.AccountID,DueDate
except
select CustomerAcid,DueDate  from PRO.OVERDUEBUCKETDISB where EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY

INSERT INTO PRO.OVERDUEBUCKETDISB
(
AccountEntityID
,CUSTOMERACID
,DUEDATE
,PRINCOVERDUE
,INTOVERDUE
,EFFECTIVEFROMTIMEKEY
,EFFECTIVETOTIMEKEY
)
SELECT 0 AccountEntityID,A.CUSTOMERACID,A.DUEDATE,B.PRINCIPALOVERDUEAMOUNT,B.INTERESTOVERDUEAMOUNT,
@TIMEKEY,@TIMEKEY EFFECTIVETOTIMEKEY
 FROM #TEMPTABLEDueDateCRED A INNER JOIN YBL_ACS_MIS..ODS_CA_NPA_Loan_Transaction B 
ON (A.CUSTOMERACID=B.ACCOUNTID AND A.DUEDATE=B.DUEDATE)


UPDATE  B SET B.AccountEntityID=A.AccountEntityID 
FROM PRO.AccountMaster A INNER JOIN PRO.OverDueBucketDisb B ON A.CustomerAcid=B.CustomerAcid
where b.AccountEntityID=0 and B.EffectiveFromTimekey=@TIMEKEY

         DROP TABLE #TEMPTABLEDueDateGANASEVA
	 DROP TABLE #TEMPTABLEDueDateFinnOne
UPDATE PRO.PROCESSMONITOR SET ENDTIME=GETDATE() ,MODE='COMPLETE' WHERE IDENTITYKEY = (SELECT IDENT_CURRENT('PRO.PROCESSMONITOR')) AND  TIMEKEY=@TIMEKEY AND DESCRIPTION='Work for OverDueBucketDisbInsert'


END






GO
