USE [YBL_ACS]
GO
/****** Object:  View [pro].[CustomerCal_Hist]    Script Date: 6/2/2025 11:38:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--SELECT * FROM  YBL_ACS_2024.SYS.TABLES
CREATE VIEW [pro].[CustomerCal_Hist]
AS
SELECT * FROM YBL_ACS.[PRO].[CustomerCal]
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Jan
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Feb
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Mar
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Apr
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_May
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Jun
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Jul
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Aug
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Sep
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Oct
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Nov
--UNION ALL SELECT * FROM YBL_ACS_2019.DBO.CustomerCal_Main_2019_Dec
--
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Jan
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Feb
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Mar
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Apr
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_May
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Jun
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Jul
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Aug
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Sep
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Oct
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Nov
--UNION ALL SELECT * FROM YBL_ACS_2020.DBO.CustomerCal_Main_2020_Dec
--
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Jan
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Feb
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Mar
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Apr
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_May
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Jun
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Jul
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Aug
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Sep
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Oct
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Nov
--UNION ALL SELECT * FROM YBL_ACS_2021.DBO.CustomerCal_Main_2021_Dec
--
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Jan
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Feb
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Mar
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Apr
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_May
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Jun
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Jul
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Aug
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Sep
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Oct
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Nov
--UNION ALL SELECT * FROM YBL_ACS_2022.DBO.CustomerCal_Main_2022_Dec
--
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Jan
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Feb
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Mar
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Apr
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_May
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Jun
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Jul
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Aug
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Sep
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Oct
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Nov
--UNION ALL SELECT * FROM YBL_ACS_2023.DBO.CustomerCal_Main_2023_Dec
--
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Jan
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Feb
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Mar
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Apr
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_May
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Jun
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Jul
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Aug
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Sep
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Oct
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Nov
--UNION ALL SELECT * FROM YBL_ACS_2024.DBO.CustomerCal_Main_2024_Dec
--
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Jan
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Feb
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Mar
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Apr
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_May
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Jun
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Jul
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Aug
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Sep
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Oct
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Nov
--UNION ALL SELECT * FROM YBL_ACS_2025.DBO.CustomerCal_Main_2025_Dec
GO
