USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[UpdationProvisionComputationUnSecured]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=====================================
AUTHER : SANJEEV KUMAR SHARMA
CREATE DATE : 05-07-2018
MODIFY DATE : 05-07-2018
DESCRIPTION : Updation Provision Computation UnSecured
EXEC pro.UpdationProvisionComputationUnSecured  @TIMEKEY=25410 
====================================*/

CREATE PROCEDURE [pro].[UpdationProvisionComputationUnSecured]
@TimeKey INT 
with recompile
AS
BEGIN
   SET NOCOUNT ON 
BEGIN TRY

	
	UPDATE A 
		--SET UNSECUREDAMT  = ( CASE WHEN  (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0)))>0 
		--                        THEN   ROUND((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))),0)
		--		                  ELSE 0 END )

		SET UNSECUREDAMT  = ( CASE WHEN  (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0)))>0 
		                        THEN   ((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))))
				                  ELSE 0 END )

		--,PROVUNSECURED =  (CASE WHEN (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))) >0 THEN 
		--                          ROUND(ROUND((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))),0) *  CASE WHEN D.PROVISIONNAME='Corporate Common' THEN ISNULL(A.ProvPerUnSecured,0) ELSE ISNULL( D.PROVISIONUNSECURED,0) /100 END,0) 
		--					   ELSE 0 END)

		,PROVUNSECURED =  (CASE WHEN (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))) >0 THEN 
		                          (((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0)))) *  CASE WHEN D.PROVISIONNAME='Corporate Common' THEN ISNULL(A.ProvPerUnSecured,0) ELSE ISNULL( D.PROVISIONUNSECURED,0) /100 END)  ELSE 0 END)

		--,BANKPROVUNSECURED =  (CASE WHEN (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))) >0 THEN 
		--                       ROUND(ROUND((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))),0) *  CASE WHEN D.PROVISIONNAME='Corporate Common' THEN ISNULL(A.ProvPerUnSecured,0) ELSE ISNULL(D.PROVISIONUNSECURED,0)/100 END,0)
		--					   ELSE 0 END)	

			,BANKPROVUNSECURED =  (CASE WHEN (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))) >0 THEN 
		                       (((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0)))) *  CASE WHEN D.PROVISIONNAME='Corporate Common' THEN ISNULL(A.ProvPerUnSecured,0) ELSE ISNULL(D.PROVISIONUNSECURED,0)/100 END) ELSE 0 END)	
		--,RBIPROVUNSECURED =  (CASE WHEN (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))) >0 THEN 
		--                       ROUND(ROUND((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))),0) * ISNULL(D.RBIPROVISIONUNSECURED,0)/100,0)
		--					   ELSE 0 END)	
		,RBIPROVUNSECURED =  (CASE WHEN (ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0))) >0 THEN 
		                       (((ISNULL(A.NETBALANCE,0)-(ISNULL(A.SECUREDAMT,0)+ISNULL(A.COVERGOVGUR,0)))) * ISNULL(D.RBIPROVISIONUNSECURED,0)/100) ELSE 0 END)						   
							   					
	FROM  PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL B ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID
	INNER JOIN DBO.DIMPROVISION_SEG D ON D.EFFECTIVEFROMTIMEKEY <= @TIMEKEY
	                                AND D.EFFECTIVETOTIMEKEY >= @TIMEKEY
	                                AND ISNULL(A.PROVISIONALT_KEY,1) = D.PROVISIONALT_KEY
	WHERE ISNULL(B.FLGPROCESSING,'N') ='N'

   UPDATE PRO.ACCOUNTCAL SET UNSECUREDAMT=0 WHERE ISNULL(UNSECUREDAMT,0)<0
   UPDATE PRO.ACCOUNTCAL SET PROVUNSECURED=0 WHERE ISNULL(PROVUNSECURED,0)<0
   UPDATE PRO.ACCOUNTCAL SET BANKPROVUNSECURED=0 WHERE ISNULL(BANKPROVUNSECURED,0)<0
   UPDATE PRO.ACCOUNTCAL SET RBIPROVUNSECURED=0 WHERE ISNULL(RBIPROVUNSECURED,0)<0


UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdationProvisionComputationUnSecured'

END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdationProvisionComputationUnSecured'
END CATCH
  SET NOCOUNT OFF
END








GO
