USE [YBL_ACS]
GO
/****** Object:  UserDefinedFunction [pro].[GetMinimumDate]    Script Date: 6/2/2025 11:38:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [pro].[GetMinimumDate]
(

@DATE date,
@DATE1 date ,
@DATE2 date
)
returns date
as
begin

SET @DATE=CASE WHEN @DATE IN('1900-01-01','2099-01-01')   THEN NULL ELSE @DATE END
SET @DATE1=CASE WHEN @DATE1 IN('1900-01-01','2099-01-01')  THEN NULL ELSE @DATE1 END
SET @DATE2=CASE WHEN @DATE2 IN('1900-01-01','2099-01-01')   THEN NULL ELSE @DATE2 END

return(

SELECT CASE WHEN  ISNULL(@DATE,'9999-01-01')<= ISNULL(@DATE1,'9999-01-01')
                     AND ISNULL(@DATE,'9999-01-01')<=ISNULL(@DATE2,'9999-01-01') THEN @DATE
            WHEN ISNULL(@DATE1,'9999-01-01')<= ISNULL(@DATE,'9999-01-01')
                     AND ISNULL(@DATE1,'9999-01-01')<=ISNULL(@DATE2,'9999-01-01') THEN @DATE1
			WHEN ISNULL(@DATE2,'9999-01-01')<= ISNULL(@DATE,'9999-01-01')
                     AND ISNULL(@DATE2,'9999-01-01')<=ISNULL(@DATE1,'9999-01-01') THEN @DATE2
           
		 ELSE NULL END)
 end


GO
