USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[Marking_InMonthMark_Customer_Account_level]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=======================================
AUTHER : SANJEEV KUMAR SHARMA
CREATE DATE : 29-11-2018
MODIFY DATE : 29-11-2018
DESCRIPTION : MARKING OF IN MONTH MARK AT CUSTOMER LEVEL
--EXEC [PRO].[Marking_InMonthMark_Customer_Account_level]  @timekey=25140
=============================================*/
CREATE PROCEDURE [pro].[Marking_InMonthMark_Customer_Account_level]
@TIMEKEY INT
WITH RECOMPILE
AS
BEGIN
  SET NOCOUNT ON
 BEGIN TRY
 
DECLARE @PROCESSDATE DATE=(SELECT Date FROM SysDayMatrix WHERE  TimeKey=@timekey)
DECLARE @PROC_FREQ CHAR(1)=(select RefValue from PRO.RefPeriod WHERE BusinessRule='PROC_FREQ' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY )
DECLARE @PROC_CONDITION decimal=(select CAST(RefValue AS decimal(18,2)) from PRO.RefPeriod WHERE BusinessRule='PROC_CONDITION' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)

UPDATE PRO.CUSTOMERCAL SET INMONTHMARK='N' 

IF @PROC_FREQ='D' AND @PROCESSDATE<>EOMONTH(@PROCESSDATE)
BEGIN

UPDATE A SET A.INMONTHMARK='Y'
FROM  PRO.CUSTOMERCAL A INNER JOIN PRO.AccountCal B  ON A.SourceSystemCustomerID=B.SourceSystemCustomerID
 INNER  JOIN DimSourceDB C ON C.SourceAlt_Key=B.SourceAlt_Key
  AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
 --WHERE C.SourceName IN ('FCR','FCC','ECBF','EIFS','MUREX','GOLD','ECFS')
--WHERE Cust_Expo>=@PROC_CONDITION

UPDATE PRO.CUSTOMERCAL SET INMONTHMARK='N' WHERE (INMONTHMARK IS NULL)

-- UPDATE A SET FlgInMonth='N' 
--FROM PRO.ACCOUNTCAL A INNER JOIN DIMSOURCEDB B ON A.SOURCEALT_KEY=B.SOURCEALT_KEY
--AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
--WHERE B.SOURCENAME IN ('FCC')

--UPDATE A SET FlgInMonth='Y' 
--FROM PRO.ACCOUNTCAL A INNER JOIN DIMSOURCEDB B ON A.SOURCEALT_KEY=B.SOURCEALT_KEY
--INNER JOIN DimProduct C ON A.ProductAlt_Key=C.ProductAlt_Key
--AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
--WHERE B.SOURCENAME IN ('FCC') AND C.NPANORM='Y' 
--AND C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY


END
ELSE 
UPDATE A SET A.INMONTHMARK= 'Y' FROM  PRO.CUSTOMERCAL A



	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_InMonthMark_Customer_Account_level'

END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_InMonthMark_Customer_Account_level'

END CATCH

 SET NOCOUNT OFF
END










GO
