USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[UpdateProvisionKey_AccountWise]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=========================================
AUTHER : SANJEEV KUMAR SHARMA
CREATE DATE : 06-06-2018
MODIFY DATE : 06-06-2018
DESCRIPTION : UPDATE PROVISION ALT KEY AT ACCOUNT LEVEL
EXEC [PRO].[UpdateProvisionKey_AccountWise]  @TimeKey=25140
==============================================*/
CREATE  PROCEDURE [pro].[UpdateProvisionKey_AccountWise]
@TimeKey INT
WITH RECOMPILE
AS
BEGIN
    SET NOCOUNT ON
BEGIN TRY 
DECLARE @EXTDATE AS DATE
SELECT @EXTDATE  = DATE FROM SYSDAYMATRIX  WHERE TIMEKEY=@TimeKey 


DECLARE @KCCSUB INT =							   	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCSUB'                                             AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCDB1 INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCDB1'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCDB2 INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCDB2'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCDB3 INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCDB3'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCLOS INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCLOS'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)

DECLARE @KCCSUBNONPROP INT =						(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCSUBNONPROP'                                             AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCDB1NONPROP INT =						(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCDB1NONPROP'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCDB2NONPROP INT =						(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCDB2NONPROP'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCDB3NONPROP INT =						(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCDB3NONPROP'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @KCCLOSNONPROP INT =						(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='KCCLOSNONPROP'	                                            AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)

DECLARE @PropertyBacked_SUB INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='PropertyBacked_SUB'								AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @PropertyBacked_DB1 INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='PropertyBacked_DB1'								AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @PropertyBacked_DB2 INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='PropertyBacked_DB2'								AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @PropertyBacked_DB3 INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='PropertyBacked_DB3'								AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @PropertyBacked_LOS INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='PropertyBacked_LOS'								AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)

DECLARE @NON_PROPERTY_BACKED_SUB_0AND120 INT =			(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_SUB_0 TO 120'					AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_SUB_121AND150 INT =		(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_SUB_121 TO 150'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_SUB_151AND180 INT =		(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_SUB_151 TO 180'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_SUB_180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_SUB Greater Than 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB1_0AND120 INT =			(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB1_0 TO 120'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB1_121AND150 INT =		(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB1_121 TO 150'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB1_151AND180 INT =        (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB1_151 TO 180'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB1_180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB1 Greater Than 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB2_0AND120 INT =			(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB2_0 TO 120'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB2_121AND150 INT =		(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB2_121 TO 150'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB2_151AND180 INT =		(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB2_151 TO 180'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB2_180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB2 Greater Than 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB3_0AND120 INT =			(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB3_0 TO 120'					AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB3_121AND150 INT =		(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB3_121 TO 150'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB3_151AND180 INT =		(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB3_151 TO 180'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_DB3_180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_DB3 Greater Than 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @NON_PROPERTY_BACKED_lOS INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='NON_PROPERTY_BACKED_lOS'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)


DECLARE @Unsecured_SUB_0AND120 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_SUB_0 TO 120'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_SUB_121AND150 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_SUB_121 TO 150'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_SUB_151AND180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_SUB_151 TO 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_SUB_180 INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_SUB Greater Than 180'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB1_0AND120 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB1_0 TO 120'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB1_121AND150 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB1_121 TO 150'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB1_151AND180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB1_151 TO 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB1_180 INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB1 Greater Than 180'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB2_0AND120 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB2_0 TO 120'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB2_121AND150 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB2_121 TO 150'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB2_151AND180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB2_151 TO 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB2_180 INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB2 Greater Than 180'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB3_0AND120 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB3_0 TO 120'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB3_121AND150 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB3_121 TO 150'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB3_151AND180 INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB3_151 TO 180'					    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_DB3_180 INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_DB3 Greater Than 180'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Unsecured_lOS INT =						(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Unsecured_lOS'								    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)

------DECLARE @VisionPlus_SUB_0_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_0_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_1_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_1_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_2_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_2_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_3_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_3_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_4_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_4_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_2_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_2_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_3_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_3_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_4_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_4_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_5_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_5_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_6_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_6_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_7_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_7_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_8_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_8_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_SUB_9_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_9_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_0_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_0_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_1_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_1_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_2_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_2_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_3_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_3_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_4_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_4_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_2_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_2_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_3_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_3_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_4_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_4_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_5_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_5_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_6_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_6_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_7_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_7_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_8_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_8_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB1_9_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1_9_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_0_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_0_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_1_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_1_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_2_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_2_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_3_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_3_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_4_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_4_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_2_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_2_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_3_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_3_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_4_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_4_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_5_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_5_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_6_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_6_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_7_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_7_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_8_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_8_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB2_9_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2_9_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_0_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_0_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_1_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_1_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_2_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_2_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_3_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_3_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_4_MULTIPLE INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_4_MULTIPLE'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_2_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_2_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_3_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_3_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_4_STICKY INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_4_STICKY'							AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_5_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_5_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_6_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_6_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_7_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_7_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_8_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_8_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VisionPlus_DB3_9_REGULAR INT =					(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3_9_REGULAR'						    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
------DECLARE @VISIONPLUS_LOS INT =							(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VISIONPLUS_LOS'										AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)


DECLARE @SubStandard INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Sub Standard'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @SubStandardInfrastructure INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Sub Standard Infrastructure'						AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @SubStandardAbinitioUnsecured INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Sub Standard Ab initio Unsecured'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulI INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Doubtful-I'										    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulII INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Doubtful-II'										AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulIII INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Doubtful-III'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Loss INT =										(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='Loss'											    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @FITL INT =										(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='FITL'											    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)

---As per Bank Mail New Condition 13/05/2022---
DECLARE @VisionPlus_SUB_0 INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_0'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
DECLARE @VisionPlus_SUB_1 INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_1'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
DECLARE @VisionPlus_SUB_2 INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_2'    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
DECLARE @VisionPlus_SUB_3 INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_3'   AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
DECLARE @VisionPlus_DB1 INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1'    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
DECLARE @VisionPlus_DB2 INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2'    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
DECLARE @VisionPlus_DB3 INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3'    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
DECLARE @VisionPlus_LOS INT = (SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_LOS'   AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)  
 
Declare @LowerDPD_VisionPlus_SUB_0 int=(SELECT LowerDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_0'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
Declare @UpperDPD_VisionPlus_SUB_0 int=(SELECT UpperDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_0'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
Declare @LowerDPD_VisionPlus_SUB_1 int=(SELECT LowerDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_1'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
Declare @UpperDPD_VisionPlus_SUB_1 int=(SELECT UpperDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_1'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
Declare @LowerDPD_VisionPlus_SUB_2 int=(SELECT LowerDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_2'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
Declare @UpperDPD_VisionPlus_SUB_2 int=(SELECT UpperDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_2'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
Declare @LowerDPD_VisionPlus_SUB_3 int=(SELECT LowerDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_3'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
Declare @UpperDPD_VisionPlus_SUB_3 int=(SELECT UpperDPD FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_3'  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY) 
 
update DimProvision_Seg set ProvisionUnSecured=25,RBIProvisionUnSecured=25 where ProvisionShortNameEnum='SUB' and EffectiveToTimeKey=49999 and ProvisionUnSecured=15

DECLARE @MoveToLoss DECIMAL(5,2)=(SELECT cast(RefValue/100.00 as decimal(5,2)) FROM PRO.refperiod where BusinessRule='MoveToLoss' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)


UPDATE PRO.ACCOUNTCAL SET PROVISIONALT_KEY=0

------Start Flg Abinitio Marking ---------
IF OBJECT_ID('TEMPDB..#CTE_CustomerWiseBalanceAbinitio') IS NOT NULL
   DROP TABLE #CTE_CustomerWiseBalanceAbinitio


--SELECT A.UCIF_ID,SUM(ISNULL(A.BALANCE,0)) BALANCE ,SUM(ISNULL(B.CurntQtrRv,0)) CurntQtrRv INTO #CTE_CustomerWiseBalanceAbinitio FROM PRO.ACCOUNTCAL A
-- INNER JOIN PRO.CUSTOMERCAL B ON A.RefCustomerID=B.RefCustomerID
--              and A.UCIF_ID=B.UCIF_ID
--WHERE   ( b.SysAssetClassAlt_Key NOT IN (select AssetClassAlt_Key from DimAssetClass where AssetClassShortName ='STD' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY )
-- AND ISNULL(B.FlgDeg,'N')<>'Y')
-- AND B.RefCustomerID<>'0'
-- and( A.UCIF_ID IS NOT NULL AND A.UCIF_ID<>'0' )
-- and A.SecApp='S'
-- and ISNULL(B.CurntQtrRv,0)>0 
-- AND b.SysAssetClassAlt_Key =2
-- and ISNULL(A.BALANCE,0)>0 
--GROUP BY A.UCIF_ID

SELECT A.UCIF_ID,SUM(ISNULL(A.BALANCE,0)) BALANCE INTO #CTE_CustomerWiseBalanceAbinitio FROM PRO.ACCOUNTCAL A
 INNER JOIN PRO.CUSTOMERCAL B ON A.UCIF_ID=B.UCIF_ID and a.SourceSystemCustomerID=b.SourceSystemCustomerID
WHERE   ( b.SysAssetClassAlt_Key NOT IN (select AssetClassAlt_Key from DimAssetClass where AssetClassShortName ='STD'
 AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY )
 AND ISNULL(B.FlgDeg,'N')<>'Y')
 AND B.RefCustomerID<>'0'
 and( A.UCIF_ID IS NOT NULL AND A.UCIF_ID<>'0' )
 and A.SecApp='S'
 and ISNULL(B.CurntQtrRv,0)>0 
 AND b.SysAssetClassAlt_Key =2
 and ISNULL(A.BALANCE,0)>0 
GROUP BY A.UCIF_ID

IF OBJECT_ID('TEMPDB..#CTE_UCICwisecurrentQtrAbinitio') IS NOT NULL
   DROP TABLE #CTE_UCICwisecurrentQtrAbinitio

SELECT  b.UCIF_ID,SUM(ISNULL(B.CurntQtrRv,0)) CurntQtrRv into #CTE_UCICwisecurrentQtrAbinitio  FROM 
  PRO.CUSTOMERCAL B 
WHERE   ( b.SysAssetClassAlt_Key NOT IN (select AssetClassAlt_Key from DimAssetClass where AssetClassShortName ='STD'
 AND EffectiveFromTimeKey<=@TimeKey AND EffectiveToTimeKey>=@TimeKey )
 AND ISNULL(B.FlgDeg,'N')<>'Y')
 AND B.RefCustomerID<>'0'
 and( B.UCIF_ID IS NOT NULL AND B.UCIF_ID<>'0' )
and ISNULL(B.CurntQtrRv,0)>0 
 AND b.SysAssetClassAlt_Key =2
GROUP BY B.UCIF_ID



IF OBJECT_ID('TEMPDB..#Abinitio') IS NOT NULL
   DROP TABLE #Abinitio

--select  CASE WHEN  ISNULL(c.CurntQtrRv,0)< (ISNULL(C.BALANCE,0) *@MoveToLoss)  THEN 'Y'
--					        ELSE 'N'  END AS Abinitio,B.RefCustomerID,B.UCIF_ID
--iNTO #Abinitio
--FROM  PRO.AccountCal A INNER JOIN PRO.CustomerCal B ON A.RefCustomerID=B.RefCustomerID
--                                    AND  A.UCIF_ID=B.UCIF_ID
--INNER JOIN #CTE_CustomerWiseBalanceAbinitio C ON C.UCIF_ID=B.UCIF_ID


select  CASE WHEN  ISNULL(B.CurntQtrRv,0)< (ISNULL(C.BALANCE,0) *@MoveToLoss)  THEN 'Y'
					        ELSE 'N'  END AS Abinitio,B.UCIF_ID
iNTO #Abinitio
FROM  #CTE_UCICwisecurrentQtrAbinitio B
INNER JOIN #CTE_CustomerWiseBalanceAbinitio C ON C.UCIF_ID=B.UCIF_ID


UPDATE B SET FLGAbinitio='Y'
FROM #Abinitio A
INNER JOIN PRO.AccountCal  B
ON A.UCIF_ID=B.UCIF_ID
WHERE A.Abinitio='Y'



------End Flg Abinitio Marking ---------




/*----------------PROVISION ALT KEY ALL NPA ACCOUNTS AS PER DIMPRODUCT PRODUCTGROUP --------------*/

UPDATE A SET A.PROVISIONALT_KEY=
	(CASE WHEN B.ProductGroup='PROPERTY BACKED'  THEN (
														   CASE WHEN C.ASSETCLASSSHORTNAME='SUB' THEN @PropertyBacked_SUB--15.0000/15.0000
																WHEN C.ASSETCLASSSHORTNAME='DB1' THEN @PropertyBacked_DB1--25.0000/10.0000
																WHEN C.ASSETCLASSSHORTNAME='DB2' THEN @PropertyBacked_DB2--40.0000/100.0000
																WHEN C.ASSETCLASSSHORTNAME='DB3' THEN @PropertyBacked_DB3--100.0000/100.0000
																WHEN C.ASSETCLASSSHORTNAME='LOS' THEN @PropertyBacked_LOS--100.0000/100.0000
																ELSE 0 END 
													 )

	 
       WHEN B.ProductGroup='NON PROPERTY BACKED'  THEN (
	                                                   CASE WHEN  C.AssetClassShortName='SUB' and  DPD_Max BETWEEN 0 AND 120 THEN @NON_PROPERTY_BACKED_SUB_0AND120--15.0000/15.0000
													        WHEN  C.AssetClassShortName='SUB' and  DPD_Max BETWEEN 121 AND 150 THEN @NON_PROPERTY_BACKED_SUB_121AND150--40.0000/40.0000
															WHEN  C.AssetClassShortName='SUB' and  DPD_Max BETWEEN 151 AND 180 THEN @NON_PROPERTY_BACKED_SUB_151AND180--75.0000/75.0000
															WHEN  C.AssetClassShortName='SUB' and  DPD_Max >180 THEN @NON_PROPERTY_BACKED_SUB_180--100.0000/100.0000

															WHEN  C.AssetClassShortName='DB1' and  DPD_Max BETWEEN 0 AND 120 THEN @NON_PROPERTY_BACKED_DB1_0AND120--15.0000/15.0000
													        WHEN  C.AssetClassShortName='DB1' and  DPD_Max BETWEEN 121 AND 150 THEN @NON_PROPERTY_BACKED_DB1_121AND150--40.0000/40.0000
															WHEN  C.AssetClassShortName='DB1' and  DPD_Max BETWEEN 151 AND 180 THEN @NON_PROPERTY_BACKED_DB1_151AND180--75.0000/75.0000
															WHEN  C.AssetClassShortName='DB1' and  DPD_Max >180 THEN @NON_PROPERTY_BACKED_DB1_180--100.0000/100.0000

															WHEN  C.AssetClassShortName='DB2' and  DPD_Max BETWEEN 0 AND 120 THEN @NON_PROPERTY_BACKED_DB2_0AND120--15.0000/15.0000
													        WHEN  C.AssetClassShortName='DB2' and  DPD_Max BETWEEN 121 AND 150 THEN @NON_PROPERTY_BACKED_DB2_121AND150--40.0000/40.0000
															WHEN  C.AssetClassShortName='DB2' and  DPD_Max BETWEEN 151 AND 180 THEN @NON_PROPERTY_BACKED_DB2_151AND180--75.0000/75.0000
															WHEN  C.AssetClassShortName='DB2' and  DPD_Max >180 THEN @NON_PROPERTY_BACKED_DB2_180--100.0000/40.0000

															WHEN  C.AssetClassShortName='DB3' and  DPD_Max BETWEEN 0 AND 120 THEN @NON_PROPERTY_BACKED_DB3_0AND120--15.0000/100.0000
													        WHEN  C.AssetClassShortName='DB3' and  DPD_Max BETWEEN 121 AND 150 THEN @NON_PROPERTY_BACKED_DB3_121AND150--40.0000/100.0000
															WHEN  C.AssetClassShortName='DB3' and  DPD_Max BETWEEN 151 AND 180 THEN @NON_PROPERTY_BACKED_DB3_151AND180--75.0000/100.0000
															WHEN  C.AssetClassShortName='DB3' and  DPD_Max >180 THEN @NON_PROPERTY_BACKED_DB3_180--100.0000/100.0000
															
															WHEN  C.AssetClassShortName='LOS' THEN @NON_PROPERTY_BACKED_lOS--100.0000/100.0000
															ELSE 0 END 
	                                                  )

	   WHEN B.ProductGroup='UNSECURED' THEN (
	                                          CASE WHEN ISNULL(A.FlgAbinitio,'N')='Y' THEN @SubStandardAbinitioUnsecured--25.0000/25.0000

											       WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN 0 AND 120 THEN @Unsecured_SUB_0AND120--25.0000/15.0000
												   WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN 121 AND 150 THEN @Unsecured_SUB_121AND150--50.0000/15.0000
												   WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN 151 AND 180 THEN @Unsecured_SUB_151AND180--75.0000/15.0000
												   WHEN C.AssetClassShortName='SUB'  AND DPD_Max >180 THEN @Unsecured_SUB_180--100.0000/15.0000

												   WHEN C.AssetClassShortName='DB1'  AND DPD_Max BETWEEN 0 AND 120 THEN @Unsecured_DB1_0AND120--25.0000/25.0000
												   WHEN C.AssetClassShortName='DB1'  AND DPD_Max BETWEEN 121 AND 150 THEN @Unsecured_DB1_121AND150--50.0000/25.0000
												   WHEN C.AssetClassShortName='DB1'  AND DPD_Max BETWEEN 151 AND 180 THEN @Unsecured_DB1_151AND180--75.0000/25.0000
												   WHEN C.AssetClassShortName='DB1'  AND DPD_Max >180 THEN @Unsecured_DB1_180--100.0000/25.0000

												   WHEN C.AssetClassShortName='DB2'  AND DPD_Max BETWEEN 0 AND 120 THEN @Unsecured_DB2_0AND120--25.0000/40.0000
												   WHEN C.AssetClassShortName='DB2'  AND DPD_Max BETWEEN 121 AND 150 THEN @Unsecured_DB2_121AND150--50.0000/40.0000
												   WHEN C.AssetClassShortName='DB2'  AND DPD_Max BETWEEN 151 AND 180 THEN @Unsecured_DB2_151AND180--75.0000/40.0000
												   WHEN C.AssetClassShortName='DB2'  AND DPD_Max >180 THEN @Unsecured_DB2_180--100.0000/40.0000

												   WHEN C.AssetClassShortName='DB3'  AND DPD_Max BETWEEN 0 AND 120 THEN @Unsecured_DB3_0AND120--25.0000/100.0000
												   WHEN C.AssetClassShortName='DB3'  AND DPD_Max BETWEEN 121 AND 150 THEN @Unsecured_DB3_121AND150--50.0000/100.0000
												   WHEN C.AssetClassShortName='DB3'  AND DPD_Max BETWEEN 151 AND 180 THEN @Unsecured_DB3_151AND180--75.0000/100.0000
												   WHEN C.AssetClassShortName='DB3'  AND DPD_Max >180 THEN @Unsecured_DB3_180--100.0000/100.0000
												   WHEN C.AssetClassShortName='LOS' THEN @Unsecured_lOS--100.0000/100.0000

												   ELSE 0 END 
	                                       )
     
      WHEN B.ProductGroup='KCC' THEN  (
	                                    CASE WHEN C.AssetClassShortName='SUB' THEN @KCCSUB--15.0000/15.0000
											 WHEN C.AssetClassShortName='DB1' THEN @KCCDB1--25.0000/25.0000
											 WHEN C.AssetClassShortName='DB2' THEN @KCCDB2--40.0000/40.0000
											 WHEN C.AssetClassShortName='DB3' THEN @KCCDB3--100.0000/100.0000
											 WHEN C.AssetClassShortName='LOS' THEN @KCCLOS--100.0000/100.0000
											  ELSE 0 end 
										)
	WHEN B.ProductGroup='KCC_NONPROP' THEN  (
	                                    CASE WHEN C.AssetClassShortName='SUB' THEN @KCCSUBNONPROP--15.0000/15.0000
											 WHEN C.AssetClassShortName='DB1' THEN @KCCDB1NONPROP--25.0000/25.0000
											 WHEN C.AssetClassShortName='DB2' THEN @KCCDB2NONPROP--40.0000/40.0000
											 WHEN C.AssetClassShortName='DB3' THEN @KCCDB3NONPROP--100.0000/100.0000
											 WHEN C.AssetClassShortName='LOS' THEN @KCCLOSNONPROP--100.0000/100.0000
											  ELSE 0 end 
										)
										                                     


	                                      
	END)
FROM  PRO.AccountCal A INNER  JOIN DimProduct B ON A.ProductAlt_Key=B.ProductAlt_Key
          AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
          AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
INNER JOIN DimSourceDB  D ON D.SourceAlt_Key=A.SourceAlt_Key
          AND (D.EffectiveFromTimeKey<=@TimeKey AND D.EffectiveToTimeKey>=@TimeKey)
WHERE C.AssetClassGroup='NPA' 
--AND D.SourceName IN('FCR','FinnOne','FCC')

/*--------------'MUREX','GANASEVA','ECBF','EIFS','ECFS','GOLD'--------------*/

UPDATE A SET A.ProvisionAlt_Key=
                (CASE WHEN C.AssetClassShortName='SUB' THEN  @SubStandard--15.0000/15.0000
				      WHEN C.AssetClassShortName='DB1' THEN  @DoubtfulI--25.0000/25.0000
					  WHEN C.AssetClassShortName='DB2' THEN  @DoubtfulII--40.0000/40.0000
					  WHEN C.AssetClassShortName='DB3' THEN  @DoubtfulIII--100.0000/100.0000
					  WHEN C.AssetClassShortName='LOS' THEN  @Loss--100.0000/100.0000
					  ELSE 0
					END)
FROM PRO.ACCOUNTCAL A INNER JOIN DimSourceDB B  ON A.SourceAlt_Key=B.SourceAlt_Key
     AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
     AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE (B.SourceDBName IN('MUREX','GANASEVA','ECBF','EIFS','ECFS','GOLD','SFIN') /*'SFIN' SmartFin  15102023*/
     AND C.ASSETCLASSGROUP='NPA')
	  AND ISNULL(A.ProvisionAlt_Key,0.00)=0

/*--------------VISIONPLUS--------------*/

----/*--------------UPDATE PROVISION ALT KEY--------------*/				
----UPDATE A SET A.ProvisionAlt_Key= (CASE 
----                                      WHEN C.AssetClassShortName='SUB' AND A.CD=0 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_SUB_0_MULTIPLE--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=1 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_SUB_1_MULTIPLE--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=2 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 1 AND 29 THEN @VisionPlus_SUB_2_MULTIPLE--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=3 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_SUB_3_MULTIPLE--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=4 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_SUB_4_MULTIPLE--25.0000/15.0000
----							          WHEN C.AssetClassShortName='SUB' AND A.CD=2 AND NpaType='STICKY' AND DPD_Max BETWEEN 1 AND 29 THEN @VisionPlus_SUB_2_STICKY--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=3 AND NpaType='STICKY' AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_SUB_3_STICKY--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=4 AND NpaType='STICKY' AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_SUB_4_STICKY--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=5 AND NpaType='REGULAR' AND DPD_Max BETWEEN 90 AND 119 THEN @VisionPlus_SUB_5_REGULAR--25.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=6 AND NpaType='REGULAR' AND DPD_Max BETWEEN 120 AND 149 THEN @VisionPlus_SUB_6_REGULAR--50.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=7 AND NpaType='REGULAR' AND DPD_Max BETWEEN 150 AND 179 THEN @VisionPlus_SUB_7_REGULAR--100.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=8 AND NpaType='REGULAR' AND DPD_Max BETWEEN 180 AND 209 THEN @VisionPlus_SUB_8_REGULAR--100.0000/15.0000
----									  WHEN C.AssetClassShortName='SUB' AND A.CD=9 AND NpaType='REGULAR' AND DPD_Max >=210 THEN @VisionPlus_SUB_9_REGULAR--100.0000/15.0000
									

----									  WHEN C.AssetClassShortName='DB1' AND A.CD=0 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_DB1_0_MULTIPLE--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=1 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_DB1_1_MULTIPLE--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=2 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 1 AND 29 THEN @VisionPlus_DB1_2_MULTIPLE--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=3 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_DB1_3_MULTIPLE--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=4 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_DB1_4_MULTIPLE--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=3 AND NpaType='STICKY'  AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_DB1_3_STICKY--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=4 AND NpaType='STICKY'  AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_DB1_4_STICKY--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=6 AND NpaType='REGULAR' AND DPD_Max BETWEEN 120 AND 149 THEN @VisionPlus_DB1_6_REGULAR--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=7 AND NpaType='REGULAR' AND  DPD_Max BETWEEN 150 AND 179 THEN @VisionPlus_DB1_7_REGULAR--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=8 AND NpaType='REGULAR' AND DPD_Max BETWEEN 180 AND 209 THEN @VisionPlus_DB1_8_REGULAR--100.0000/25.0000
----									  WHEN C.AssetClassShortName='DB1' AND A.CD=9 AND NpaType='REGULAR' AND DPD_Max >=210 THEN @VisionPlus_DB1_9_REGULAR--100.0000/25.0000


									

----									  WHEN C.AssetClassShortName='DB2' AND A.CD=0 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_DB2_0_MULTIPLE--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=1 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_DB2_1_MULTIPLE--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=2 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 1 AND 29 THEN @VisionPlus_DB2_2_MULTIPLE--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=3 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_DB2_3_MULTIPLE--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=4 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_DB2_4_MULTIPLE--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=2 AND NpaType='STICKY' AND DPD_Max BETWEEN 1 AND 29 THEN @VisionPlus_DB2_2_STICKY--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=3 AND NpaType='STICKY' AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_DB2_3_STICKY--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=4 AND NpaType='STICKY' AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_DB2_4_STICKY--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=5 AND NpaType='REGULAR' AND DPD_Max BETWEEN 90 AND 119 THEN @VisionPlus_DB2_5_REGULAR--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=6 AND NpaType='REGULAR' AND DPD_Max BETWEEN 120 AND 149 THEN @VisionPlus_DB2_6_REGULAR--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=7 AND NpaType='REGULAR' AND DPD_Max BETWEEN 150 AND 179 THEN @VisionPlus_DB2_7_REGULAR--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=8 AND NpaType='REGULAR' AND DPD_Max BETWEEN 180 AND 209 THEN @VisionPlus_DB2_8_REGULAR--100.0000/40.0000
----									  WHEN C.AssetClassShortName='DB2' AND A.CD=9 AND NpaType='REGULAR' AND DPD_Max >=210 THEN @VisionPlus_DB2_9_REGULAR--100.0000/40.0000


----									  WHEN C.AssetClassShortName='DB3' AND A.CD=0 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_DB3_0_MULTIPLE--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=1 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 0 AND 0 THEN @VisionPlus_DB3_1_MULTIPLE--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=2 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 1 AND 29 THEN @VisionPlus_DB3_2_MULTIPLE--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=3 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_DB3_3_MULTIPLE--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=4 AND NpaType='MULTIPLE' AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_DB3_4_MULTIPLE--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=2 AND NpaType='STICKY' AND DPD_Max BETWEEN 1 AND 29 THEN @VisionPlus_DB3_2_STICKY--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=3 AND NpaType='STICKY' AND DPD_Max BETWEEN 30 AND 59 THEN @VisionPlus_DB3_3_STICKY--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=4 AND NpaType='STICKY' AND DPD_Max BETWEEN 60 AND 89 THEN @VisionPlus_DB3_4_STICKY--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=5 AND NpaType='REGULAR' AND DPD_Max BETWEEN 90 AND 119 THEN @VisionPlus_DB3_5_REGULAR--100.0000/100.0000
----                                      WHEN C.AssetClassShortName='DB3' AND A.CD=6 AND NpaType='REGULAR' AND DPD_Max BETWEEN 120 AND 149 THEN @VisionPlus_DB3_6_REGULAR--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=7 AND NpaType='REGULAR' AND DPD_Max BETWEEN 150 AND 179 THEN @VisionPlus_DB3_7_REGULAR--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=8 AND NpaType='REGULAR' AND DPD_Max BETWEEN 180 AND 209 THEN @VisionPlus_DB3_8_REGULAR--100.0000/100.0000
----									  WHEN C.AssetClassShortName='DB3' AND A.CD=9 AND NpaType='REGULAR' AND DPD_Max >=210 THEN @VisionPlus_DB3_9_REGULAR--100.0000/100.0000
----									  WHEN C.AssetClassShortName='LOS' THEN @VISIONPLUS_LOS--100.0000/100.0000
----									  ELSE 0

----								  END )
----FROM PRO.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
----AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
----INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
----AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
----WHERE B.SourceName='VisionPLUS' and C.AssetClassGroup='NPA'
----AND ISNULL(A.AccountStatus,'N')<>'Z' 

---As per Bank Mail New Condition 13/05/2022---

/*--------------UPDATE PROVISION ALT KEY--------------*/				
UPDATE A SET A.ProvisionAlt_Key= (CASE 
           --                        WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN 0 AND 90 THEN @VisionPlus_SUB_0--25.0000/25.0000   
								   --WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN 91 AND 119 THEN @VisionPlus_SUB_1--25.0000/25.0000   
								   --WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN 120 AND 149 THEN @VisionPlus_SUB_2--50.0000/50.0000  
								   --WHEN C.AssetClassShortName='SUB'  AND DPD_Max >=150 THEN @VisionPlus_SUB_3--100.0000/100.0000						
								   WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN @LowerDPD_VisionPlus_SUB_0 AND @UpperDPD_VisionPlus_SUB_0 THEN @VisionPlus_SUB_0--25.0000/25.0000   -- cases added by Pranay -- mail dated 2023-05-04
								   WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN @LowerDPD_VisionPlus_SUB_1 AND @UpperDPD_VisionPlus_SUB_1 THEN @VisionPlus_SUB_1--25.0000/25.0000   
								   WHEN C.AssetClassShortName='SUB'  AND DPD_Max BETWEEN @LowerDPD_VisionPlus_SUB_2 AND @UpperDPD_VisionPlus_SUB_2 THEN @VisionPlus_SUB_2--50.0000/50.0000  
								   WHEN C.AssetClassShortName='SUB'  AND DPD_Max >=@LowerDPD_VisionPlus_SUB_3 THEN @VisionPlus_SUB_3--100.0000/100.0000  

						
								  WHEN C.AssetClassShortName='DB1'  THEN @VisionPlus_DB1--100.0000/100.0000  
								  WHEN C.AssetClassShortName='DB2'  THEN @VisionPlus_DB2--100.0000/100.0000  
								  WHEN C.AssetClassShortName='DB3'  THEN @VisionPlus_DB3--100.0000/100.0000  
								  WHEN C.AssetClassShortName='LOS' THEN @VISIONPLUS_LOS--100.0000/100.0000  
									  ELSE 0

								  END )
FROM PRO.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE B.SourceName='VisionPLUS' and C.AssetClassGroup='NPA'


/*--------------DEFAULT value AFTER UPDATE ACUTAL KEY--------------*/
UPDATE A SET A.ProvisionAlt_Key=
                (CASE WHEN C.AssetClassShortName='SUB' THEN  @SubStandard--15.0000/15.0000
				      WHEN C.AssetClassShortName='DB1' THEN  @DoubtfulI--25.0000/25.0000
					  WHEN C.AssetClassShortName='DB2' THEN  @DoubtfulII--40.0000/40.0000
					  WHEN C.AssetClassShortName='DB3' THEN  @DoubtfulIII--100.0000/100.0000
					  WHEN C.AssetClassShortName='LOS' THEN  @Loss--100.0000/100.0000
					  ELSE 0
					END)
FROM PRO.ACCOUNTCAL A INNER JOIN DimSourceDB B  ON A.SourceAlt_Key=B.SourceAlt_Key
     AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
     AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  C.ASSETCLASSGROUP='NPA' and ISNULL(A.ProvisionAlt_Key,0.00)=0 AND ISNULL(A.AccountStatus,'N')<>'Z'


UPDATE A 
		SET A.PROVISIONALT_KEY=@SubStandardAbinitioUnsecured
	FROM PRO.ACCOUNTCAL A 
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
     AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  C.ASSETCLASSGROUP='NPA' 
	AND C.AssetClassShortName  IN('SUB') 
	AND A.FlgAbinitio='Y'



---As per Bank Mail New Condition 13/05/2022---

update A set   ProvisionAlt_Key=0
FROM PRO.AccountCal A INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE B.SourceName='VisionPLUS' and C.AssetClassGroup='NPA' 
and AssetClassShortName='SUB'
and DPD_Max >=150 and  ISNULL(A.AccountStatus,'N')='Z'  
								  
UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
WHERE RUNNINGPROCESSNAME='UpdateProvisionKey_AccountWise'


END TRY
BEGIN  CATCH
	
UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
WHERE RUNNINGPROCESSNAME='UpdateProvisionKey_AccountWise'

END CATCH
   SET NOCOUNT OFF
END


GO
