USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[Marking_FlgPNPA_20220811]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*=========================================
 AUTHER : TRILOKI SHANKER KHANNA
 CREATE DATE : 18-11-2017
 MODIFY DATE : 03-09-2019
 DESCRIPTION : MARKING OF FlgPNPA AND DEG REASON 
  EXEC [PRO].[Marking_FlgPNPA] 25933
=============================================*/
CREATE PROCEDURE [pro].[Marking_FlgPNPA_20220811]
@TIMEKEY INT
with recompile
AS
BEGIN
   SET NOCOUNT ON
  BEGIN TRY

     
DECLARE @PROCESSDATE DATE= (SELECT DATE FROM SYSDAYMATRIX WHERE TIMEKEY=@TIMEKEY)
--CHANGES DONE TO HANDLE PNPA FOR 61 DAYS TRILOKI 08092019---
--DECLARE @PNPAPROCESSDATE DATE  =(SELECT EOMONTH(DATE) FROM SYSDAYMATRIX WHERE CAST(DATE AS DATE) =@PROCESSDATE)
--DECLARE @PNPA_DAYS INT =DATEDIFF(DAY,@PROCESSDATE,@PNPAPROCESSDATE)
DECLARE @PNPAPROCESSDATE DATE  =(SELECT DATE FROM SYSDAYMATRIX WHERE TIMEKEY=@TIMEKEY)--(SELECT EOMONTH(DATE) FROM SYSDAYMATRIX WHERE CAST(DATE AS DATE) =@PROCESSDATE)
DECLARE @PNPA_DAYS INT =DATEDIFF(DAY,@PROCESSDATE,@PNPAPROCESSDATE)


/*--------------------INTIAL LEVEL FlgPNPA SET N-------------------------------------------- */

--UPDATE A SET A.FlgPNPA='N',PNPA_DATE=NULL
--FROM PRO.AccountCal A INNER JOIN PRO.CustomerCal B ON A.RefCustomerID =B.RefCustomerID
--WHERE (B.FlgProcessing='N')

UPDATE A SET A.FlgPNPA='N',PNPA_DATE=NULL FROM PRO.AccountCal A   -- Modification DONE 03/09/2019 TRILOKI 


/*-----------------UPDATE FlgPNPA FLAG AT CUSTOMER LEVEL-----------------------------------------*/
 
--UPDATE B SET B.FlgPNPA='N' FROM PRO.ACCOUNTCAL A INNER JOIN  PRO.CustomerCal B 
--ON A.RefCustomerID=B.RefCustomerID
--WHERE  B.FlgProcessing='N'


--UPDATE  A SET A.PNPA_Reason=NULL 
--FROM PRO.AccountCal A INNER JOIN PRO.CustomerCal B ON A.RefCustomerID =B.RefCustomerID
--WHERE (B.FlgProcessing='N')

/*---------------UPDATE FlgPNPA FLAG AT ACCOUNT LEVEL----------------------------------------------------*/
--UPDATE A SET A.FLGPNPA =(CASE   WHEN  ((A.DPD_INTSERVICE+@PNPA_DAYS)>=A.REFPERIODINTSERVICE)   THEN 'Y' 
--								WHEN  ((A.DPD_NOCREDIT+@PNPA_DAYS)>=A.REFPERIODNOCREDIT)       THEN 'Y'
--								WHEN  ((A.DPD_OVERDUE+@PNPA_DAYS) >=A.REFPERIODOVERDUE)        THEN 'Y' 
--								WHEN  ((A.DPD_STOCKSTMT+@PNPA_DAYS)>=A.REFPERIODSTKSTATEMENT)  THEN 'Y' 
--								WHEN  ((A.DPD_RENEWAL+@PNPA_DAYS)>=A.REFPERIODREVIEW)          THEN 'Y'
--								WHEN  ((A.DPD_Overdrawn+@PNPA_DAYS)>=A.REFPERIODOVERDRAWN)          THEN 'Y'
--							ELSE 'N'  END)
--FROM PRO.ACCOUNTCAL A   INNER JOIN PRO.CustomerCal B ON A.RefCustomerID =B.RefCustomerID
--WHERE  (a.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
--AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
--AND (isnull(B.FlgProcessing,'N')='N')
--AND ISNULL(A.FLGMOC,'N')<>'Y'
----and isnull(A.BALANCE,0)>0
--AND (ISNULL(A.Balance,0)>0 OR ISNULL(A.PrincOutStd,0)>0)

--With  KCC POTENTIAL NPA ACCOUNT CONDITION CHANGES DONE 08092019 TRILOKI---

--UPDATE A SET A.FLGPNPA =(CASE   WHEN  ((A.DPD_INTSERVICE+@PNPA_DAYS)>=335)   THEN 'Y' 
--								WHEN  ((A.DPD_NOCREDIT+@PNPA_DAYS)>=335)       THEN 'Y'
--								WHEN  ((A.DPD_OVERDUE+@PNPA_DAYS) >=335)        THEN 'Y' 
--								WHEN  ((A.DPD_STOCKSTMT+@PNPA_DAYS)>=335)  THEN 'Y' 
--								WHEN  ((A.DPD_RENEWAL+@PNPA_DAYS)>=335)          THEN 'Y'
--								WHEN  ((A.DPD_Overdrawn+@PNPA_DAYS)>=335)          THEN 'Y'
--							ELSE 'N'  END)
--FROM PRO.ACCOUNTCAL A   INNER JOIN PRO.CustomerCal B ON A.RefCustomerID =B.RefCustomerID
--INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
--WHERE  (a.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
--AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
--AND (isnull(B.FlgProcessing,'N')='N')
--AND ISNULL(A.FLGMOC,'N')<>'Y'
--AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
--OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
--OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
-- OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
-- OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
-- OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
-- OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
-- OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
-- OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%'
-- ))
--) AND (ISNULL(A.Balance,0)>0 OR ISNULL(A.PrincOutStd,0)>0)



UPDATE A SET A.FLGPNPA =(CASE   WHEN  ((A.DPD_INTSERVICE+@PNPA_DAYS)>=335)   THEN 'Y' 
								WHEN  ((A.DPD_NOCREDIT+@PNPA_DAYS)>=335)       THEN 'Y'
								WHEN  ((A.DPD_OVERDUE+@PNPA_DAYS) >=335)        THEN 'Y' 
								WHEN  ((A.DPD_STOCKSTMT+@PNPA_DAYS)>=335)  THEN 'Y' 
								WHEN  ((A.DPD_RENEWAL+@PNPA_DAYS)>=335)          THEN 'Y'
								WHEN  ((A.DPD_Overdrawn+@PNPA_DAYS)>=335)          THEN 'Y'
							ELSE 'N'  END)
FROM PRO.ACCOUNTCAL A     -- Modification DONE 03/09/2019 TRILOKI 
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (a.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
AND ISNULL(A.FLGMOC,'N')<>'Y'
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%'
 ))
) AND (ISNULL(A.Balance,0)>0 OR ISNULL(A.PrincOutStd,0)>0)


-- Modification DONE 03/09/2019 TRILOKI 
IF OBJECT_ID('TEMPDB..#TEMPTABLEKCC') IS NOT NULL
 DROP TABLE #TEMPTABLEKCC
 
SELECT A.AccountEntityID
INTO #TEMPTABLEKCC 
FROM PRO.ACCOUNTCAL A     
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
AND ISNULL(A.FLGMOC,'N')<>'Y'
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%'
 ))
) AND (ISNULL(A.Balance,0)>0 OR ISNULL(A.PrincOutStd,0)>0)


--WithOUT KCC POTENTIAL NPA ACCOUNT CONDITION CHANGES DONE 08092019 TRILOKI---

--UPDATE A SET A.FLGPNPA =(CASE   WHEN  ((A.DPD_INTSERVICE+@PNPA_DAYS)>=61)   THEN 'Y' 
--								WHEN  ((A.DPD_NOCREDIT+@PNPA_DAYS)>=61)       THEN 'Y'
--								WHEN  ((A.DPD_OVERDUE+@PNPA_DAYS) >=61)        THEN 'Y' 
--								WHEN  ((A.DPD_STOCKSTMT+@PNPA_DAYS)>=61)  THEN 'Y' 
--								WHEN  ((A.DPD_RENEWAL+@PNPA_DAYS)>=61)          THEN 'Y'
--								WHEN  ((A.DPD_Overdrawn+@PNPA_DAYS)>=61)          THEN 'Y'
--							ELSE 'N'  END)
--FROM PRO.ACCOUNTCAL A   INNER JOIN PRO.CustomerCal B ON A.RefCustomerID =B.RefCustomerID
--INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
--WHERE  (a.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
--AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
--AND (isnull(B.FlgProcessing,'N')='N')
--AND ISNULL(A.FLGMOC,'N')<>'Y'
--AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'
----and isnull(A.BALANCE,0)>0
--AND (ISNULL(A.Balance,0)>0 OR ISNULL(A.PrincOutStd,0)>0)
-- AND (isnull(A.FLGPNPA,'N')='N')

UPDATE A SET A.FLGPNPA =(CASE   WHEN  ((A.DPD_INTSERVICE+@PNPA_DAYS)>=61)   THEN 'Y' 
								WHEN  ((A.DPD_NOCREDIT+@PNPA_DAYS)>=61)       THEN 'Y'
								WHEN  ((A.DPD_OVERDUE+@PNPA_DAYS) >=61)        THEN 'Y' 
								WHEN  ((A.DPD_STOCKSTMT+@PNPA_DAYS)>=61)  THEN 'Y' 
								WHEN  ((A.DPD_RENEWAL+@PNPA_DAYS)>=61)          THEN 'Y'
								WHEN  ((A.DPD_Overdrawn+@PNPA_DAYS)>=61)          THEN 'Y'
							ELSE 'N'  END)
FROM PRO.ACCOUNTCAL A     -- Modification DONE 03/09/2019 TRILOKI 
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (a.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
AND ISNULL(A.FLGMOC,'N')<>'Y'
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'
AND (ISNULL(A.Balance,0)>0 OR ISNULL(A.PrincOutStd,0)>0)
AND (isnull(A.FLGPNPA,'N')='N')
AND  A.AccountEntityID NOT IN ( SELECT AccountEntityID FROM #TEMPTABLEKCC)



--------/*----------------------------------HANDLE TO RESTRUCTURE ACCOUNT ----------------------------------*/

--------UPDATE A SET A.FlgPNPA='Y',a.PNPA_Reason='Account Restructured after 01-04-2015', A.PNPA_DATE=@PNPAPROCESSDATE
--------FROM PRO.AccountCal A INNER JOIN Curdat.AdvAcRestructureDetail B ON A.AccountEntityID=B.AccountEntityId
--------AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
--------WHERE B.RestructureDt IS NOT NULL AND RestructureDt >= '2015-04-01' and RestructureDt >= DATEADD(YEAR,-1,@PNPAPROCESSDATE) AND ISNULL(FinalAssetClassAlt_Key,1)=1 AND ISNULL(A.Balance,0)>0


--------/*-------------------------REVERSING DEGRADED ACCOUNT THROUGH NORMAL PROCESS--------------*/
--------UPDATE B SET B.FlgPNPA=
--------(CASE WHEN ISNULL(SDR_INVOKED,'N')='Y' AND  DATEADD(DAY,@PNPA_DAYS, SDR_REFER_DATE) >DATEADD(MONTH,-18,@PNPAPROCESSDATE) THEN 'N'
--------ELSE B.FlgPNPA
-------- END)

-------- ,b.PNPA_Reason=(CASE WHEN ISNULL(SDR_INVOKED,'N')='Y' AND  DATEADD(DAY,@PNPA_DAYS, SDR_REFER_DATE) >DATEADD(MONTH,-18,@PNPAPROCESSDATE) THEN null
--------ELSE b.PNPA_Reason
-------- END)

-------- ,B.PNPA_DATE=(CASE WHEN ISNULL(SDR_INVOKED,'N')='Y' AND  DATEADD(DAY,@PNPA_DAYS, SDR_REFER_DATE) >DATEADD(MONTH,-18,@PNPAPROCESSDATE) THEN  NULL ELSE B.PNPA_DATE END )

--------FROM  Curdat.AdvAcRestructureDetail A INNER JOIN PRO.AccountCal
-------- B ON A.AccountEntityId=B.AccountEntityID
-------- AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
-------- WHERE  CustomerEntityID  NOT IN(SELECT CustomerEntityID FROM AdvAcProjectDetail WHERE EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
-------- AND   A.SDR_REFER_DATE IS NOT NULL   AND ISNULL(FinalAssetClassAlt_Key,1)=1 AND ISNULL(B.Balance,0)>0
  

--------UPDATE B SET B.FlgPNPA=
--------(CASE WHEN ISNULL(S4A_IMPLEMENTAION_FLG,'N')='Y' AND   DATEADD(DAY,@PNPA_DAYS,S4A_REFERENCE_DATE) >DATEADD(DAY,-180,@PNPAPROCESSDATE) THEN 'N'
--------    ELSE B.FlgPNPA
-------- END)

-------- ,b.PNPA_Reason=(CASE WHEN ISNULL(S4A_IMPLEMENTAION_FLG,'N')='Y' AND   DATEADD(DAY,@PNPA_DAYS,S4A_REFERENCE_DATE) >DATEADD(DAY,-180,@PNPAPROCESSDATE) THEN null
--------    ELSE b.PNPA_Reason
-------- END)

-------- ,B.PNPA_DATE=(CASE WHEN ISNULL(S4A_IMPLEMENTAION_FLG,'N')='Y' AND   DATEADD(DAY,@PNPA_DAYS,S4A_REFERENCE_DATE) >DATEADD(DAY,-180,@PNPAPROCESSDATE) THEN NULL ELSE B.PNPA_DATE END)

--------FROM   PRO.AccountCaL B
--------INNER JOIN AdvAcProjectDetail C ON C.RefAccountEntityId=B.AccountEntityID
--------AND  C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
--------WHERE    S4A_REFERENCE_DATE IS NOT NULL AND  ISNULL(FinalAssetClassAlt_Key,1)=1 AND ISNULL(B.Balance,0)>0


--------UPDATE C SET C.FlgPNPA=( CASE WHEN  ISNULL(SDR_INVOKED,'N')='N'  AND ISNULL(S4A_IMPLEMENTAION_FLG,'N')='N' 
--------AND  DATEADD(DAY,@PNPA_DAYS,RevisedCompletionDt)>@PNPAPROCESSDATE THEN 'N' ELSE FlgPNPA  END )
--------,c.PNPA_Reason=
--------( CASE WHEN  ISNULL(SDR_INVOKED,'N')='N'  AND ISNULL(S4A_IMPLEMENTAION_FLG,'N')='N' 
--------AND  DATEADD(DAY,@PNPA_DAYS,RevisedCompletionDt)>@PNPAPROCESSDATE THEN null ELSE c.PNPA_Reason  END )

--------, C.PNPA_DATE=(CASE WHEN  ISNULL(SDR_INVOKED,'N')='N'  AND ISNULL(S4A_IMPLEMENTAION_FLG,'N')='N' 
--------AND  DATEADD(DAY,@PNPA_DAYS,RevisedCompletionDt)>@PNPAPROCESSDATE THEN null ELSE PNPA_DATE END )

-------- FROM Curdat.AdvAcRestructureDetail A INNER JOIN AdvAcProjectDetail B ON A.AccountEntityId=B.RefAccountEntityId
-------- AND (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)
-------- AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
-------- INNER JOIN PRO.AccountCal C ON  C.AccountEntityID=A.AccountEntityId
-------- WHERE    B.RevisedCompletionDt IS NOT NULL AND  ISNULL(FinalAssetClassAlt_Key,1)=1 AND ISNULL(C.Balance,0)>0


 /*-------------------------ASSIGNE NPA REASON-------------------------------------------------*/

 


UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+',DEGRADE BY INT NOT SERVICED' 
             ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_INTSERVICE+@PNPA_DAYS-365),@PNPAPROCESSDATE)
FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID  -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DIMPRODUCT C ON C.PRODUCTALT_KEY=A.PRODUCTALT_KEY AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_INTSERVICE+@PNPA_DAYS)>=335)) 
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%')))

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY CONTI EXCESS'
           ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDRAWN+@PNPA_DAYS-365),@PNPAPROCESSDATE)
FROM PRO.AccountCal A-- INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_OVERDRAWN+@PNPA_DAYS)>=335)) 
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%')))

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY OVERDUE'    
      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-365 ),@PNPAPROCESSDATE)          
FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=335))  
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%' )))

UPDATE A SET A.PNPA_Reason= 'DEGRADE BY DEBIT BALANCE'    
      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-365 ),@PNPAPROCESSDATE)          
FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=335))  
AND A.DebitSinceDt IS NOT NULL AND ISNULL(C.SrcSysProductCode,'N')='SAVING'
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%' )))

UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY NO CREDIT'   
         ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_NOCREDIT+@PNPA_DAYS-365 ),@PNPAPROCESSDATE)
FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND (A.DPD_NOCREDIT+@PNPA_DAYS)>=335)
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%' )))

UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY STOCK STATEMENT' 
            ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_STOCKSTMT+@PNPA_DAYS-365 ),@PNPAPROCESSDATE)   
FROM PRO.AccountCal A ---INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND (A.DPD_STOCKSTMT+@PNPA_DAYS)>=335)  
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%' )))

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY REVIEW DUE DATE'   
,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_RENEWAL+@PNPA_DAYS-365 ),@PNPAPROCESSDATE)    
FROM PRO.AccountCal A-- INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND (A.DPD_RENEWAL+@PNPA_DAYS)>=335)
AND (ISNULL(C.PRODUCTGROUP,'N')='KCC'
OR ((LineCode LIKE '%CROP_OD_F%' or LineCode LIKE '%CROP_DLOD%' or LineCode LIKE '%CROP_TL_F%'))
OR( (ACCOUNTSTATUS LIKE '%CROP LOAN (OTHER THAN PL%' OR ACCOUNTSTATUS LIKE '%CROP LOAN (PLANT N HORTI%' OR ACCOUNTSTATUS LIKE '%PRE AND POST-HARVEST ACT%'
 OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST HYPOTHEC%' OR ACCOUNTSTATUS LIKE '%FARMERS AGAINST PLEDGE O%' OR ACCOUNTSTATUS LIKE '%PLANTATION/HORTICULTURE%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_OTR THAN PL%'
 OR ACCOUNTSTATUS LIKE '%365_CROP LOAN_PLANT/HORTI%'
 OR ACCOUNTSTATUS LIKE '%365_DEVELOPMENTAL ACTIVI%'
 OR ACCOUNTSTATUS LIKE '%365_LAND DEVELOPMENT%'
 OR ACCOUNTSTATUS LIKE '%365_PLANTATION/HORTI%' )))

 
UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+',DEGRADE BY INT NOT SERVICED' 
             ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_INTSERVICE+@PNPA_DAYS-91),@PNPAPROCESSDATE)
FROM PRO.AccountCal A ---INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_INTSERVICE+@PNPA_DAYS)>=61)) 
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY CONTI EXCESS'
           ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDRAWN+@PNPA_DAYS-91),@PNPAPROCESSDATE)
FROM PRO.AccountCal A ---INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDRAWN+@PNPA_DAYS)>=61)) 
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY OVERDUE'    
      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-91 ),@PNPAPROCESSDATE)          
FROM PRO.AccountCal A ---INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=61))  
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'

UPDATE A SET A.PNPA_Reason= 'DEGRADE BY DEBIT BALANCE'    
      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-91 ),@PNPAPROCESSDATE)          
FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=61))  
AND A.DebitSinceDt IS NOT NULL AND ISNULL(C.SrcSysProductCode,'N')='SAVING'
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'

UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY NO CREDIT'   
         ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_NOCREDIT+@PNPA_DAYS-91 ),@PNPAPROCESSDATE)
FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE   (A.FlgPNPA='Y' AND (A.DPD_NOCREDIT+@PNPA_DAYS)>=61)
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'

UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY STOCK STATEMENT' 
            ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_STOCKSTMT+@PNPA_DAYS-91 ),@PNPAPROCESSDATE)   
FROM PRO.AccountCal A ---INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND (A.DPD_STOCKSTMT+@PNPA_DAYS)>=61)  
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY REVIEW DUE DATE'   
,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_RENEWAL+@PNPA_DAYS-91 ),@PNPAPROCESSDATE)    
FROM PRO.AccountCal A--- INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND (A.DPD_RENEWAL+@PNPA_DAYS)>=61) 
AND ISNULL(C.PRODUCTGROUP,'N')<>'KCC'



 
 
/*-------------------UPDATE DEG FLAG AT CUSTOMER LEVEL------------------------------------------*/
UPDATE B SET B.FlgPNPA='Y' FROM PRO.ACCOUNTCAL A INNER JOIN  PRO.CustomerCal B 
ON A.RefCustomerID=B.RefCustomerID
WHERE A.FlgPNPA='Y' AND (B.FlgProcessing='N')


-- ADDED 18/11/2019 AS PER OBSERVATION
--UPDATE A SET A.PNPA_Reason='PERCOLATION BY' + ' ' + C.SOURCEDBNAME + '  ' + + 'CUST ID  '+ A.REFCUSTOMERID
--FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL B ON A.SOURCESYSTEMCUSTOMERID =B.SOURCESYSTEMCUSTOMERID
--	INNER JOIN DIMSOURCEDB  C ON C.SOURCEALT_KEY=B.SOURCEALT_KEY
--	AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
--	WHERE (B.FlgPNPA='Y')  AND (A.FlgPNPA='N') AND A.PNPA_REASON IS NULL

	IF OBJECT_ID('TEMPDB..#TEMPPNPAID') IS NOT NULL
  DROP TABLE #TEMPPNPAID

select B.SOURCEDBNAME ,A.RefCustomerID  into #TEMPPNPAID from PRO.ACCOUNTCAL A INNER JOIN DIMSOURCEDB  B ON A.SOURCEALT_KEY=B.SOURCEALT_KEY
inner  JOIN PRO.CUSTOMERCAL C on a.SOURCESYSTEMCUSTOMERID=c.SOURCESYSTEMCUSTOMERID
where (C.FlgPNPA='Y')  AND (A.FlgPNPA='Y')


 UPDATE A SET A.PNPA_Reason='PERCOLATION BY' + ' ' + D.SOURCEDBNAME + '  ' + + 'CUST ID  '+ A.RefCustomerID-- ADDED 18/11/2019 AS PER OBSERVATION
FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL B ON A.SOURCESYSTEMCUSTOMERID =B.SOURCESYSTEMCUSTOMERID
	INNER JOIN DIMSOURCEDB  C ON C.SOURCEALT_KEY=B.SOURCEALT_KEY
	AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
	INNER JOIN #TEMPPNPAID D on A.RefCustomerID = d.RefCustomerID
	WHERE (B.FlgPNPA='Y')  AND A.PNPA_REASON IS NULL

	------- ADDED 18/11/2019

IF OBJECT_ID('TEMPDB..#TEMPTABLEPNPA') IS NOT NULL
  DROP TABLE #TEMPTABLEPNPA

SELECT A.REFCUSTOMERID,MIN(A.PNPA_DATE) PNPA_DATE   INTO #TEMPTABLEPNPA   FROM PRO.ACCOUNTCAL A INNER JOIN  PRO.CUSTOMERCAL B 
ON A.REFCUSTOMERID=B.REFCUSTOMERID
WHERE B.FLGPNPA='Y' AND (B.FLGPROCESSING='N')
GROUP BY A.REFCUSTOMERID

UPDATE A SET A.PNPA_DT=B.PNPA_DATE
FROM PRO.CUSTOMERCAL A INNER JOIN #TEMPTABLEPNPA B ON A.REFCUSTOMERID=B.REFCUSTOMERID

UPDATE A SET A.PNPA_DATE=B.PNPA_DT FROM PRO.ACCOUNTCAL A INNER JOIN  PRO.CUSTOMERCAL B 
ON A.REFCUSTOMERID=B.REFCUSTOMERID
WHERE B.FLGPNPA='Y' AND (B.FLGPROCESSING='N')
AND A.FlgPNPA='Y' 

/*-----------------UPDATE FOR PnpaAssetClassAlt_key--------------------------------------------------*/
UPDATE A SET A.PNPAASSETCLASSALT_KEY=ISNULL(A.FINALASSETCLASSALT_KEY,1) FROM PRO.ACCOUNTCAL A INNER JOIN  PRO.CUSTOMERCAL B 
ON A.SourceSystemCustomerID=B.SourceSystemCustomerID
--WHERE (B.FLGPROCESSING='N')

IF OBJECT_ID('TEMPDB..#CTE_CUSTOMERWISEBALANCEPNPA') IS NOT NULL
   DROP TABLE #CTE_CUSTOMERWISEBALANCEPNPA

SELECT A.REFCUSTOMERID,SUM(ISNULL(A.BALANCE,0)) BALANCE INTO #CTE_CUSTOMERWISEBALANCEPNPA
 FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
WHERE    B.SYSASSETCLASSALT_KEY  IN (1) AND B.FLGDEG<>'Y'
 AND (ISNULL(B.FLGPROCESSING,'N')='N')    AND ISNULL(A.FACILITYTYPE,'N')NOT IN('INV','LC','BG')
and B.refcustomerid<>'0' 
GROUP BY A.REFCUSTOMERID

DECLARE @MoveToDB1 DECIMAL(5,2) =(SELECT cast(RefValue/100.00 as decimal(5,2))FROM PRO.refperiod where BusinessRule='MoveToDB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @MoveToLoss DECIMAL(5,2)=(SELECT cast(RefValue/100.00 as decimal(5,2)) FROM PRO.refperiod where BusinessRule='MoveToLoss' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)

UPDATE  B SET B.PNPA_Class_Key=
  (CASE WHEN  ISNULL(B.CurntQtrRv,0)< (ISNULL(C.BALANCE,0) *@MoveToLoss) AND D.AssetClassShortName<>'LOS' THEN   (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='LOS' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
       WHEN  ISNULL(B.CurntQtrRv,0) <(ISNULL(B.PrvQtrRV,0) *@MoveToDB1) AND (ISNULL(C.BALANCE,0)<= ISNULL(B.CurntQtrRv,0)) THEN   (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY) 
	   ELSE (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
   END)
FROM  PRO.AccountCal A INNER JOIN PRO.CustomerCal B ON A.RefCustomerID=B.RefCustomerID
INNER JOIN #CTE_CustomerWiseBalancePNPA C ON C.RefCustomerID=B.RefCustomerID
INNER JOIN DimAssetClass D ON D.AssetClassAlt_Key=B.SysAssetClassAlt_Key AND (D.EffectiveFromTimeKey<=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY)
WHERE ISNULL(A.Balance,0)>0  and b.FlgPNPA='Y'  AND (ISNULL(B.FlgProcessing,'N')='N')

	UPDATE  A SET A.PNPAASSETCLASSALT_KEY=B.PNPA_CLASS_KEY
	FROM  PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL B ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID
	WHERE B.FLGPNPA='Y'


 /*-------------------------START PUI PNPA PROCESS-------------------------*/

 
IF OBJECT_ID('TEMPDB..#TEMPTABLEPUI') IS NOT NULL
 DROP TABLE #TEMPTABLEPUI

SELECT 
 B.RefCustomerID AS CustomerID
,B.SourceSystemCustomerID 
,B.CustomerEntityID
,B.CustomerAcID
,B.AccountEntityID
,B.UCIF_ID
,B.UcifEntityID
,ProjectCatgAlt_Key
,c.ParameterName AS ProjectCategory
,OriginalEnvisagCompletionDt
,RevisedCompletionDt
,ActualCompletionDt
,ProjectDelReason_AltKey
,d.ParameterName AS ProdectDelReson
,StandardRestruct_AltKey
,E.ParameterName AS StandardRestruct
INTO #TEMPTABLEPUI
FROM AdvAcProjectDetail A
INNER JOIN PRO.AccountCal B
ON A.RefAccountEntityId=B.AccountEntityID

LEFT OUTER JOIN  DIMPARAMETER C ON A.PROJECTCATGALT_KEY=C.PARAMETERALT_KEY
and c.DimParameterName='ProjectCategory'
And C.EffectiveFromTimeKey<=@TimeKey And C.EffectiveToTimeKey>=@TimeKey

LEFT OUTER JOIN  DIMPARAMETER D ON A.PROJECTDELREASON_ALTKEY=D.PARAMETERALT_KEY
and D.DimParameterName='ProdectDelReson'
And D.EffectiveFromTimeKey<=@TimeKey And D.EffectiveToTimeKey>=@TimeKey

LEFT OUTER JOIN  DIMPARAMETER E ON A.STANDARDRESTRUCT_ALTKEY=E.PARAMETERALT_KEY
and E.DimParameterName='DimYesNo'
And E.EffectiveFromTimeKey<=@TimeKey And E.EffectiveToTimeKey>=@TimeKey

WHERE (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)
AND B.AccountEntityID>0



----SC-1---
UPDATE B SET FlgPNPA='N'
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory='Infra' AND (isnull(B.FLGPNPA,'N')='N')
AND ISNULL(OriginalEnvisagCompletionDt,'1900-01-01')>@PROCESSDATE 

----SC-2---
UPDATE B SET FlgPNPA='N'
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory='Infra' AND (isnull(B.FLGPNPA,'N')='N')
AND ActualCompletionDt IS NOT  NULL


----SC-3---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='O_SCOD/ R_SCOD (whichever is latest) is a passed date, Actual DCCO Blank',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory='Infra'
AND (isnull(B.FLGPNPA,'N')='N')
AND ISNULL(RevisedCompletionDt,OriginalEnvisagCompletionDt)<@PROCESSDATE 
AND ActualCompletionDt IS NULL 
AND ProdectDelReson='Beyond Control of Promoters'


----SC-4---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='O_SCOD > 3 yrs, R_SCOD Blank, Actual DCCO Blank, Delay Reason - Other',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory='Infra'
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,3,OriginalEnvisagCompletionDt)<@PROCESSDATE 
AND ActualCompletionDt IS NULL 
AND RevisedCompletionDt IS NULL
AND ProdectDelReson='Other'
and OriginalEnvisagCompletionDt is not null


----SC-5---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='R_SCOD > 2 yrs, Actual DCCO Bank, No Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory='Infra'
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,2,RevisedCompletionDt)<@PROCESSDATE 
AND ActualCompletionDt IS NULL 
AND ProdectDelReson<>'Court Case'
and RevisedCompletionDt is not null

----SC-6---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='R_SCOD > 3 yrs,  Actual DCCO Bank,  No Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory='Infra'
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,3,RevisedCompletionDt)<@PROCESSDATE 
AND ActualCompletionDt IS NULL 
AND ProdectDelReson='Other'
and RevisedCompletionDt is not null



--------SC-7---
----UPDATE B SET FlgPNPA='Y',PNPA_Reason='R_SCOD <= 4 yrs, Actual DCCO Bank,  Court case',PNPA_DATE=NULL
----FROM #TEMPTABLEPUI A
----INNER JOIN PRO.AccountCal B
----ON A.AccountEntityID=B.AccountEntityID
----WHERE ProjectCategory='Infra'
----AND (isnull(B.FLGPNPA,'N')='N')
----AND dateadd(year,4,RevisedCompletionDt)<@PROCESSDATE 
----AND ActualCompletionDt IS NULL 
----AND ProdectDelReson='Court Case'
----and RevisedCompletionDt is not null


----SC-8---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='R_SCOD > 4 yrs, Actual DCCO Bank,  Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory='Infra'
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,4,RevisedCompletionDt)<@PROCESSDATE 
AND ActualCompletionDt IS NULL 
AND ProdectDelReson='Court Case'
and RevisedCompletionDt is not null




----SC-9---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='O_SCOD > 1 yrs, R_SCOD Blank, Actual DCCO Bank, No Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory in('Non Infra','CRE')
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,1,OriginalEnvisagCompletionDt)<@PROCESSDATE 
AND ProdectDelReson<>'Court Case'
and OriginalEnvisagCompletionDt is not null
and RevisedCompletionDt is  null
and ActualCompletionDt is  null


----SC-10---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='O_SCOD > 2 yrs, R_SCOD Blank, Actual DCCO Bank,  No Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory in('Non Infra','CRE')
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,2,OriginalEnvisagCompletionDt)<@PROCESSDATE 
AND ProdectDelReson<>'Court Case'
and OriginalEnvisagCompletionDt is not null
and RevisedCompletionDt is  null
and ActualCompletionDt is  null



----SC-11---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='O_SCOD > 2 yrs, R_SCOD Blank, Actual DCCO Bank,  Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory in('Non Infra','CRE')
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,2,OriginalEnvisagCompletionDt)<@PROCESSDATE 
AND ProdectDelReson='Court Case'
and OriginalEnvisagCompletionDt is not null
and RevisedCompletionDt is  null
and ActualCompletionDt is  null

----SC-12---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='R_SCOD > 1 yrs,  Actual DCCO Blank, No Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory in('Non Infra','CRE')
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,1,RevisedCompletionDt)<@PROCESSDATE 
AND ProdectDelReson<>'Court Case'
and RevisedCompletionDt is not null
and ActualCompletionDt is  null

----SC-13---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='R_SCOD > 2 yrs,  Actual DCCO Blank,  No Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory in('Non Infra','CRE')
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,2,RevisedCompletionDt)<@PROCESSDATE 
AND ProdectDelReson<>'Court Case'
and RevisedCompletionDt is not null
and ActualCompletionDt is  null

----SC-14---
UPDATE B SET FlgPNPA='Y',PNPA_Reason='R_SCOD > 2 yrs,  Actual DCCO Blank,  Court case',PNPA_DATE=NULL
FROM #TEMPTABLEPUI A
INNER JOIN PRO.AccountCal B
ON A.AccountEntityID=B.AccountEntityID
WHERE ProjectCategory in('Non Infra','CRE')
AND (isnull(B.FLGPNPA,'N')='N')
AND dateadd(year,2,RevisedCompletionDt)<@PROCESSDATE 
AND ProdectDelReson='Court Case'
and RevisedCompletionDt is not null
and ActualCompletionDt is  null

 
 /*-------------------------END PUI PNPA PROCESS-------------------------*/
	

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_FlgPNPA'

	 DROP TABLE #TEMPTABLEPNPA
	 DROP TABLE #CTE_CUSTOMERWISEBALANCEPNPA 
	 DROP TABLE #TEMPTABLEKCC

END TRY
BEGIN  CATCH
	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_FlgPNPA'
END CATCH
SET NOCOUNT OFF
END













GO
