USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[ACDAILYTXNDETAILDAILY_INSERTBackupBeforeNewImplement]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--USE [YBL_TEMP]
--GO
--/****** Object:  StoredProcedure [PRO].[AcDailyTxnDetailDaily_Insert]    Script Date: 28/05/2020 21:01:43 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO


/*============================================
AUTHER : SANJEEV KUMAR SHARMA
CREATE DATE : 29-10-2018
MODIFY DATE : 29-10-2018
DESCRIPTION : DEMAND SET OFF INSERTION
--EXEC [Pro].[AcDailyTxnDetailDaily_Insert] 
===============================================*/
CREATE procedure [pro].[ACDAILYTXNDETAILDAILY_INSERTBackupBeforeNewImplement]
AS
 BEGIN TRY

DECLARE @STARTDATE  DATE = (SELECT CAST(STARTDATE AS DATE) FROM PRO.EXTDATE_MISDB WHERE FLG='Y')
DECLARE @ENDDATE  DATE   = (SELECT CAST(ENDDATE AS DATE) FROM PRO.EXTDATE_MISDB WHERE FLG='Y')

	INSERT INTO  [dbo].[InttServiceControlTbl] 
		(
			ProcessingDate
			,Tallied
			,StartTime
		)
		SELECT @StartDate ProcessingDate
				,'N' Tallied
				,GETDATE() StartTime



/* NEW DEMAND DATA WORKING */
IF OBJECT_ID('tempdb..#ACDAILYTXNDETAILDAILY_INT') IS NOT NULL
	DROP TABLE #ACDAILYTXNDETAILDAILY_INT

SELECT UCIF_ID,TxnValueDate,'DEBIT' TXNTYPE
		,'INTEREST' TXNSUBTYPE,
		(TXNAMOUNT) TXNAMOUNT,
		CUSTOMERID
	INTO #ACDAILYTXNDETAILDAILY_INT
FROM  CURDAT.ACDAILYTXNDETAIL
	WHERE TxnValueDate BETWEEN @StartDate AND @EndDate 
	and NOT(ISNULL(CUSTOMERID,'')='' OR CUSTOMERID='0') 
	AND TXNTYPE='DEBIT' and TxnSubType='INTEREST' 


 

UPDATE A
SET  A.UCIF_ID=B.UCIC_ID
from #ACDAILYTXNDETAILDAILY_INT A
	INNER JOIN YBL_ACS_MIS.[dbo].[CustomerData] (NOLOCK) B
	ON A.CUSTOMERID=B.FCR_CUSTOMERID
		WHERE (A.UCIF_ID IS NULL OR A.UCIF_ID='0' OR A.UCIF_ID='') 
			and b.UCIc_ID is not null
			and SourceSystemName='FCR'
TRUNCATE TABLE PRO.ACDAILYTXNDETAILDAILY

INSERT INTO PRO.ACDAILYTXNDETAILDAILY
(
UCIF_ID,TXNDATE,TXNTYPE,TXNSUBTYPE,TXNAMOUNT
)
SELECT UCIF_ID,TxnValueDate,'DEBIT' TXNTYPE
	,'INTEREST' TXNSUBTYPE,
	SUM(TXNAMOUNT)TRAN_AMT
FROM  #ACDAILYTXNDETAILDAILY_INT
WHERE UCIF_ID<>'0'
 --AND ExtDate=@StartDate ----Change logic to be discussed
GROUP BY UCIF_ID,TxnValueDate

--;WITH CTE_UCIF_ID
--AS(
--select UCIF_ID FROM pro.AdvAcCCDemandDetail_curnt TXN WHERE ISNULL(BalanceDemand,0)>0
--UNION
--SELECT UCIF_ID FROM PRO.ACDAILYTXNDETAILDAILY
--)

IF OBJECT_ID('tempdb..#CHQ_RETURN') IS NOT NULL
	DROP TABLE #CHQ_RETURN

select A.ENTITYKEY
INTO #CHQ_RETURN
from [CurDat].[AcDailyTxnDetail] a
	--INNER JOIN CTE_UCIF_ID u
	--	ON A.UCIF_ID=U.UCIF_ID	
	inner join [CurDat].[AcDailyTxnDetail] b
		on a.customeracid=b.customeracid
		and a.TxnValueDate=b.TxnValueDate
		and a.TxnAmount=b.TxnAmount
		and a.MnemonicCode=6501
		and b.MnemonicCode=9501
where A.TxnValueDate BETWEEN @StartDate AND @EndDate 


/* RECOVERY DATA WORK*/
IF OBJECT_ID('tempdb..#ACDAILYTXNDETAILDAILY_REC') IS NOT NULL
	DROP TABLE #ACDAILYTXNDETAILDAILY_REC

SELECT 
	UCIF_ID,TxnValueDate,'CREDIT' TXNTYPE
	,'RECOVERY' TXNSUBTYPE,
	(TXNAMOUNT)TXNAMOUNT,
	CUSTOMERID
 INTO #ACDAILYTXNDETAILDAILY_REC
FROM  CURDAT.ACDAILYTXNDETAIL A
	LEFT JOIN #CHQ_RETURN B
		ON A.ENTITYKEY=B.ENTITYKEY
WHERE TXNTYPE='CREDIT' AND  TxnSubType='RECOVERY' AND TRUECREDIT='Y'
	and NOT(ISNULL(CUSTOMERID,'')='' OR CUSTOMERID='0')  
	and TxnValueDate BETWEEN @StartDate AND @EndDate 
	AND B.ENTITYKEY IS NULL



UPDATE A
SET  A.UCIF_ID=B.UCIC_ID
from #ACDAILYTXNDETAILDAILY_REC A
	INNER JOIN YBL_ACS_MIS.[dbo].[CustomerData] (NOLOCK) B
	ON A.CUSTOMERID=B.FCR_CUSTOMERID
		WHERE (A.UCIF_ID IS NULL OR A.UCIF_ID='0' OR A.UCIF_ID='') 
			and b.UCIc_ID is not null
			and SourceSystemName='FCR'


INSERT INTO PRO.ACDAILYTXNDETAILDAILY
(
UCIF_ID,TXNDATE,TXNTYPE,TXNSUBTYPE,TXNAMOUNT
)
SELECT 
UCIF_ID,TxnValueDate,'CREDIT' TXNTYPE
,'RECOVERY' TXNSUBTYPE,
SUM(TXNAMOUNT)TRAN_AMT
FROM  #ACDAILYTXNDETAILDAILY_REC
--WHERE TXNTYPE='CREDIT' AND  TxnSubType='RECOVERY' AND TRUECREDIT='Y'
--and TxnValueDate BETWEEN @StartDate AND @EndDate 
 WHERE UCIF_ID<>'0'
GROUP BY UCIF_ID,TxnValueDate

--DELETE FROM PRO.CC_ACCOUNT_AUDIT WHERE STARTDATE=@StartDate AND ENDDATE=@EndDate

--INSERT INTO PRO.CC_ACCOUNT_AUDIT(ACTYPE,STARTDATE,ENDDATE)
--SELECT 'CC',@STARTDATE,@ENDDATE

--DECLARE @SUMDEBIT DECIMAL(18,2)=(SELECT ISNULL(SUM(TXNAMOUNT),0) FROM PRO.ACDAILYTXNDETAILDAILY WHERE TXNTYPE='DEBIT' AND TXNSUBTYPE='INTEREST'   AND UCIF_ID<>'0')
--DECLARE @SUMCREDIT DECIMAL(18,2)=(SELECT ISNULL(SUM(TXNAMOUNT),0) FROM PRO.ACDAILYTXNDETAILDAILY WHERE TXNTYPE='CREDIT' AND TXNSUBTYPE='RECOVERY' AND UCIF_ID<>'0')

--DECLARE @SUMDEBITFIN DECIMAL(18,2)=(SELECT ISNULL(SUM(TXNAMOUNT),0) FROM CURDAT.ACDAILYTXNDETAIL
--								     WHERE TXNTYPE='DEBIT' AND  TxnSubType='INTEREST'
--								     and TxnValueDate BETWEEN @StartDate AND @EndDate 
--									  AND UCIF_ID<>'0' )

--DECLARE @SUMCREDITFIN DECIMAL(18,2)=(SELECT ISNULL(SUM(TXNAMOUNT),0) FROM CURDAT.ACDAILYTXNDETAIL
--								     WHERE TXNTYPE='CREDIT' AND  TxnSubType='RECOVERY' AND TRUECREDIT='Y'
--								     and TxnValueDate BETWEEN @StartDate AND @EndDate
--									  AND UCIF_ID<>'0')

--UPDATE PRO.CC_ACCOUNT_AUDIT SET 
--SUMDEBIT=ISNULL(@SUMDEBIT,0) ,
--SUMCREDIT=ISNULL(@SUMCREDIT,0),
--SUMDEBITFIN=ISNULL(@SUMDEBITFIN,0),
--SUMCREDITFIN=ISNULL(@SUMCREDITFIN,0)
--WHERE STARTDATE=@STARTDATE AND ENDDATE=@ENDDATE AND ACTYPE='CC'


--IF (SELECT COUNT(1) FROM PRO.CC_ACCOUNT_AUDIT
--    WHERE (STARTDATE=@StartDate AND ENDDATE=@EndDate AND (SUMDEBIT<>SUMDEBITFIN  OR SUMCREDIT<>SUMCREDITFIN)) )>0
--BEGIN 
--  THROW 50001,'SOURCE TABLE AND DESTINATION TABLE DEBIT AND CREDIT AMOUNT NOT MATCHED',1
--END 

/*----------------AdvAcCCRecoveryDetail-------------------------------*/

TRUNCATE TABLE [DBO].[ADVACCCRECOVERYDETAIL]

INSERT INTO [DBO].[ADVACCCRECOVERYDETAIL] (UCIF_ID,
RECAMT,RECDATE,BALRECOVERY)
SELECT  
  UCIF_ID
  ,SUM(TXN.TXNAMOUNT) AS RECAMT
  ,TXN.TXNDATE AS RECDATE
  ,SUM(TXN.TXNAMOUNT) AS BALRECOVERY
FROM PRO.ACDAILYTXNDETAILDAILY TXN
WHERE TXN.TXNSUBTYPE = 'RECOVERY'
AND TXN.TXNDATE <= @EndDate AND TXN.TXNAMOUNT >0
 AND UCIF_ID<>'0'
GROUP BY UCIF_ID,TXNDATE

/*--------AdvAcCCDemandDetail---------------------------------*/
TRUNCATE TABLE [DBO].[ADVACCCDEMANDDETAIL]

INSERT INTO [DBO].[ADVACCCDEMANDDETAIL]
 (UCIF_ID ,DEMANDTYPE,DEMANDDATE
 ,DEMANDAMT,RECDATE,RECADJDATE,RECAMOUNT,BALANCEDEMAND
 ,DMDSCHNUMBER,ACTYPE)
SELECT   
   TXN.UCIF_ID
  ,TXN.TXNSUBTYPE AS DEMANDTYPE
  ,TXN.TXNDATE AS DEMANDDATE
  ,TXN.TXNAMOUNT AS DEMANDAMT
  ,NULL RECDATE
  ,NULL RECADJDATE
  ,NULL RECAMOUNT
  ,TXN.TXNAMOUNT AS BALANCEDEMAND
  ,0 DMDSCHNUMBER
  ,'CC' AS ACTYPE
FROM pro.ACDAILYTXNDETAILDAILY TXN
WHERE TXN.TXNSUBTYPE = 'INTEREST'
 AND UCIF_ID<>'0'
AND TXN.TXNDATE <= @EndDate 


INSERT INTO [DBO].[ADVACCCDEMANDDETAIL]
 (UCIF_ID ,DEMANDTYPE,DEMANDDATE
 ,DEMANDAMT,RECDATE,RECADJDATE,RECAMOUNT,BALANCEDEMAND
 ,DMDSCHNUMBER,ACTYPE)
SELECT   
   TXN.UCIF_ID
  ,TXN.DemandType AS DEMANDTYPE
  ,TXN.DemandDate AS DEMANDDATE
  ,TXN.DemandAmt AS DEMANDAMT
  ,NULL RECDATE
  ,NULL RECADJDATE
  ,NULL RECAMOUNT
  ,TXN.DemandAmt AS BALANCEDEMAND
  ,0 DMDSCHNUMBER
  ,'CC' AS ACTYPE
FROM pro.AdvAcCCDemandDetail_curnt TXN
WHERE ISNULL(BalanceDemand,0)>0


--IF OBJECT_ID('[DBO].[ADVACCCDEMANDDETAIL_BKP]','U') IS NOT NULL
--    DROP TABLE [DBO].[ADVACCCDEMANDDETAIL_BKP]

-- SELECT *  INTO [DBO].[ADVACCCDEMANDDETAIL_BKP] FROM [DBO].[ADVACCCDEMANDDETAIL]

--IF OBJECT_ID('[DBO].[ADVACCCRECOVERYDETAIL_BKP]','U') IS NOT NULL
--   DROP TABLE [DBO].[ADVACCCRECOVERYDETAIL_BKP]

-- SELECT * INTO [DBO].[ADVACCCRECOVERYDETAIL_BKP] FROM [DBO].[ADVACCCRECOVERYDETAIL]

/* CONTROL TABLE WORK */
	DECLARE
	@NewIntDmdCountSrc			INT=0
	,@NewIntDmdCountDest			INT=0
	,@MinDmdCountToBeServiced	INT=0

	SELECT @NewIntDmdCountSrc=COUNT(1) FROM PRO.ACDAILYTXNDETAILDAILY WHERE TXNSUBTYPE='INTEREST' AND TxnDate=@StartDate
	SELECT @NewIntDmdCountDest=COUNT(1) FROM pro.AdvAcCCDemandDetail_curnt A
	 WHERE ISNULL(BalanceDemand,0)>0

		SELECT @MinDmdCountToBeServiced=COUNT(DISTINCT A.UCIF_ID) 
			FROM [DBO].[ADVACCCDEMANDDETAIL] A
				INNER JOIN (SELECT UCIF_ID FROM [DBO].[ADVACCCRECOVERYDETAIL] GROUP BY UCIF_ID
							)B
							ON A.UCIF_ID=B.UCIF_ID

		UPDATE A
			set NewIntDmdCountSrc=@NewIntDmdCountSrc
				,NewIntDmdCountDest=@NewIntDmdCountDest
				,TotalDmdCountToBeServiced=@NewIntDmdCountSrc+@NewIntDmdCountDest
				,MinDmdCountToBeServiced=@MinDmdCountToBeServiced
		FROM [dbo].[InttServiceControlTbl] A
			WHERE ProcessingDate=@StartDate

END TRY
BEGIN CATCH
    SELECT 'ERROR PROCEDURE :'+ERROR_PROCEDURE()+'ERROR MESSAGE :'+ERROR_MESSAGE();
END CATCH


GO
