USE [YBL_ACS]
GO
/****** Object:  View [pro].[VADVACCCDEMANDDETAIL]    Script Date: 6/2/2025 11:38:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




 CREATE VIEW [pro].[VADVACCCDEMANDDETAIL]
 AS
 SELECT * FROM PRO.ADVACCCDEMANDDETAIL_OLD
 UNION ALL
 SELECT * FROM PRO.ADVACCCDEMANDDETAIL_CURNT




GO
