USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[UpdateUsedRV]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=====================================
AUTHER : SANJEEV KUMAR SHARMA
CREATE DATE : 05-07-2018
MODIFY DATE : 05-07-2018
DESCRIPTION : Update Used RV
EXEC pro.UpdateUsedRV  @TIMEKEY=25410
====================================*/
CREATE PROCEDURE [pro].[UpdateUsedRV]
@TimeKey INT
with recompile
AS
  BEGIN
     SET NOCOUNT ON
       BEGIN TRY
	    

  
 --UPDATE A SET A.USEDRV =0
 --FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL B ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID
 --WHERE ISNULL(B.FLGPROCESSING,'N')='N'


 UPDATE A SET A.USEDRV =(CASE WHEN ISNULL(C.AssetClassShortNameEnum,'STD')='LOS' 
	                                      THEN 0  
	                                 WHEN ISNULL(A.ApprRV,0) >= A.netbalance 
						                  THEN A.netbalance 
							    ELSE ISNULL(A.ApprRV,0) 
						        END)
      
 FROM PRO.ACCOUNTCAL A INNER JOIN PRO.CUSTOMERCAL B ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID
 INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
                         AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
 WHERE ISNULL(B.FLGPROCESSING,'N')='N'

 

UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdateUsedRV'


END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdateUsedRV'
END CATCH
			
     SET NOCOUNT OFF
END








GO
