USE [YBL_ACS]
GO
/****** Object:  StoredProcedure [pro].[BACKUP_TRUNCATE]    Script Date: 6/2/2025 11:38:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pro].[BACKUP_TRUNCATE]
AS

BEGIN
DECLARE @ACC VARCHAR(50)='SELECT * INTO YBL_ACS.PRO.[ACCOUNTCAL'
DECLARE @CUS VARCHAR(50)='SELECT * INTO YBL_ACS.PRO.[CUSTOMERCAL'
DECLARE @CO VARCHAR(50)= 'SELECT * INTO YBL_ACS.PRO.[COBORROWERDETAILS'
DECLARE @NPA VARCHAR(50)='SELECT * INTO YBL_ACS.CURDAT.[AdvCustNPAdetail'
DECLARE @SEC VARCHAR(50)='SELECT * INTO YBL_ACS..[AdvSecurityDetail'
DECLARE @SECVAL VARCHAR(50)='SELECT * INTO YBL_ACS..[AdvSecurityValueDetail'
DECLARE @DATE VARCHAR(50)= '_BKP_'+CAST(CAST(GETDATE() AS datetime2) AS VARCHAR(50))+']'

PRINT @DATE 


DECLARE @TAB1 VARCHAR(50)=' FROM YBL_ACS.PRO.ACCOUNTCAL'
DECLARE @TAB2 VARCHAR(50)=' FROM YBL_ACS.PRO.CUSTOMERCAL'
DECLARE @TAB3 VARCHAR(50)=' FROM YBL_ACS.PRO.COBORROWERDETAILS'
DECLARE @TAB4 VARCHAR(50)=' FROM YBL_ACS.CURDAT.AdvCustNPAdetail'
DECLARE @TAB5 VARCHAR(50)=' FROM YBL_ACS.CURDAT.AdvSecurityDetail'
DECLARE @TAB6 VARCHAR(50)=' FROM YBL_ACS.CURDAT.AdvSecurityValueDetail'

DECLARE @SQL1 VARCHAR(MAX)=(SELECT @ACC+@DATE+@TAB1)

DECLARE @SQL2 VARCHAR(MAX)=(SELECT @CUS+@DATE+@TAB2)

DECLARE @SQL3 VARCHAR(MAX)=(SELECT @CO+@DATE+@TAB3)

DECLARE @SQL4 VARCHAR(MAX)=(SELECT @NPA+@DATE+@TAB4)

DECLARE @SQL5 VARCHAR(MAX)=(SELECT @SEC+@DATE+@TAB5)

DECLARE @SQL6 VARCHAR(MAX)=(SELECT @SECVAL+@DATE+@TAB6)

PRINT @SQL1

PRINT @SQL2

PRINT @SQL3

PRINT @SQL4

PRINT @SQL5

PRINT @SQL6

EXEC (@SQL1)

EXEC (@SQL2) 

EXEC (@SQL3) 

EXEC (@SQL4) 

EXEC (@SQL5) 

EXEC (@SQL6) 

TRUNCATE TABLE YBL_ACS.PRO.ACCOUNTCAL

TRUNCATE TABLE YBL_ACS.PRO.CUSTOMERCAL

TRUNCATE TABLE YBL_ACS.PRO.COBORROWERDETAILS

TRUNCATE TABLE YBL_ACS.CURDAT.AdvCustNPAdetail

TRUNCATE TABLE YBL_ACS.CURDAT.AdvSecurityDetail

TRUNCATE TABLE YBL_ACS.CURDAT.AdvSecurityValueDetail

END
GO
